#linkHeader.col{
    flex: inherit;
    width: 10rem;
    margin: 10px;
}
.active {
    border-bottom: 6px solid white;
}

@media screen and (max-width: 460px) {
    h6{
        font-size: 11px;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}
@media screen and (max-width: 414px) {
    h6{
        font-size: 11px;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}

@media screen and (max-width: 320px) {
    h6 {
        font-size: 11px;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}