<div class="d-flex justify-content-center align-items-center  EmptyCardResultsHorizontal col ">
    <div style="transform: rotate(0.25turn);">
        @CardNumber
    </div>
 
</div>
@code{
    [Parameter]
    public string CardNumber { get; set; }
}

