<h6 class="mb-3 header">Transaction History</h6>
<table id="wallet-transactions" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Transcation</th>
            <th scope="col">Amount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>
                <span class="fw-bold">Apr 23, 2024</span><br />
                <span class="text-muted">06:30AM</span>
            </td>
            <td class="text-center">Cash-in</td>
            <td class="text-center">5,000</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<ViewTransactionDetails>("Transaction Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <span class="fw-bold">Apr 23, 2024</span><br />
                <span class="text-muted">06:30AM</span>
            </td>
            <td class="text-center">Cash-Out</td>
            <td class="text-center">5,000</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<ViewTransactionDetails>("Transaction Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1 delete"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <span class="fw-bold">Apr 23, 2024</span><br />
                <span class="text-muted">06:30AM</span>
            </td>
            <td class="text-center">Cash-in</td>
            <td class="text-center">5,000</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<ViewTransactionDetails>("Transaction Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <span class="fw-bold">Apr 23, 2024</span><br />
                <span class="text-muted">06:30AM</span>
            </td>
            <td class="text-center">Cash-Out</td>
            <td class="text-center">5,000</td>
            <td class="text-center">
                <button @onclick="@(() => Modal.Show<ViewTransactionDetails>("Transaction Details"))" class="btn viewDetails p-0 m-1">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="btn p-0 gpa-btn-delete m-1"> <i class="fa-regular fa-circle-xmark"></i></button>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

}