body {
    font-family: Open Sans,Oswald,Arial,sans-serif !important;
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
}

.marketing {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#000 20%,rgb(10, 10, 10) 60%,#101019 100%) !important;
    background-size: auto;
    background-repeat: repeat;
    min-height: 58rem;
}
li > a.nav-link{
    cursor: pointer;
    border: 1px transparent;
}

.nav-link:hover, .nav-link:focus {
    border: 1px transparent;
}

.nav-link.active {
    border-width: 0px 0px 4px 0px;
    border-color: #6e182c;
    border-style: solid;
}

#transaction-tab-pane {
    min-height: 20vh;
    max-height: 50vh;
    overflow-y: auto;
}

@media only screen and (min-width: 992px) {
    .wallet-cardContainer {
        width: 15rem;
    }
}

@media screen and (max-width: 991px) {
    .wallet-cardContainer {
        width: 6.5rem;
    }

    .wallet-sub {
        font-size: 13px;
    }

    .payment-select-wrapper {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .wallet-cardContainer {
        width: 5.5rem;
    }

    .wallet-sub {
        font-size: 13px;
    }

    .payment-select-wrapper {
        font-size: 12px;
    }

    .card-title {
        font-size: .95rem;
    }
}