.topupAmountContainer {
    padding: 2px;
    background-color: white;
    border-radius: 5px;
}
button {
    margin: 2px;
    color: white;
    background-color: #810202;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 10px !important;
   font-size: 13px;
}
button:hover {
    color: gold;
}

@media screen and (max-width: 340px) {
    button {
        font-size: 12px;
    }
}
