#goPlayAsia-carousel .carousel-indicators > button {
    width: 15px !important;
    display: inline-flex;
    border-radius: 50%;
    height: 15px !important;
    position: relative;
    top: 43px;
}
