@using GoPlayAsiaWebApp.Pages.GPAGames

<div class="container pb-4">
    <h2 class="text-white fw-bold pt-5">Most Played Games</h2>
    <h5 class="text-muted">Exploring the Gaming Community's Favorites!</h5>
    <div class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <GPATile _imgStr="./img/GPAGames/L9.png"
                     _idStr="lucky9"
                     _titleStr="Lucky 9"
                     _gameInfoHrefStr="games/lucky9" />

            <GPATile _imgStr="./img/GPAGames/L4.png"
                     _idStr="lucky4"
                     _titleStr="Lucky 4"
                     _gameInfoHrefStr="games/lucky4" />

            <GPATile _imgStr="./img/GPAGames/HT.png"
                     _idStr="headsAndTails"
                     _titleStr="Heads and Tails"
                     _gameInfoHrefStr="games/headstails" />

            <GPATile _imgStr="./img/GPAGames/F3.png"
                     _idStr="first3"
                     _titleStr="First 3"
                     _gameInfoHrefStr="games/first3" />

            <GPATile _imgStr="./img/GPAGames/BW.png"
                     _idStr="bigWin"
                     _titleStr="Big Win"
                     _gameInfoHrefStr="games/bigwin" />

            <GPATile _imgStr="./img/GPAGames/G12.png"
                     _idStr="go12"
                     _titleStr="Go 12"
                     _gameInfoHrefStr="games/go12" />

           @*  <GPATile _imgStr="./img/GPAGames/new-dice.png"
                     _idStr="diceGame"
                     _titleStr="Dice" />

            <GPATile _imgStr="./img/GPAGames/hooray.png"
                     _idStr="hooray"
                     _titleStr="Hooray!" /> *@
        </div>
    </div>
</div>