
<div class="container">
    <h2 class="text-white fw-bold mt-5">Live Casino</h2>
    <h5 class="text-muted">Your Seat Awaits: Dive into Live Casino Bliss</h5>
    <div class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_a.png"
                            _titleStr="Baccarat A" />

            <LiveCasinoTile _imgStr="./img/LiveGames/teenPatti.png"
                            _titleStr="Teen Patti" />

            <LiveCasinoTile _imgStr="./img/LiveGames/blackJack.png"
                            _titleStr="Black Jack" />

            <LiveCasinoTile _imgStr="./img/LiveGames/BlackjackdaSorte.png"
                            _titleStr="Blackjack da Sorte" />

            <LiveCasinoTile _imgStr="./img/LiveGames/32Cards.png"
                            _titleStr="32 Cards" />

            <LiveCasinoTile _imgStr="./img/LiveGames/casinoHoldEm.png"
                            _titleStr="Casino Hold'em" />

            <LiveCasinoTile _imgStr="./img/LiveGames/speedRoulette.png"
                            _titleStr="Speed Roulette" />

            <LiveCasinoTile _imgStr="./img/LiveGames/cricketRoulette.png"
                            _titleStr="Cricket Roulette" />

            <LiveCasinoTile _imgStr="./img/LiveGames/threeCardPoker.png"
                            _titleStr="Three Card Poker" />

            <LiveCasinoTile _imgStr="./img/LiveGames/andarBahar.png"
                            _titleStr="Andar Bahar" />

            <LiveCasinoTile _imgStr="./img/LiveGames/betOnNumbers.png"
                            _titleStr="Bet on Numbers" />

            <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_b.png"
                            _titleStr="Baccarat B" />

            <LiveCasinoTile _imgStr="./img/LiveGames/sicbo.png"
                            _titleStr="Sic Bo" />
        </div>
    </div>
</div>