<div id="headsAndTails" class="row">
    <img src="./img/GPAGames/HT.png" alt="" class="img-fluid img-fluid">
    <div class="container-fluid" style="font-size: 12px !important;">
        <p class="mt-3">A triple roll coins game. Three coins have H and T on each side.</p>
        <p>All Three coins are simultaneously, or one by one, inserted into the coin slot and roll down, once the coins land and settle on the floor, majority upper side wins.</p>
        <div class="row">
            <p class="mb-0"><b>METHOD OF PLAY</b></p>
            <p class="text-gray">Heads or Tails is a game variant patterned after coin flipping or coin tossing. It is played by rolling down three coins after inserting/loading them on the top slot of a transparent acrylic slide at the same time. Once the three coins finally settle on the floor, the majority side wins the game.</p><br>
            <p class="text-gray">Coins are colored red on one side with bold letter H and blue on the other side with bold letter T for easier identification.</p><br> <br>
            <p class="mb-0"><b>	DEFINITION OF TERMS</b></p>
            <p>
                <b>BETTING LIMIT </b>
                <span class="text-gray">the minimum and maximum amount of bets allowed per  game or variant</span>
            </p>
            <p>
                <b>DEALER </b>
                <span class="text-gray">a casino employee who conducts the game</span>
            </p>
            <p>
                <b>HEAD </b>
                <span class="text-gray">refers to the head side of the coin with the letter H on it.</span>
            </p>
            <p>
                <b>TAIL </b>
                <span class="text-gray">refers to the tale side with the letter T opposite the head.</span>
            </p>
            <p class="text-center"><b>TABLE LAYOUTS, EQUIPMENT AND PARAPHERNALIA</b></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Three (3) Coins colored blue and red with letters H and T.</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Square acrylic box with solid flooring and transparent acrylic slide</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Dealer electronic dashboard</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Dealer tablet for game result</span></p>
            <div class="row m-0 p-0">
                <p><b>Layout</b></p>
                <img src="./img/GameOverview/layout-ht.png" class="img-fluid img">
            </div>
            <p class="mb-0 mt-3"><b>DEALING PROCEDURES</b></p>
            <p class="text-gray mb-0">The following shall be observed:</p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> The Dealer shall refer to the Dealer’s Dashboard (with attached camera) before and after the deal for instruction and guidance.</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> Accepting of bets through remote gaming platforms ensues when the status on the Dealer Dashboard reads “OPEN".</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> Player bets on the desired side, Heads or Tails. Once the player clicks his/her choice, the bet amount option pop-up, either enter preset chip denominations or manually key-in the amount then click "PLACE BET," otherwise "CANCEL".</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> A confirmation button shall appear to confirm with a "Yes "or "No", the selected bet option.</span></p><br>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> The system countdown timer starts until the allotted period for betting ends. It automatically disables all access for betting and changes the betting status to "CLOSED" once the timer stops.</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> At the conclusion of the betting process, the Dealer shall perform the following procedures:</span></p>
            <p class="ms-3 text-gray">⦁	The Dealer shall pick up coins on the square acrylic box.</p>
            <p class="ms-3 text-gray">⦁	After retrieval, the Dealer shall immediately insert three (3) coins into the coin slot located on top of the transparent acrylic slide.</p>
            <p class="ms-3 text-gray">⦁	The Dealer shall push the slider lock to release the coins and wait until the coins settle on the square canister floor.</p>
            <p class="ms-3 text-gray">⦁	The Dealer shall encode the winning outcome on the Dealer's tablet for the Game Validator's confirmation.</p>
            <p class="ms-3 text-gray">⦁	After the Dealer determines the game result, another validation shall be performed by the proponent on a separate module ("Validator"). Only after confirmation of the result that the winning bets shall be processed.</p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-check text-secondary me-3"></i> The Dealer shall perform this dealing cycle continuously until relieved by another Dealer, the last deal has been announced, or the equipment needs to undergo maintenance.</span></p>

            <p class="text-center"><b>IRREGULARITIES</b></p>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> The attention of the Pit Supervisor (PS) must be called on all irregularities made or observed.</span></p><br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> Should the coins become damaged, deformed, cracked, chipped, or dented, the Dealer shall immediately inform the PS for replacement.</span></p><br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> The current game shall be considered valid if the damage, deformity, crack, or dent is detected only during play or as soon as the coins have settled on the floor, provided the defective coin/s remains intact. The defective coin/s must be replaced immediately after the game.</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> If the coin/s breaks, splits, or fragments into two or more pieces during play, the game is automatically deemed invalid, and the defective coin/s must be replaced immediately. The Dealer must then insert again the replacement into the coin slot regardless of where the split parts of the original coins may have settled.</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> If the coin/s has been dropped but has not come to rest in a stable position and/or leaning in a vertical position on a flat surface, the side with maximum exposure shall be considered and counted as the winning outcome.</span></p> <br>
        </div>
        <div class="container text-center p-0 mt-3">
            <a href="" class="btn btn-secondary">Watch Tutorial</a>
            <a href="" class="btn btn-warning">Play Now</a>
        </div>
    </div>
</div>