@page "/GoPlayAsiaGames"
@inject IModalService ModalService
@using GoPlayAsiaWebApp.Controls.Carousel.GPACarousel
@using GoPlayAsiaWebApp.Controls.GameLinkHeader
@using GoPlayAsiaWebApp.Controls.GameInfo
@using GoPlayAsiaWebApp.Pages.EGames.ArcadeGames
@using GoPlayAsiaWebApp.Pages.EGames.FishingGames
@using GoPlayAsiaWebApp.Pages.EGames.LiveCasino
<PageTitle>GoPlayAsia: GoPlayAsia Games </PageTitle>

<div id="cardGames" class="container-fluid p-0 marketing">
    <GPACarousel />

    <GameLinkHeader />

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Live and Exciting Games!</h2>
        <h5 class="text-muted">Real-Time Fun: Dive into Live Gaming Today!</h5>
        <div id="gpa-overflow" class="pb-2 gameOverflow-x">
            <div class="justify-content-center p-2">
                <GPATile _imgStr="./img/GPAGames/L9.png"
                         _idStr="lucky9"
                         _titleStr="Lucky 9"
                         _gameInfoHrefStr="/Lucky9Table" />

                <GPATile _imgStr="./img/GPAGames/HT.png"
                         _idStr="headsAndTails"
                         _titleStr="Heads and Tails"
                         _gameInfoHrefStr="games/headstails" />

                <GPATile _imgStr="./img/GPAGames/F3.png"
                         _idStr="first3"
                         _titleStr="First 3"
                         _gameInfoHrefStr="games/first3" />

                <GPATile _imgStr="./img/GPAGames/G12.png"
                         _idStr="go12"
                         _titleStr="Go 12"
                         _gameInfoHrefStr="games/go12" />

                @* <GPATile _imgStr="./img/GPAGames/L4.png"
                _idStr="lucky4"
                _titleStr="Lucky 4"
                _gameInfoHrefStr="games/lucky4" /> *@

                @* <GPATile _imgStr="./img/GPAGames/BW.png"
                _idStr="bigWin"
                _titleStr="Big Win"
                _gameInfoHrefStr="games/bigwin" /> *@

                @*  <GPATile _imgStr="./img/GPAGames/new-dice.png"
                _idStr="diceGame"
                _titleStr="Dice" />

                <GPATile _imgStr="./img/GPAGames/hooray.png"
                _idStr="hooray"
                _titleStr="Hooray!" /> *@

            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Live Casino</h2>
        <h5 class="text-muted">Your Seat Awaits: Dive into Live Casino Bliss</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center p-2">
                <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_a.png"
                                _titleStr="Baccarat A" />

                <LiveCasinoTile _imgStr="./img/LiveGames/teenPatti.png"
                                _titleStr="Teen Patti" />

                <LiveCasinoTile _imgStr="./img/LiveGames/blackJack.png"
                                _titleStr="Black Jack" />

                <LiveCasinoTile _imgStr="./img/LiveGames/BlackjackdaSorte.png"
                                _titleStr="Blackjack da Sorte" />

                <LiveCasinoTile _imgStr="./img/LiveGames/32Cards.png"
                                _titleStr="32 Cards" />

                <LiveCasinoTile _imgStr="./img/LiveGames/casinoHoldEm.png"
                                _titleStr="Casino Hold'em" />

                <LiveCasinoTile _imgStr="./img/LiveGames/speedRoulette.png"
                                _titleStr="Speed Roulette" />

                <LiveCasinoTile _imgStr="./img/LiveGames/cricketRoulette.png"
                                _titleStr="Cricket Roulette" />

                <LiveCasinoTile _imgStr="./img/LiveGames/threeCardPoker.png"
                                _titleStr="Three Card Poker" />

                <LiveCasinoTile _imgStr="./img/LiveGames/andarBahar.png"
                                _titleStr="Andar Bahar" />

                <LiveCasinoTile _imgStr="./img/LiveGames/betOnNumbers.png"
                                _titleStr="Bet on Numbers" />

                <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_b.png"
                                _titleStr="Baccarat B" />

                <LiveCasinoTile _imgStr="./img/LiveGames/sicbo.png"
                                _titleStr="Sic Bo" />
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <h2 class="text-white fw-bold mt-5">Fun and Exciting Games</h2>
        <h5 class="text-muted">Discover fun in our Fishing Games!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <FishingTile _imgStr="./img/fishing/JackpotFishing.png"
                             _titleStr="Jackpot Fishing"
                             _tryoutsHrefStr="https://wbgame-demo.jiligames.com/fish3/index.html?ssoKey=1b1dfbc4d7c607b459396fecbe0b715139f9917e&lang=en-US&demo=true&be=moc.semagilij.a-ipabewbw&gameId=32&loginFrom=wb-gaming&gs=moc.semagilij.omed-tols&domain_platform=moc.gnidnawcs.df-tolsbw-tau&domain_gs=semagilij&be=moc.semagilij.a-ipabewbw&apiId=6" />

                <FishingTile _imgStr="./img/fishing/MegaFishing.png"
                             _titleStr="Mega Fishing" />

                <FishingTile _imgStr="./img/fishing/HappyFishing.png"
                             _titleStr="Happy Fishing" />

                <FishingTile _imgStr="./img/fishing/DinosaurTycoon.png"
                             _titleStr="Dinosaur Tycoon" />

                <FishingTile _imgStr="./img/fishing/CrazyHunter.png"
                             _titleStr="Crazy Hunter" />

                <FishingTile _imgStr="./img/fishing/BombingFishing.png"
                             _titleStr="Bombing Fishing" />

                <FishingTile _imgStr="./img/fishing/PlinkoEmpire.png"
                             _titleStr="Plinko Empire" />

                <FishingTile _imgStr="./img/fishing/All-StarFishing.png"
                             _titleStr="All-Star Fishing" />

                <FishingTile _imgStr="./img/fishing/BoomLegend.png"
                             _titleStr="Boom Legend" />

                <FishingTile _imgStr="./img/fishing/SecretTreasure.png"
                             _titleStr="Secret Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonTreasure.png"
                             _titleStr="Dragon Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonFortune.png"
                             _titleStr="Dragon Fortune" />
            </div>
        </div>
    </div>

    <div class="container pb-4">
        <h2 class="text-white fw-bold">Enjoyable and Dynamic games!</h2>
        <h5 class="text-muted">Begin rotating for your chance to win big!</h5>
        <div id="arcade-odyssey" class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <ArcadeTile _imgStr="./img/Arcade/Mines.png"
                            _titleStr="Mines" />

                <ArcadeTile _imgStr="./img/Arcade/GoRush.png"
                            _titleStr="Go Rush" />

                <ArcadeTile _imgStr="./img/Arcade/Limbo.png"
                            _titleStr="Limbo" />

                <ArcadeTile _imgStr="./img/Arcade/Tower.png"
                            _titleStr="Tower" />

                <ArcadeTile _imgStr="./img/Arcade/CrazyPusher.png"
                            _titleStr="Crazy Pusher" />

            </div>
        </div>
    </div>

</div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private GameInfoModal modal = new GameInfoModal(); // Initialize here
    private string _activeClassSt = "active";

    private void ShowModal(string _idStr)
    {
        modal.ShowModal(_idStr);
    }
}
<script>
    $(document).ready(function () {
        $("#gpa-linkHeader").addClass("active");
    });
</script>