<div id="lucky4" class="row">
    <img src="./img/GPAGames/L4.png" alt="" class="img-fluid img-fluid">
    <div class="container-fluid" style="font-size: 12px !important;">
        <p class="mt-3">A game with four drop balls, three canisters numbered 0-9, and one with letters A-J.</p>
        <p>Balls dropped into canisters form winning combinations by landing on specific letters and numbers in order.</p>
        <div class="row">
            <p class="mb-0"><b>METHOD OF PLAY</b></p>
            <p class="text-gray">Drop & Win is a drop ball game played using a ping pong/rubber ball for either one or four transparent funnels. The ball is spun and falls through a funnel to settle onto a wheel consisting of numbers from 0-9 or A to J.</p>
            <p class="text-gray">The object of the game is to get a count of nine or closest to it. The hand that gets the higher count wins.</p>
            <p>
                <b>There are two variation of this game: </b> <br>
                <span class="text-gray"> Single Canister - 4 different colored balls</span> <br>
                <span class="text-gray"> Four Canisters - 1st, 2nd and 3rd Canister 0-9, 4th Canister 0-9 or A-J </span> <br>
            </p>

            <p class="mb-0"><b>DEFINITION OF TERMS</b></p>
            <p>
                <b>BETTING LIMIT </b>
                <span class="text-gray">the minimum and maximum amount of bets allowed per game or variant.</span>
            </p>
            <p>
                <b>DEALER </b>
                <span class="text-gray">A casino employee who conducts the game</span>
            </p>
            <p>
                <b>F2 </b>
                <span class="text-gray">First two letter combination result of first two canisters</span>
            </p>
            <p>
                <b>F3 </b>
                <span class="text-gray">First three letter combination result of first three canisters</span>
            </p>
            <p>
                <b>F4 </b>
                <span class="text-gray">Four letter combination result of all canisters</span>
            </p>
            <p class="text-center"><b>TABLE LAYOUTS, EQUIPMENT AND PARAPHERNALIA</b></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Canister and lettered fixed wheel with funnel on top</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Ping-pong/rubber ball</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Dealer Dashboard</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Dealer tablet for game result</span></p>
            <div class="row m-0 p-0">
                <p><b>Layout</b></p>
                <img src="./img/GameOverview/layout-l4.png" class="img-fluid img">
            </div>
            <p class="mb-0"><b> MINIMUM/ MAXIMUM BET LIMIT AND PAYOUT ODDS</b></p>
            <p class="text-gray mb-0">
                Minimum Bet and Payout will depend on the approved game mechanics by PAGCOR.
            </p>
            <p class="mb-0"><b>DEALING PROCEDURES </b></p>
            <p>
                <b>The following shall be observed: </b> <br>
                <span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> The Dealer shall refer to the Dealer's Dashboard (with attached camera) before and after the deal for instruction or guidance.</span><br> <br>
                <span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Accepting of bets through remote gaming platforms ensue when the status on the Dealer Dashboard reads "OPEN".</span><br> <br>
                <span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> Player bets for desired combination/s in correct order. Once the player clicks his/her choice, the bet amount option pops up, either entering preset chip denominations or manually key-in amount then clicking "PLACE BET," otherwise "CANCEL".</span><br> <br>
                <span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> A confirmation button shall appear for the player to confirm selected bet option and amount by clicking "Yes," otherwise "No".</span><br> <br>
                <span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> The system timer starts until the allotted period for betting ends. System automatically disables all access for betting and changes the status to"CLOSED".</span><br> <br>
            </p>
            <p>
                <span><i class="fa-solid fa-check text-success me-3"></i> At the conclusion of betting, the Dealer shall start with the dealing procedure in the following sequence: </span> <br>
                <span class="text-gray ms-5"> The Dealer shall pick up the ball inside each canister.</span><br><br>
                <span class="text-gray ms-5"> After retrieval, the Dealer shall immediately spin the ball in any way on top of each transparent funnel, from first canister to fourth canister, in that order.</span><br><br>
                <span class="text-gray ms-5"> Wait until the balls settle on every canister, the Dealer then shall declare/encode the winning outcome, in the same order as spun, in the Dealer's Tablet for the Game Validator's confirmation.</span><br><br>
                <span class="text-gray ms-5"> After the Dealer determines the game result, validation of the result shall be remotely performed by the proponent on a separate module ("Validator"). Only after confirmation of the result that the winning bets shall be processed.</span><br><br>
            </p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> The Dealer shall perform this dealing cycle continuously during his stint until he is relieved by another Dealer, the last deal has been announced, or the equipment  needs to undergo maintenance.</span></p>
            <p><span class="text-gray"><i class="fa-solid fa-check text-success me-3"></i> ⦁	The Dealer  shall replace the balls every shift in different  colors. But in case of a damaged ball, such as dents or breakage, within the shift, the same color of ball shall be used.</span></p>



            <p class="text-center"><b>IRREGULARITIES</b></p>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> The attention of the Pit Supervisor (PS) must be called on all irregularities made or observed.</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> Should  any  of  the  ping-pong/rubber  balls  become  damaged,  such  as deformed,  cracked, or dented, the Dealer shall immediately  inform the PS for replacement of the said ball. The game result shall be considered valid if the damage, deformity, crack, or dent is detected only during play or as soon as the ball has settled on the wheel, provided the defective ball remains  intact. Thedamaged  ball/s must be replaced  immediately after the game.</span></p> <br>
            <p><span class="text-gray"><i class="fa-solid fa-exclamation text-warning me-3"></i> Should any of the ball/s breaks,  splits, or fragments  into two or more pieces during play, the defective ball is automatically deemed invalid and must   be   replaced   immediately. The Dealer must then spin the replacement  ball again regardless of where the split parts of the original ball may have settled.</span></p><br>
        </div>
        <div class="container text-center p-0 mt-3">
            <a href="" class="btn btn-secondary">Watch Tutorial</a>
            <a href="" class="btn btn-warning">Play Now</a>
        </div>
    </div>
</div>