<div id="diceGame" class="row">
    <img src="./img/GPAGames/new-dice.png" alt="" class="img-fluid img-fluid">
    <div class="container-fluid" style="font-size: 12px !important;">
        <p class="mt-3">Explore a world of numbers and colors, letting each roll define your winning destiny.</p>
        <p><b> Let’s GoPlay!</b></p>

        <div class="row">
            <p class="mb-0"><b>METHOD OF PLAY</b></p>
            <p class="text-gray">Tri-Color Dice is a game using three (3) different colors of dice with numbers 1 to 6; Can also be played/substituted with symbols such as but not limited to fruits, shapes, animals and the like.</p><br>

            <p>
                <b>	MECHANICS </b><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; Die Size: 20 mm - 80 mm size dimension</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; Color of Dice; Red, White, Blue, Black, Orange, Yellow, Green and other possible colors as necessary.</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; The game offers a variety of side bets options like Small or Big, Odd or Even, By Set, Combo 2:1, Single Dice Bet, 2 Dice (Double bet), and 3 Dice bets (Triple dice bet);</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; Onyx dice game can be drawn or played by using dice shaker cup (glass) or by hand dropping, hand rolling and/or using manual dice equipment (See diagram);</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; The three (3) dice can be dropped /rolled by hand or by using glass shaker to drop individually or one at a time;</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; All prizes can be modified by the discretion of the author;</span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; Betting time: 2 mins. or less; and </span><br>
                <span class="text-gray ms-3">⦁ &nbsp;&nbsp; Original Bets are included in the winning prize. </span><br>
            </p>
            <p>
                <b>REGULAR GAME</b> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Players can bet any of the numbers from 1 to 6;</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Prizes can be won in the illustration below.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Additional bonus added for some games</span> <br>
            </p>
            <div class="row m-0 p-0 justify-content-center">
                <p><b>Illustration</b></p>
                <img src="./img/GameOverview/layout-dice.png" class="img-fluid img w-75">
            </div>
            <p>
                <b>SMALL OR BIG</b> <br>
                <span class="text-gray">Result is based on the majority result of the 3 dice;</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Small 1, 2, 3</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Big 2, 4, 63</span><br>
            </p>
            <p>
                <b>ODD OR EVEN</b> <br>
                <span class="text-gray">Result is based on the majority result of the 3 dice;</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; ODD 1, 3, 5</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Even 2, 4, 6</span><br>
            </p>
            <p>
                <b>SINGLE DICE BET</b> <br>
                <span class="text-gray">Players can bet on any single dice</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Bet selection (Red Dice, Black Dice, Blue Dice) One to Six</span><br>
            </p>
            <p>
                <b>2 DIGITS BET</b> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Players can choose 2 Dice color</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Dice (Red and Yellow), Dice (Red and Blue) and Dice (Yellow and Blue)</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Players select 1 number from 1 to 6 in 2 dice.</span><br>
            </p>
            <div class="row m-0 p-0 justify-content-center">
                <img src="./img/GameOverview/layout-dice-2.png" class="img-fluid img w-75">
            </div>
            <div class="row m-0 p-0 justify-content-center">
                <img src="./img/GameOverview/layout-dice-3.png" class="img-fluid img">
            </div>

            <p class="mb-0"><b>Game Rules</b></p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; The dealer will place the 3 dice in a glass shaker.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; The dealer must shake the dice first before dropping the dice into the Dice Roller Equipment (DRE).</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; After Dropping the dice, if one of the dice stuck/jumped off on the DRE, the dealer shall retrieve/replace the dice and proceed to drop the dice into the DRE.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; The dealer must ensure that once the dice are rested on the gaming table, all dice must be readable and all of the dice are in the proper position.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; If any of the dice settled in a slant/diagonal position and/or overlapping, the dealer shall declare the game canceled.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; Once the dice has exited the DRE, the dealer will use a rake and/or by hand to position the dice in its corresponding slot.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; The dealer shall declare the winning combination in the order of colors and numbers of the dice.</p>
            <p class="ms-3 text-gray">⦁	&nbsp;&nbsp; After the declaration of the result, the dealer will retrieve the dice once betting on the next game start.</p>
            <div class="row m-0 p-0 justify-content-center">
                <p class="mb-0"><b>GAMING EQUIPMENT</b></p>
                <img src="./img/GameOverview/layout-dice-4.png" class="img-fluid img">
            </div>
            <div class="row m-0 p-0 justify-content-center">
                <img src="./img/GameOverview/layout-dice-5.png" class="img-fluid img">
            </div>

        </div>
        <div class="container text-center p-0 mt-3">
            <a href="" class="btn btn-secondary">Watch Tutorial</a>
            <a href="" class="btn btn-warning">Play Now</a>
        </div>
    </div>
</div>