<div id="hooray" class="row">
    <img src="./img/GPAGames/hooray.png" alt="" class="img-fluid img-fluid">
    <div class="container-fluid" style="font-size: 12px !important;">
        <p class="mt-3">Explore a world of numbers and colors, letting each roll define your winning destiny.</p>
        <p><b> Let’s GoPlay!</b></p>

        <div class="row">
            <p class="mb-0"><b>Objective</b></p>
            <p class="text-gray">The objective of Hep Hep Hooray Cards Game is to draw 6 cards using a standard 52 deck of cards and the player can choose 6 cards on the opening of the bet to win the drawn combination. Multiple winners can win as each extra card is drawn up to 37 Cards.</p><br>

            <p class="mb-0"><b>Components</b></p>
            <p class="text-gray">The game will be using a deck of 52 Cards or 52 balls from 1 - 52 using a ball drawing machine.</p><br>

            <div class="row m-0 p-0 justify-content-center">
                <p><b>Card Values</b></p>
                <img src="./img/GameOverview/layout-hooray.png" class="img-fluid img">
            </div>
            <p>
                <b>Game Rules (e.g. 6 Card Game)</b> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The player selects combinations among 52 cards.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The dealer shuffles the deck and deals the first 6 cards.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The dealer draws an additional 31 cards.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The player continues to check for winning combinations after each draw.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Players win the highest payout on the pay table.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The game closes after all 37 cards are drawn.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; After the game, the dealer will use a new deck to start the next Game.</span><br>
            </p>
            <p>
                <b>Winning Combination</b> <br>
                <span class="text-gray">The winning combinations are determined by the following criteria:</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Jackpot won if 6 cards are called within the first 6 cards drawn, and for the fixed prizes are specified by the house rules/payout level attached with the corresponding cards drawn.</span><br>
            </p>
            <p>
                <b>Jackpot & Regular Prizes</b> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Jackpot prizes are divided equally among 2 or more winners within the same cluster. Regular prizes are fixed and are awarded based on the payout level (See attached pay table). The progressive jackpot is 1% of GGR. If the jackpot is won, the management will replenish the grand jackpot lower or higher base on the 7 million initial jackpot with the consultation and approval of PAGCOR.</span><br> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; A maximum payout will be allocated per payout level and bet range based on the number cards drawn. (See attached pay table)</span><br> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; If the amount won exceeds the allocated payout level the prizes will be proportionately allocated to the winners base on the percentage of their winning bets against the maximum allowable payout (See example below).</span><br> <br>

            </p>
            <div class="row m-0 p-0 justify-content-center">
                <img src="./img/GameOverview/layout-hooray-2.png" class="img-fluid img">
            </div>
            <p>
                <b>Shuffling Procedure for Hep2 Hooray Game</b> <br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Before the start of the first game, the dealer shuffles a deck of cards.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; After the standard chemmy shuffle, the dealer uses a shuffler machine to again shuffle the deck of cards.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Once done, the shuffler transfers the deck of cards in a card shoe to used or to be held by the dealer before the start of the game.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The game will use 2 deck of cards with different colors.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The deck of cards will be used alternately and shuffled after each game beside the dealer which must also be visible to the players.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The same shuffling procedure will be used after each game.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Before the cards are dealt, the dealer uses a white card to split the deck.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; The lower deck cards will be placed on top of the upper deck.</span><br>
                <span class="text-gray ms-4">⦁ &nbsp;&nbsp; Once the split is complete, the dealer shall begin to deal the cards.</span><br>
            </p>
            <div class="row m-0 p-0 justify-content-center">
                <p><b>Pay table and Bet Range</b></p>
                <img src="./img/GameOverview/layout-hooray-3.png" class="img-fluid img">
            </div>
        </div>
        <div class="container text-center p-0 mt-3">
            <a href="" class="btn btn-secondary">Watch Tutorial</a>
            <a href="" class="btn btn-warning">Play Now</a>
        </div>
    </div>
</div>