#wallet-headerIcon{
    padding-top: 50px !important;
}
#gameHistory-tab, #statistic-tab{
    cursor: pointer;
}
#gameHistory-tab.active, #statistic-tab.active {
    border-bottom: 2px solid #ff6a00 !important;
}
.marketing {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#000 20%,rgb(10, 10, 10) 60%,#101019 100%) !important;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 51rem;
}


/*.mainContainer {
    margin: 0 auto;
    padding: 0;
    max-width: 640px;
}
.container {
    padding: 5px !important;
    max-width: 100%;
    min-height: 100vh;
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#000 20%,rgb(10, 10, 10) 60%,#000 100%) !important;
    background-repeat: repeat;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #ff6a00;
    color: white;
    font-weight: 600;
    border: none;
}

.nav-tabs .nav-link {
    color: white;
}

    .nav-tabs .nav-link:hover {
        color: white;
    }

.maintab {
    padding: 5px;
    margin-top: 0;
    width: 320px;
    height: 100%;
}
*/