@page "/bethistory"
@using GoPlayAsiaWebApp.Goplay.Games.Shared
@using GoPlayAsiaWebApp.Goplay.Reports.BetHistory
@using GoPlayAsiaWebApp.Goplay.Reports.Statistics
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@implements IAsyncDisposable
@inject MainPageHistoryViewModel _mainPageHistoryViewModel;
@attribute [Authorize(Roles = "1")]


<div class="container-fluid marketing pt-4">
    <div class="bg-white container rounded-3 p-0" style="max-width: 640px;">
        @* <TopContent CreditsDisp="@_mainPageHistoryViewModel._icurrentUser.CreditsDisp" /> *@
        @*============== Start: Game and Statistic Tab Icon ===========*@
        <div id="wallet-headerIcon" class="container p-0 mb-2 mt-4">
            <ul class="nav nav-tabs border-0 justify-content-center pt-2" id="myTab" role="tablist">
                <li class="nav-item m-2" role="presentation">
                    <a @onclick:preventDefault @onclick="@SetBetHistoryVisible" class="nav-link p-0 active bg-transparent border-0" id="gameHistory-tab" data-bs-toggle="tab" data-bs-target="#gameHistory-tab-pane" role="tab" aria-controls="BetHistory" aria-selected="true">
                        <div class="card border-0 text-center p-0 m-2 gameHistory-cardContainer bg-transparent">
                            <div class="icon-link icon-link-hover text-decoration-none">
                                <img class="img-fluid img" src="/img/game-history-icon.png" style="width: 3rem;" />
                                <div class="card-body p-0">
                                    <h6 class="card-title text-dark mb-0 mt-2 fw-bold">Game History</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item m-2" role="presentation">
                    <a @onclick:preventDefault @onclick="@SetStatisticsVisible" class="nav-link p-0 bg-transparent border-0" id="statistic-tab" data-bs-toggle="tab" data-bs-target="#statistic-tab-pane" type="button" role="tab" aria-controls="statistic-tab-pane" aria-selected="false">
                        <div class="card border-0 text-center p-0 m-2 wallet-cardContainer bg-transparent">
                            <div class="icon-link icon-link-hover text-decoration-none">
                                <img class="img-fluid img" src="/img/statistic-icon.png" style="width: 3rem;" />
                                <div class="card-body p-0">
                                    <h6 class="card-title text-dark mb-0 mt-2 fw-bold">Statistic</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        @*============== End: Game and Statistic Tab Icon ===========*@

        @if (@HistoryVisible)
        {
            <CompBetHistory />
        }
        else if (@StatisticsVisible)
        {
            <Statistics />
        }
    </div>
</div>
@code {
    public Boolean HistoryVisible = true;
    public Boolean StatisticsVisible = false;
    public String ActiveHistory = "active";
    public String ActiveStatistics = "";

    public void SetBetHistoryVisible()
    {
        HistoryVisible = true;
        StatisticsVisible = false;
        ActiveHistory = "active";
        ActiveStatistics = "";
    }
    public void SetStatisticsVisible()
    {
        HistoryVisible = false;
        StatisticsVisible = true;
        ActiveHistory = "";
        ActiveStatistics = "active";
    }
    public async ValueTask DisposeAsync()
    {
        // await _mainPageHistoryViewModel.DisconnectSignalR();
    }
}


