@using GoPlayAsiaWebApp.Goplay.Shared.Popup
@using GoplayasiaBlazor.Core.Global.Interface
@using GoPlayAsiaWebApp.Goplay.ViewModels;
@using GoPlayAsiaWebApp.Goplay.ViewModels
@inject ICurrentUser iCurrentUser
@inject LobbyViewModel lobbyViewModel;

<container class="mainContainer">
    <div class="topMenu row d-flex mt-2">
        <div class="col-4">
            <img class="pagcorIcon" src="/img/pagcor-icon.png" />
        </div>
        <div class="innerContainer col-4">
            <img class="gpaIcon" src="/img/gpa-gold.png" />
        </div>
        <div class="tokenContainer col-4 d-flex justify-content-end">
            @*<a href="/credit" <img height="20px" width="20px" src="/img/add-credit-icon.png" class="creditIcon mr-1"></a>*@

            @* <p class="currentToken m-0"><strong>@iCurrentUser.Username</strong></p>*@

            <div class="btn-group pl-1">

                <a class=" dropdown-toggle propImg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   role="button" data-mdb-toggle="dropdown">
                    @*<span class="text-light">@iCurrentUser.Username</span>*@
                    <img src="@iCurrentUser.ProfileImage" class="rounded-circle"
                         alt="Avatar" loading="lazy" />
                </a>

                <div class="dropdown-menu dropdown-menu-right ">
                    @if (iCurrentUser.Verified == 1)
                    {
                        <a class="Dropsettings dropdown-item text-center p-2" href="/verifystatus" type="button" style="background-color: #48ad0b; color: white">Verified<i class="bi bi-check"></i></a>
                    }
                    else if (iCurrentUser.Verified == 0)
                    {
                        <a class="Dropsettings dropdown-item text-center p-2" href="/VerifyReg" type="button" style="background-color: #17a2b8; color: white">Verify Now</a>

                    }
                    else if (iCurrentUser.Verified == 2)
                    {
                        <a class="Dropsettings dropdown-item text-center p-2" href="/Credit/withdraw" type="button" style="background-color: #17a2b8; color: white">Verification Pending</a>
                    }
                    <a class="Dropsettings dropdown-item text-center p-2" href="/setting" type="button">Settings</a>
                    <a class="Dropsettings dropdown-item text-center p-2 " href="http://m.me/GoPlayAsiaOFFICIAL" target="_blank" type="button"><i class="fa-solid fa-message-question"></i>Contact Us</a>
                    <a class="logOut dropdown-item text-center p-2" @onclick="logout">Logout</a>
                </div>
            </div>

            @if (iCurrentUser.Verified == 0)
            {
                <!----------------------IF NOT VERIFIED SHOW THIS BUTTON------------->
                <a href="/VerifyReg" class="text-light btn p-1 verifyBtn">
                   Verify now
                </a>
                <div class="handSignal">
                    <i class="bi bi-hand-index-thumb"></i>
                </div>
                   
             
                <!----------------------END IF NOT VERIFIED SHOW THIS BUTTON------------->
            }
        </div>
    </div>
    <div class="currentTokenLowerCon text-center">
        <img height="20px" width="20px" src="/img/tokenIcon.png" class="tokenIcon">
        <a class="currentToken"><span class="currentToken m-0"><strong>@CreditsDisp</strong></span></a>
    </div>
</container>

@code {
    [CascadingParameter] public IModalService popupModal { get; set; }
    private async Task logout()
    {
        var parameters = new ModalParameters();
        parameters.Add("Message", "Confirm Logout");
        var popupConfirm = popupModal.Show<PopupLogout>("", parameters, new ModalOptions() { Class = "op-modal" });
        ModalResult result = await popupConfirm.Result;
        if (result.Data != null)
        {
            if ((bool)result.Data)
            {
                await lobbyViewModel.Logout();
            }
        }
    }


}

