.tokenRelative {
    position: relative;
    width: fit-content;
    width: 46px;
}

#betTokenContainer a {
    height: 33%;
    width: 100%;
    text-decoration: none !important;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin: 0.4% 2%;
    font-size: 18px;
    border: 2px solid transparent;
}
.imgContainerSelected {
    border-radius: 10px;
    /*border: 2px solid yellow;
    animation: changeColor 1s infinite;*/
}
/*========== Start: Changing Chip Color ============*/
#betTokenContainer.purple-chip a {background: url('./img/purple-chip.png') center center no-repeat;background-size: 100% 100%;}
#betTokenContainer.green-chip a {background: url('./img/green-chip.png') center center no-repeat;background-size: 100% 100%;}
#betTokenContainer.gold-chip a {background: url('./img/gold-chip.png') center center no-repeat;background-size: 100% 100%;}
#betTokenContainer.blue-chip a {background: url('./img/blue-chip.png') center center no-repeat;background-size: 100% 100%;}
#betTokenContainer.red-chip a {background: url('./img/red-chip.png') center center no-repeat;background-size: 100% 100%;}

#betTokenContainer.purple-chip a.imgContainerSelected{border: 4px solid #ff01ff;border-radius:6px;}
#betTokenContainer.green-chip a.imgContainerSelected{border: 4px solid rgb(65, 255, 0);border-radius:6px;}
#betTokenContainer.gold-chip a.imgContainerSelected{border: 4px solid #f9ff39;border-radius:6px;}
#betTokenContainer.blue-chip a.imgContainerSelected{border: 4px solid rgb(5, 162, 255);border-radius:6px;}
#betTokenContainer.red-chip a.imgContainerSelected{border: 4px solid red;border-radius:6px;}

@keyframes chipPurple {from {border: 4px solid black;} to {border: 4px solid #ff01ff;}}
@keyframes chipGreen {from {border: 4px solid black;} to {border: 4px solid rgb(65, 255, 0);}}
@keyframes chipGold {from {border: 4px solid black;} to {border: 4px solid gold;}}
@keyframes chipBlue {from {border: 4px solid blue;} to {border: 4px solid rgb(5, 162, 255);}}
@keyframes chipRed {from {border: 4px solid black;} to {border: 4px solid red;}}

.chipsDisabled {
    pointer-events: none;
    opacity: 0.5;
    display: none;
}

.chips-container {
    width: 98%;
}

.tokenValueAbsolute {
    z-index: 1;
    position: absolute;
    top: 52%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.selectedToken {
    height: 100%;
    width: 100%;
}
.default {
    height: 25px;
    width: 60px;
}
.payoutAmount {
    color: gold;
    font-weight: 600;
    font-size: 18px;
}

.newBetBtn {
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    animation: activeBet 1s infinite;
    border: 2px solid green;
}

@keyframes activeBet {
    from {
        background-color: yellow;
        color: black !important;
        border: 4px solid green;
    }

    to {
        background-color: rgb(69, 219, 18);
        color: black !important;
        border: 4px solid gold;
        box-sizing: border-box;
    }
}

.disnewBetBtn {
    background-color: grey;
    pointer-events: none;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}

.newBackBtn {
    background-color: rgb(128, 128, 128, .4);
    border-radius: 50%;
    color: white;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}



/* for new design */
.up-chips-icon {
    position: absolute;
    top: -18%;
    left: 23%;
    color: #282727;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("./img/chip-sample.png");
    background-size: contain;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    display: inline-grid;
    text-align: center;
    align-content: center;
}

@media (min-width:640px) {
    #betTokenContainer {
        height: auto;
        padding: 10px 20px;
    }

        #betTokenContainer a {
            padding: 2% 0;
        }

        #betTokenContainer .chips-container {
            width: 76vh;
        }

            #betTokenContainer .chips-container > div {
                width: 76vh;
            }

        #betTokenContainer .tokenRelative {
            width: 95px;
        }
}

@media screen and (max-width: 375px) {
    /*#betTokenContainer {
        width: 37vh;
    }
    .chips-container, .chips-container > div {
        width: 100%;
    }
    #betTokenContainer a{
        width: 50px;
        height: 28px;
    }*/
}
