<div class="offcanvas offcanvas-end text-white" tabindex="-1" id="account-verification" aria-labelledby="account-verificationLabel">
    <form action="" data-bs-scroll="true" tabindex="-1" class="overflow-auto">
        <div class="offcanvas-header">
            <div class="container p-2">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="offcanvas-title text-center">Account Verification</h5>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col position-relative">
                        <div class="offcanvas-title" id="account-verificationLabel position-relative">
                            <img src="img/user-profile.png" class="card-img-top img-fluid rounded-circle w-25">
                            <label for="change-profile" class="position-absolute change-img top-15 start-20 badge">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-camera"></i>
                                </span>
                            </label>
                            <input type="file" class="form-control" id="change-profile" accept="image/*">
                            <span class="fw-bold h5 ms-4">Php 1,000,000.00</span>
                        </div>
                        <p>
                            <span class="h5 fw-bold">Juan Dela Cruz </span><br>
                            <span class="h5 fw-bold font-12">+63 987 654 3210</span><br>
                        </p>
                    </div>
                </div>
                <hr class="m-0">
            </div>
        </div>
        <div class="offcanvas-body p-0">
            <div class="container p-3">
                <p>
                    <label class="text-muted" for="birthDate"><i class="fa-regular fa-calendar-days"></i> Birth Date</label><br>
                    <input id="birthDate" type="date" placeholder="Month / Day / Year" class="form-check border border-1 rounded-3 w-100" />
                </p>
                <p>
                    <label class="text-muted" for="nationality"><i class="fa-regular fa-flag"></i> Nationality</label><br>
                    <input type="text" value="" id="nationality" placeholder="Type your nationality (e.g. Filipino)" class="form-check border border-1 rounded-3 w-100" required>
                </p>
                <p>
                    <label class="text-muted" for="eMailAddress"><i class="fa-regular fa-envelope"></i> Email Address</label><br>
                    <input type="email" value="" id="eMailAddress" placeholder="juandelacruz@gmail.com" class="form-check border border-1 rounded-3 w-100" required>
                </p>
                <p>
                    <label class="text-muted" for="homeAddress"><i class="fa-solid fa-location-dot"></i> Address</label><br>
                    <input type="text" value="" id="homeAddress" placeholder="Lot, Block, Street, Barangay, District, City" class="form-check border border-1 rounded-3 w-100" required>
                </p>
                <div class="container p-0">
                    <div class="row">
                        <p class="d-flex align-items-center">
                            <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Upload Valid ID</span>
                            <span class="text-primary btn col-5 view-id" @onclick="@(() => Modal.Show<SampleUploadValidID>("Guide for submitting ID"))">view sample</span>
                        </p>
                        <div class="col">
                            <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                            <input type="file" class="form-control" id="fromFile" accept="image/*">
                        </div>
                        <div class="col">
                            <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                            <input type="file" class="form-control" id="fromCamera" accept="image/*">
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container p-0">
                    <div class="row">
                        <p class="d-flex align-items-center">
                            <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Selfie with Valid ID</span>
                            <span class="text-primary btn col-5 view-selfie" @onclick="@(() => Modal.Show<SampleUploadSelfieWithID>("Selfie with valid ID"))">view sample</span>
                        </p>
                        <div class="col">
                            <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                            <input type="file" class="form-control" id="fromFile" accept="image/*">
                        </div>
                        <div class="col">
                            <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                            <input type="file" class="form-control" id="fromCamera" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-12">
                    <button href="#" class="btn col-12 btn-gpa">Submit Verification</button>
                </div>
            </div>
        </div>
    </form>
</div>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
}