<div class="offcanvas offcanvas-end text-white" tabindex="-1" id="edit-profile" aria-labelledby="edit-profileLabel">
    <form action="" data-bs-scroll="true" tabindex="-1" class="overflow-auto">
        <div class="offcanvas-header">
            <div class="container p-2">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="offcanvas-title text-center">Player's Information</h5>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col position-relative">
                        <div class="offcanvas-title" id="edit-profileLabel position-relative">
                            <img src="img/user-profile.png" class="card-img-top img-fluid rounded-circle w-25">
                            <label for="change-profile" class="position-absolute change-img top-15 start-20 badge">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-camera"></i>
                                </span>
                            </label>
                            <input type="file" class="form-control" id="change-profile" accept="image/*">
                        </div>
                        <p>
                            <span class="h5 fw-bold">Juan Dela Cruz </span><br>
                            <span class="h5 fw-bold font-12">+63 987 654 3210</span><br>
                            <span class="text-muted font-12">Status :</span>
                            @* <span class="font-12"><i class="fa-regular fa-face-sad-tear text-warning"></i> Not Verified</span> *@
                            <span class="font-12"><i class="fa-regular fa-circle-check text-success"></i>&nbsp; Fully Verified</span>
                        </p>
                    </div>
                </div>
                <hr class="m-0">
            </div>
        </div>
        <div class="offcanvas-body p-0">
            <div class="container p-3">
                <p>
                    <span class="text-muted"><i class="fa-regular fa-calendar-days"></i> Birth Date</span><br>
                    <input type="text" value="July 27, 1914" id="birthdate" required readonly>
                    <label class="btn border-0" for="birthdate"><span><i class="fa-solid fa-pen-to-square text-primary"></i></span></label>
                </p>
                <p>
                    <span class="text-muted"><i class="fa-regular fa-flag"></i> Nationality</span><br>
                    <span>Filipino</span>
                </p>
                <p>
                    <span class="text-muted"><i class="fa-regular fa-envelope"></i> Email Address</span><br>
                    <input type="text" value="juandelacruz@goplayasia.com" id="email" required readonly>
                    <label class="btn border-0" for="email"><span><i class="fa-solid fa-pen-to-square text-primary"></i></span></label>
                </p>
                <p>
                    <span class="text-muted"><i class="fa-solid fa-location-dot"></i> Address</span><br>
                    <input type="text" value="Block 1 Lot 2, Hinanap Street, Dimakita City" id="address" required readonly>
                    <label class="btn border-0" for="address"><span><i class="fa-solid fa-pen-to-square text-primary"></i></span></label>
                </p>
                <div class="container p-0">
                    <div class="row">
                        <p class="d-flex align-items-center">
                            <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Upload Valid ID</span>
                            <span class="text-primary btn col-5 view-id" @onclick="@(() => Modal.Show<SampleUploadValidID>("Guide for submitting ID"))">view sample</span>
                        </p>
                        <div class="col">
                            <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                            <input type="file" class="form-control" id="fromFile" accept="image/*">
                        </div>
                        <div class="col">
                            <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                            <input type="file" class="form-control" id="fromCamera" accept="image/*">
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container p-0">
                    <div class="row">
                        <p class="d-flex align-items-center">
                            <span class="text-muted col"><i class="fa-solid fa-paperclip"></i> Selfie with Valid ID</span>
                            <span class="text-primary btn col-5 view-selfie" @onclick="@(() => Modal.Show<SampleUploadSelfieWithID>("Selfie with valid ID"))">view sample</span>
                        </p>
                        <div class="col">
                            <label for="fromFile" class="form-label btn border-0 p-0 text-white"><span><i class="fa-regular fa-image"></i> From File</span></label>
                            <input type="file" class="form-control" id="fromFile" accept="image/*">
                        </div>
                        <div class="col">
                            <label for="fromCamera" class="form-label btn border-0 p-0 text-white"><span><i class="fa-solid fa-camera"></i> From Camera</span></label>
                            <input type="file" class="form-control" id="fromCamera" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-12">
                    <button href="#" class="btn col-12 btn-gpa" disabled>Update</button>
                </div>
            </div>
        </div>
    </form>
</div>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
}