@page "/User'sProfile"

<PageTitle>GoPlayAsia: User's Profile</PageTitle>


<div class="container-fluid marketing pt-5">
    <div class="container p-3">
        <div class="row pt-4 pb-5 bg-white mt-4 rounded-3 justify-content-center">
            <div class="d-flex justify-content-center p-0" style="width: 50rem;">
                <form class="row profile-form border rounded-3">

                    <div class="text-center mt-2">
                        <img src="img/user-profile.png" class="card-img-top img-fluid rounded-circle w-25  position-relative">
                        <p class="text-muted fw-bold h5">
                            <span class="position-relative">Player Username </span>
                        </p>
                    </div>

                    <div class="card-body">
                        <div class="container-fluid p-0">
                            <div class="container p-0 prof-grid-container">
                                <div class="row p-0 justify-content-center">
                                    <div class="col">
                                        <p class="">
                                            <i class="fa-regular fa-user"></i>
                                            <span>User ID </span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">
                                            <span class="">: Player1</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row p-0 justify-content-center">
                                    <div class="col">
                                        <p class="">
                                            <i class="fa-solid fa-mobile-screen-button"></i>
                                            <span>Mobile No. </span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">
                                            <span class="">: +63987 654 3210</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row p-0 justify-content-center">
                                    <div class="col">
                                        <p class="">
                                            <i class="fa-regular fa-envelope"></i>
                                            <span>E-mail</span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">
                                            <span>: player1@goplayasia.com</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-12">
                                        <button href="#" class="btn col-12 btn-gpa">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {

}
