@page "/User'sProfile"

<PageTitle>GoPlayAsia: User's Profile</PageTitle>


<div class="container-fluid marketing pt-5">
    <div class="container p-3">
        <div class="row pt-4 pb-5 bg-white mt-4 rounded-3 justify-content-center">
            <div class="d-flex justify-content-center p-0" style="width: 50rem;">
                <div class="row profile-form border rounded-3">

                    <div class="container p-0">
                        <div class="row align-items-center py-2">
                            <div class="d-flex align-items-center">
                                <div class="col position-relative text-center">
                                    <img src="img/user-profile.png" class="card-img-top img-fluid rounded-circle w-50 position-relative">
                                   @*  <label for="newImage" class="position-absolute change-img top-30 start-58 badge">
                                    <span class="rounded-circle">
                                    <i class="fa-solid fa-camera"></i>
                                    </span>
                                    </label>
                                    <input id="newImage" type="file" accept="image/*" /> *@
                                </div>
                                <div class="col">
                                    <p class="text-muted  mb-0">
                                        <span class="fw-bold gpa-text">Juan Dela Cruz </span> <br>
                                        <span class="font-12"><i class="fa-solid fa-mobile-screen-button"></i> +63987 654 3210</span> <br>
                                        <span class="font-12"><i class="fa-regular fa-circle-check text-success"></i> Fully Verified</span>
                                    </p>
                                </div>
                                <div class="col-1 text-muted btn p-0" data-bs-target="#edit-profile" aria-controls="edit-profile">
                                    <span data-bs-toggle="offcanvas" data-bs-target="#edit-profile" aria-controls="edit-profile" class="btn p-0"><i class="fa-solid fa-angle-right"></i></span>
                                </div>
                            </div>
                        </div>

                        @* ================= Edit Information Off Canvass ============================= *@
                        <EditProfileOffCanvas />
                        
                    </div>

                    <div class="card-body">
                        <div class="container-fluid p-0">
                            <div class="container p-0 prof-grid-container">
                                <div class="row p-0 justify-content-center">
                                    <div class="col">
                                        <p class="">
                                            <i class="fa-regular fa-user"></i>
                                            <span>User ID </span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">
                                            <span class="">: Player1</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row p-0 justify-content-center">
                                    <div class="col">
                                        <p class="">
                                            <i class="fa-regular fa-envelope"></i>
                                            <span>E-mail</span>
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-bold">
                                            <span>: player1@goplayasia.com</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>