@using GoPlayAsiaWebApp.Goplay.Main.Login
@using GoPlayAsiaWebApp.Goplay.Main.Signup
@* <AgeConfirmationModal /> *@
<div id="logInForm" class="w-30">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="container p-0">
            <div class="modal-content modal-bg border-bottom-4">
                <div class="d-flex">
                    <div class="col login-bg">
                        <img src="./img/login-img.png" class="img-fluid login-img">
                    </div>
                    <div class="col p-2">
                        <ul class="nav nav-tabs justify-content-center pt-3" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="loginTab" data-bs-toggle="tab" href="#loginPanel" role="tab" aria-controls="loginPanel" aria-selected="true" @onclick:preventDefault @onclick='(() => setComponent(1))'>
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                    <span>Login</span>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="signUpTab" data-bs-toggle="tab" href="#signUpPanel" role="tab" aria-controls="signUpPanel" aria-selected="false"
                                @onclick:preventDefault @onclick='(() => setComponent(2))'>
                                    <i class="fa-solid fa-user-plus"></i>
                                    <span>Sign Up</span>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content pt-4" id="tab-content">
                            @if (_currentComponent == 1)
                            {
                                <LoginForm OnForgotPassword="setComponent" />
                            }
                            @if (_currentComponent == 2)
                            {
                                <Signup />
                            }
                            @if (_currentComponent == 3)
                            {
                                <ForgotPassword  />
                            }
                            @* <SignUpForm /> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public int _currentComponent { get; set; } = 1;

    public void setComponent(int comp)
    {
        _currentComponent = comp;
    }
}
@* <script>
    $(document).ready(function () {
        $('#signUpTab, #ageConfirmationBtn, #signUpLink').click(function (e) {
            e.preventDefault();
            $('#loginTab, #forgotPassTab').removeClass('active');
            $('#loginPanel, #forgotPassPanel').removeClass('active show');
            $('#signUpTab').addClass('active');
            $('#signUpPanel').addClass('active show');
        });

        $('#loginTab, #loginLink').click(function (e) {
            e.preventDefault();
            $('#signUpTab, #forgotPassTab').removeClass('active');
            $('#signUpPanel, #forgotPassPanel').removeClass('active show');
            $('#loginTab').addClass('active');
            $('#loginPanel').addClass('active show');
        });

        $('#forgotPassPanel').click(function (e) {
            e.preventDefault();
            $('#signUpTab, #loginTab').removeClass('active');
            $('#signUpPanel, #loginPanel').removeClass('active show');
            $('#forgotPassTab').addClass('active');
            $('#forgotPassPanel').addClass('active show');
        });

        $('#logInForm').on('hidden.bs.modal', function (e) {
            $('#loginTab, #signUpTab, #forgotPassTab').removeClass('active');
            $('#signUpPanel, #forgotPassPanel').removeClass('active show');
            $('#loginPanel').addClass('active show');
            $('#loginTab').addClass('active');
        });
    }); 
</script>*@