<div class="offcanvas offcanvas-bottom bg-transparent" tabindex="-1" id="offCanvasTermsOfUse" aria-labelledby="offCanvasTermsOfUseLabel" data-bs-backdrop="false" data-bs-scroll="false">
    <div class="offcanvas-body small p-2 text-center bg-white rounded-3">
        <div class="offcanvas-header text-center p-1">
            <p class="container offcanvas-title fw-bold text-center" id="offCanvasTermsOfUseLabel"></p>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <h1 class="mb-4"><i class="fa-solid fa-circle-exclamation  text-danger fw-bold warning-icon"></i></h1>
        <p class="small mb-4 terms-text">
            <span>You need to agree to the </span>
            <a href="">Terms of use</a>
            <span>and</span>
            <a href="">Privacy Policy</a>
        </p>
        <p class="mb-3">
            <button class="btn gpa-btn w-100">I Agree</button>
        </p>
        <p>
            <button class="btn bg-white w-100 gpa-border">Cancel</button>
        </p>
    </div>
</div>