@*===============================Sign Up Form ==================================== *@
<div class="tab-pane" id="signUpPanel" role="tabpanel" aria-labelledby="signUpTab">
    <form action="#" class="signin-form">
        <div class="form-group mb-3">
            <label class="label text-white" for="username">Mobile Number</label>
            <input id="username" type="tel" class="form-control" placeholder="09XX XXX XXXX" required="">
        </div>
        <div class="form-group mb-3">
            <label class="label text-white" for="password">Affiliate Code</label>
            <input id="password" type="password" class="form-control" placeholder=" Key In (If Any)" required="">
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-warning rounded submit px-3">Sign Up</button>
        </div>
        <div class="container-fluid p-0">
            <div class="content">
                <label class="checkbox-wrap checkbox-primary mb-0">
                    <input type="checkbox" checked="">
                    <span class="checkmark text-white">I agree to the Terms and Conditions & Privacy Policy and I am over 21 years of age.</span>
                </label>
            </div>
        </div>
    </form>
</div>