div.text-ellipsis {
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.game-tileEvo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    background-color: transparent;
}
.game-tile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 7 / 9;
    background-color: transparent;
}
.subtitle {
    min-height: 70px;
    align-items: center;
    display: inline-flex;
}
.card.m-1 {
    margin: .20rem !important
}

.game-tile .bg-img > img, .game-tile {
    border-radius: 0;
    width: 12.5rem;
    height: 12.5rem;
}

.info {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img-border, .img-border img {
    transition: .5s ease;
}

.img-border:hover {
    box-shadow: 0 0 0 4px #ffd800;
    transition: .5s ease;
}

.img-border img:hover {
    transition: .5s ease;
}

@media screen and (max-width: 460px) {
    .game-tile, .game-tile .bg-img > img {
        width: 6.5rem;
        height: 6.5rem;
    }
    .game-tileEvo {
        width: 6.5rem;
    }

    .game-tile h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {
    .game-tile, .game-tile .bg-img > img {
        width: 5.5rem;
        height: 5.5rem;
    }
    .game-tileEvo {
        width: 5.5rem;
    }
    .card.m-1{
        margin:.20rem !important
    }

    .game-tile h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .game-tile, .game-tile .bg-img > img {
        width: 6.5rem;
        height: 6.5rem;
    }
    .game-tileEvo {
        width: 6.5rem;
    }

    .game-tile .btn {
        font-size: 12px;
        font-weight: bold;
    }

    .game-tile h3 {
        font-size: 15px;
    }
}

/*================ Start: Button PLay Animation ==================*/
a.play-btn {
    position: relative;
    width: 115px;
}

    a.play-btn > span {
        margin-left: -10px;
    }

.arrow {
    position: absolute;
    top: 57%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/*================ End: Button PLay Animation ==================*/

/* Hide the #desc div by default */
#desc {
    display: none;
}
/* Show the #desc div when hovering over the parent container */
.position-relative:hover #desc {
    display: block;
}


.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loaded-image {
    display: none;
    width: 100%;
    height: auto;
}