.pt-8 {
    padding-top: 5rem;
}

#gameList > #liveGames, #gameList > #cardGames, #gameList > #arcadeGames, #gameList > #slotGames {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 20px;
    }

    h5 {
        font-size: 14px;
    }
}

#offcanvasBottom {
    background-image: radial-gradient(circle, rgb(63 63 63 / 34%), rgb(37 36 36 / 34%), rgb(53 53 53 / 50%));
    backdrop-filter: blur(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}