.link-header{
    display: inline-flex;
}
.selected-icon {
    position: absolute;
    right: 9px;
    top: 3px;
    width: 14px;
    height: 14px;
    font-weight: bold;
    font-size: 15px;
    color: gold;
    background: black;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}
#gameList > #liveGames, #gameList > #cardGames, #gameList > #arcadeGames, #gameList > #slotGamesGames {
    padding-left: 0px;
    padding-right: 0px;
}
#link-header .link-header {
    margin: 0px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#linkHeader.col {
    flex: inherit;
    width: 10rem;
    margin: 10px;
}
#searchForm > input{

}
.r-40 {
    right: 40px;
}
.active {
    border-bottom: 10px solid #ffffff;
}
.selected > div > .bg-provider {
    border-bottom: 4px solid gold;
    border-radius: 0px !important;
    color: gold;
}
.selected > .text-mute {
    color: #212121;
}
.text-mute {
    color: #8e8e8e;
}



.gameOverflow-x > div{
    align-items: center;
}
#link-header {
    background-image: radial-gradient(circle, rgb(20 20 20 / 75%), rgb(40 40 40 / 75%), rgba(53, 53, 53, 0.8));
    backdrop-filter: blur(1px);
}

#link-header.sticky > .centered, #link-header {
    justify-content: center !important;
}

#link-header {
    transition: margin-top 0.3s ease-in-out;
}

#link-header.sticky {
    justify-content: center!important;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: radial-gradient(circle, rgb(20 20 20 / 82%), rgb(40 40 40 / 67%), rgba(53, 53, 53, 0.9));
    backdrop-filter: blur(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 992px) {
    .gameOverflow-x {
        overflow-x: inherit;
    }
    .link-header {
        width: 10rem;
        display: inline;
    }
    .link-header img {
        min-width: 5rem;
        height: 4rem;
    }
    #link-header, #link-header.sticky {
        height: 100px;
        top: 72px;
    }
    #link-header.sticky{
        align-items: center;
        display: inline-flex;
    }
}

@media screen and (max-width: 991px) {
    .link-header {
        width: 5.5rem;
        height: 3.8rem;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
    /*.link-header img {
        min-width: 5rem;
        height: 4rem;
    }*/
    #link-header, #link-header.sticky {
        height: 60px;
        top: 63px;
    }
}
@media screen and (max-width: 600px) {
    h6, h5{
        font-size: 12px;
    }
    h2{
        font-size: 20px;
    }
}
