#ageAgreement {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-width: 98%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; 
}
#ageAgreementOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: inline-flex;
}
.must-21 {
    display: inline-flex;
    width: 150px;
    background: #6e182c;
    border-radius: 50%;
    height: 150px;
}
.text-13{
    font-size: 13px;
}
.text-12{
    font-size: 12px;
}
.gpa-text {
    color: #6e182c;
}
.gpa-btn {
    background: #6e182c;
    color: #ffffff;
    width: 65%;
}
.modal-bg {
    background: #ffffff;
}

.font-80 {
    font-size: 80px;
}

.top-23 {
    top: 23px;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border-top: 1px solid #cecece;
    font-size: 13px;
}

.border-bottom-4 {
    border-bottom: 4px solid #6e182c;
}
ul > li {
    text-align: justify !important;
}
ul > li label{
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    #ageAgreement {
        width: 25%;
        min-width: 380px;
    }
}
@media screen and (max-width: 991px) {
    #ageAgreement {
        width: 30%;
        min-width: 350px;
    }
}
@media screen and (max-width: 320px) {
    #ageAgreement {
        width: 30%;
        min-width: 300px;
    }
}