<div id="betRangeContainer" class="container p-0">
    <div class="d-flex text-center">
        <div class="col p-1">
            <p class="blue-border">
                <span class="text-warning bold"><i class="fa-solid fa-dice"></i> G# </span>
                <span>023</span>
            </p>
        </div>
        <div class="col p-1">
            <p class="blue-border">
                <span><i class="fa-solid fa-coins text-warning"></i></span>
                <span>5 - 2,000</span>
            </p>
        </div>
        <div class="col p-1">
            <p class="blue-border">
                <span><i class="fa-solid fa-coins text-warning"></i></span>
                <span>1,000</span>
            </p>
        </div>
    </div>
</div>