#luckySlot-option-cont .modal-body {
    padding: .3rem;
    background: url('https://img.freepik.com/premium-vector/abstract-dark-background-with-wavy-glowing-lines-futuristic-vector-wavy-illustration_604214-505.jpg?size=626&ext=jpg&ga=GA1.1.1960319522.1697177765&semt=ais');
    /*background: url('https://img.freepik.com/premium-vector/blue-black-background-with-blue-gradient-line-art-wave-futuristic-graphics-with-sound-wave-technology-concept-digital-design-with-monochrome-cover-modern-templates_619781-59.jpg?size=626&ext=jpg&ga=GA1.2.1960319522.1697177765&semt=ais');*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#btn-options > div {
    display: flex;
    justify-content: center;
    height: 60px;
}
#luckySlot-option-cont .modal-footer {
    border-top: 2px solid #1f1d59;
    background: linear-gradient(to right, #0c0c25, #19195a);
}
#btn-options > div button {
    width: 15%;
    height: 60%;
    margin: 8px 5px;
    border-radius: 8px;
    border: none;
    /*background-color: #e1e1e1 !important;*/
}
#animal-btn-container > .animal-1{background: url('./img/luckySlot-images/animal-1.png') center center no-repeat; background-size: 100% 100%;}
#animal-btn-container > .animal-2{background: url('./img/luckySlot-images/animal-2.png') center center no-repeat; background-size: 100% 100%;}
#animal-btn-container > .animal-3{background: url('./img/luckySlot-images/animal-3.png') center center no-repeat; background-size: 100% 100%;}
#animal-btn-container > .animal-4{background: url('./img/luckySlot-images/animal-4.png') center center no-repeat; background-size: 100% 100%;}
#animal-btn-container > .animal-5{background: url('./img/luckySlot-images/animal-5.png') center center no-repeat; background-size: 100% 100%;}

#fruit-btn-container > .fruit-1{background: url('./img/luckySlot-images/fruit-1.png') center center no-repeat; background-size: 100% 100%;}
#fruit-btn-container > .fruit-2{background: url('./img/luckySlot-images/fruit-2.png') center center no-repeat; background-size: 100% 100%;}
#fruit-btn-container > .fruit-3{background: url('./img/luckySlot-images/fruit-3.png') center center no-repeat; background-size: 100% 100%;}
#fruit-btn-container > .fruit-4{background: url('./img/luckySlot-images/fruit-4.png') center center no-repeat; background-size: 100% 100%;}
#fruit-btn-container > .fruit-5{background: url('./img/luckySlot-images/fruit-5.png') center center no-repeat; background-size: 100% 100%;}

#ball-btn-container > .ball-1{background: url('./img/luckySlot-images/ball-1.png') center center no-repeat; background-size: 100% 100%;}
#ball-btn-container > .ball-2{background: url('./img/luckySlot-images/ball-2.png') center center no-repeat; background-size: 100% 100%;}
#ball-btn-container > .ball-3{background: url('./img/luckySlot-images/ball-3.png') center center no-repeat; background-size: 100% 100%;}
#ball-btn-container > .ball-4{background: url('./img/luckySlot-images/ball-4.png') center center no-repeat; background-size: 100% 100%;}
#ball-btn-container > .ball-5{background: url('./img/luckySlot-images/ball-5.png') center center no-repeat; background-size: 100% 100%;}

#car-btn-container > .car-1{background: url('./img/luckySlot-images/car-1.png') center center no-repeat; background-size: 100% 100%;}
#car-btn-container > .car-2{background: url('./img/luckySlot-images/car-2.png') center center no-repeat; background-size: 100% 100%;}
#car-btn-container > .car-3{background: url('./img/luckySlot-images/car-3.png') center center no-repeat; background-size: 100% 100%;}
#car-btn-container > .car-4{background: url('./img/luckySlot-images/car-4.png') center center no-repeat; background-size: 100% 100%;}
#car-btn-container > .car-5{background: url('./img/luckySlot-images/car-5.png') center center no-repeat; background-size: 100% 100%;}

#gem-btn-container > .gem-1{background: url('./img/luckySlot-images/gem-1.png') center center no-repeat; background-size: 100% 100%;}
#gem-btn-container > .gem-2{background: url('./img/luckySlot-images/gem-2.png') center center no-repeat; background-size: 100% 100%;}
#gem-btn-container > .gem-3{background: url('./img/luckySlot-images/gem-3.png') center center no-repeat; background-size: 100% 100%;}
#gem-btn-container > .gem-4{background: url('./img/luckySlot-images/gem-4.png') center center no-repeat; background-size: 100% 100%;}
#gem-btn-container > .gem-5{background: url('./img/luckySlot-images/gem-5.png') center center no-repeat; background-size: 100% 100%;}

#zodiac-btn-container > .zodiac-1{background: url('./img/luckySlot-images/zodiac-1.png') center center no-repeat; background-size: 100% 100%;}
#zodiac-btn-container > .zodiac-2{background: url('./img/luckySlot-images/zodiac-2.png') center center no-repeat; background-size: 100% 100%;}
#zodiac-btn-container > .zodiac-3{background: url('./img/luckySlot-images/zodiac-3.png') center center no-repeat; background-size: 100% 100%;}
#zodiac-btn-container > .zodiac-4{background: url('./img/luckySlot-images/zodiac-4.png') center center no-repeat; background-size: 100% 100%;}
#zodiac-btn-container > .zodiac-5{background: url('./img/luckySlot-images/zodiac-5.png') center center no-repeat; background-size: 100% 100%;}

#card-btn-container > .card-1{background: url('./img/luckySlot-images/card-1.png') center center no-repeat; background-size: 100% 100%;}
#card-btn-container > .card-2{background: url('./img/luckySlot-images/card-2.png') center center no-repeat; background-size: 100% 100%;}
#card-btn-container > .card-3{background: url('./img/luckySlot-images/card-3.png') center center no-repeat; background-size: 100% 100%;}
#card-btn-container > .card-4{background: url('./img/luckySlot-images/card-4.png') center center no-repeat; background-size: 100% 100%;}
#card-btn-container > .card-5{background: url('./img/luckySlot-images/card-5.png') center center no-repeat; background-size: 100% 100%;}

#btn-options > div button:after {
    content: "";
    display: block;
    position: relative;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

#btn-options > div button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}
#bet-btn.active {
    border-radius: 5px;
    cursor:pointer;
    animation: activeBet 1s infinite;
    outline: 2px solid #0d770a;
}
/*=========== Start: Button Changing Color Properties =============*/
@keyframes activeBet {from {background-color: yellow;outline: 2px solid #0d770a;} to {background-color: rgb(69, 219, 18);outline: 2px solid #bdff07;box-sizing: border-box;}}
/*=========== End: Button Changing Color Properties =============*/
#bet-btn:disabled {
    background: #357c0d;
}
#btn-options > div button:active {
    top: 1px;
}
#bet-btn::after {
    font-size: 25px;
}
#bet-btn > span {
    width: 40px;
    height: 23px;
    display: inline-flex;
    position: relative;
    background: url('./img/lucky-chip.png')right center no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 5px;
}


.selected {
    border: 10px solid !important;
    border-image-slice: 1 !important;
    border-width: 5px !important;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59) !important;
    /*outline: 4px solid #caff0b !important;*/
}

#bet-dropdown .dropdown-menu.show {
    min-width: 1rem;
    right: 0;
    background: linear-gradient(to right, #0c0c25, #19195a);
}
#bet-dropdown .dropdown-menu.show > a {
    background: url('./img/lucky-chip.png')center center no-repeat;
    background-size: auto;
    text-align: center;
    background-size: 67% 90%;
    margin-top: 2px;
    cursor: pointer;
    font-weight: bold;
    transition: transform .2s;
}
#bet-dropdown .dropdown-menu.show a:hover{
    color: #e54304;
    text-decoration: none;
    background: url('./img/red-chip.png')center center no-repeat;
    background-size: 67% 90%;
    transform: scale(1.5);
}
#bet-dropdown .dropdown-menu[x-placement^="bottom"], #bet-dropdown .dropdown-menu[x-placement^="left"], #bet-dropdown .dropdown-menu[x-placement^="right"], #bet-dropdown .dropdown-menu[x-placement^="top"] {
    left: auto !important;
}

@media screen and (min-width: 600px) {
    #btn-options > div {
        height: 100px;
    }
}

@media screen and (max-width: 375px) {
}



/*#luckySlotTabs {
    width: 100%;
    margin: 5px 0;
    background-size: 100% 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#luckySlotTabs li {
    width: 17%;
    margin: 1%;
    display: flex;
    height: 45px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#luckySlotTabs button{
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items: center;
}

.card > img {
    height: 40px;
    width: 40px;
    position: relative;
    top: 2px;
}

.slot-align {
    display: flex;
    width: 100%;
    justify-content:center;
    align-content: center;
    align-items: center;
}
.card > img.car {
    height: 50px;
    width: 50px;
}*/