.CurrentCardContainer {
    background-color: white;
    border-radius: 3px;
    height: 35px;
    width: 27px;
    margin: 1px;
}
.cardValue {
    font-size: 15px;
    margin-top: 2px;
}
.CurrentCardContainerActive {
    background-color: #b6ff00;
    border-radius: 3px;
    height: 35px;
    width: 27px;
    margin: 1px;
}
.CurrentCardContainerWin {
    background-color: orange;
    border-radius: 3px;
    height: 35px;
    width: 27px;
    margin: 1px;
    -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;
}
 
@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%{
        background-color: yellow;
        border: 2px solid #b6ff00;
    }

    100% {
        background-color: orange;
        border: 2px solid #297c07;
    }
}