@using GoPlayAsiaWebApp.ViewModels
@inject HeadsAndTailsViewModel IHeadsAndTailsViewModel;



<div class="MainContainer mt-1">
    <div class="innerContainer d-flex justify-content-center">

        <!-- ROUND NUMBER -->
        <div class="col borderGold  d-flex justify-content-center align-items-center ">
            <p><span class="gameText ">G#: </span><span class="gameNumber">@RoundNumber</span></p>
        </div>

        <!-- DISPLAY -->
        <button class=" btn p-0 col-5 d-flex justify-content-center align-items-center ml-2 mr-2">
            <div class="d-flex mainTokenRelative justify-content-center col p-0">
                <div>
                    <img class="token" style="width: 85px; height: 25px;" src="/img/defaul-token-l9.png" />
                </div>
                <div class=" betrangeAbsolute align-items-center">
                    <h6 class="d-flex justify-content-center align-items-center  mb-0 font-weight-bold" style="font-size: 16px;color: black; line-height: .7;">@(NumFormatter(MinChipDisplay)) - @(NumFormatter(MaxChipDisplay))</h6>
                </div>
            </div>
        </button>

        <!-- CURRENT TOKEN -->
        <div class="col p-0 borderGold d-flex align-items-center">
            <i class="col p-0 fa-solid fa-coins d-flex justify-content-end ml-1" style="color: gold;"></i>
            <p class="col p-0 userTotalBet d-flex justify-content-start ml-2 align-items-center text-light ">@TotalBets</p>
        </div>
    </div>
</div>
<hr class="m-0" />