<div id="gamePlayerResultsContainer" class="container pl-1 pr-1">
    <div class="d-flex align-items-center">
        <div class="width-31 player-result">
            <p>
                <span class="gameNo">G# 1</span>
                <span class="ball-1 rounded-sm"></span>
                <span class="ball-2 rounded-sm"></span>
                <span class="ball-3 rounded-sm"></span>
                <span class="ball-4 rounded-sm"></span>
                <span class="ball-5 rounded-sm"></span>
            </p>
        </div>
        <div class="d-flex">
            <p><span class="col">2000</span></p>
            <p><span class="col">1,000</span></p>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="width-31 player-result">
            <p>
                <span class="gameNo">G# 2</span>
                <span class="animal-1 rounded-sm"></span>
                <span class="animal-2 rounded-sm"></span>
                <span class="animal-3 rounded-sm"></span>
                <span class="animal-4 rounded-sm"></span>
                <span class="animal-5 rounded-sm"></span>
            </p>
        </div>
        <div class="d-flex">
            <p><span class="col">2000</span></p>
            <p><span class="col">1,000</span></p>
        </div>
    </div>
</div>