<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>
    </div>
</div>
<div id="bet-container" class="container">
    <div class="row justify-content-center">
        <button data-toggle="modal" data-target="#luckySlot-option-cont" class="btn btn-danger col mx-1 slot-btn">Pick 5 Cards</button>
        <div id="bet-dropdown" class="dropdown col pl-1 pr-1">
            <button id="bet-btn" type="button" class="btn font-weight-bold btn-success col mx-1 slot-btn dropdown-toggle" data-toggle="dropdown">
                <i class="fa-solid fa-thumbs-up"></i> BET
                <span class="bet-chips">@selectedBet</span>
            </button>
            <div class="dropdown-menu">
                @foreach (var betValue in betValues)
                {
                    <a class="dropdown-item" @onclick="() => SelectBetChips(betValue)">@betValue</a>
                }
            </div>
        </div>
        <button id="quickBet" class="btn btn-primary col mx-1 slot-btn quick-btn" @onclick="SpinSlotMachine">QUICK BET</button>
    </div>
</div>

@code {
    private string spinClass = "";
    private List<string> betValues = new List<string> { "20", "15", "10", "5", "3", "2", "1" };
    private string selectedBet = "5"; // Default value

    private void SpinSlotMachine()
    {
        spinClass = "spin";
        StateHasChanged();

        Task.Delay(1500).ContinueWith(_ =>
        {
            spinClass = "";
            StateHasChanged();
        });
    }

    private void SelectBetChips(string value)
    {
        selectedBet = value;
    }
}
@* 
<script>
    $(document).ready(function () {
        $("#quickBet").click(function () {
            $("div.slot-machine > .reel").addClass("spin");
            setTimeout(function () {
                $("div.slot-machine > .reel").removeClass("spin");
            }, 1500);
        });
        $('.dropdown-item').on('click', function () {
            var selectedValue = $(this).text();
            $('.bet-chips').text(selectedValue);
        });
    });
</script> *@