<div class="result-header container text-center">
    <h6 class="mb-0 up-font text-center">Game Results</h6>
</div>

<div id="gameResultsContainer" class="container">
    <div class="container-fluid p-0">
        <div>
            <p>
                <span>G# 11</span>
                <span class="animal-1"></span>
                <span class="animal-2"></span>
                <span class="animal-3"></span>
                <span class="animal-4"></span>
                <span class="animal-5"></span>
            </p>
            <p>
                <span>G# 12</span>
                <span class="gem-1"></span>
                <span class="gem-2"></span>
                <span class="gem-3"></span>
                <span class="gem-4"></span>
                <span class="gem-5"></span>
            </p>
            <p>
                <span>G# 13</span>
                <span class="car-1"></span>
                <span class="car-2"></span>
                <span class="car-3"></span>
                <span class="car-4"></span>
                <span class="car-5"></span>
            </p>
            <p>
                <span>G# 14</span>
                <span class="fruit-1"></span>
                <span class="fruit-2"></span>
                <span class="fruit-3"></span>
                <span class="fruit-4"></span>
                <span class="fruit-5"></span>
            </p>
            <p>
                <span>G# 15</span>
                <span class="ball-1"></span>
                <span class="ball-2"></span>
                <span class="ball-3"></span>
                <span class="ball-4"></span>
                <span class="ball-5"></span>
            </p>
        </div>
        <div>
            <p>
                <span>G# 11</span>
                <span class="animal-1"></span>
                <span class="animal-2"></span>
                <span class="animal-3"></span>
                <span class="animal-4"></span>
                <span class="animal-5"></span>
            </p>
            <p>
                <span>G# 12</span>
                <span class="gem-1"></span>
                <span class="gem-2"></span>
                <span class="gem-3"></span>
                <span class="gem-4"></span>
                <span class="gem-5"></span>
            </p>
            <p>
                <span>G# 13</span>
                <span class="car-1"></span>
                <span class="car-2"></span>
                <span class="car-3"></span>
                <span class="car-4"></span>
                <span class="car-5"></span>
            </p>
            <p>
                <span>G# 14</span>
                <span class="fruit-1"></span>
                <span class="fruit-2"></span>
                <span class="fruit-3"></span>
                <span class="fruit-4"></span>
                <span class="fruit-5"></span>
            </p>
            <p>
                <span>G# 15</span>
                <span class="ball-1"></span>
                <span class="ball-2"></span>
                <span class="ball-3"></span>
                <span class="ball-4"></span>
                <span class="ball-5"></span>
            </p>
        </div>
        <div>
            <p>
                <span>G# 11</span>
                <span class="animal-1"></span>
                <span class="animal-2"></span>
                <span class="animal-3"></span>
                <span class="animal-4"></span>
                <span class="animal-5"></span>
            </p>
            <p>
                <span>G# 12</span>
                <span class="gem-1"></span>
                <span class="gem-2"></span>
                <span class="gem-3"></span>
                <span class="gem-4"></span>
                <span class="gem-5"></span>
            </p>
            <p>
                <span>G# 13</span>
                <span class="car-1"></span>
                <span class="car-2"></span>
                <span class="car-3"></span>
                <span class="car-4"></span>
                <span class="car-5"></span>
            </p>
            <p>
                <span>G# 14</span>
                <span class="fruit-1"></span>
                <span class="fruit-2"></span>
                <span class="fruit-3"></span>
                <span class="fruit-4"></span>
                <span class="fruit-5"></span>
            </p>
            <p>
                <span>G# 15</span>
                <span class="ball-1"></span>
                <span class="ball-2"></span>
                <span class="ball-3"></span>
                <span class="ball-4"></span>
                <span class="ball-5"></span>
            </p>
        </div>
    </div>
</div>