<div class="container">
    <div class="slotMachine text-center">
        <div class="d-flex">
            <GoplayasiaBlazor.Games.LuckySlots.Components.AssortedImages />
        </div>
    </div>
</div>
