@using GoPlayAsiaWebApp.Layout.Components.HeaderAndFooter
@inherits LayoutComponentBase
<div class="page">
    <NavMenu />
    <main>
        @Body
    </main>

</div>
<div class="container-fluid footer">
    <Footer />
</div>
