<div id="goPlayAsia-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <CarouselTile _imgStr="./img/carousel/slide-bigWin.png"
                      _classNameStr="active bg-bigWin"
                      _gameNameStr="Drop Ball Games"
                      _headerStr="BIG WIN | LUCKY 4 | GO 12"
                      _contentStr1="Drop ball games are among that provide more excitement and fun."
                      _contentStr2="The thrill never stops until your luck is decided by the fall of each ball."
                      _contentStr3="Test your luck with our drop ball games and you realize how easy it is to win!" />
                      
        <CarouselTile _imgStr="./img/carousel/slide-lucky9.png"
                      _classNameStr="bg-lucky9"
                      _gameNameStr="Card Games"
                      _headerStr="LUCKY 9 | FIRST 3"
                      _contentStr1="Our new card games are upgraded for a better gaming experience of players."
                      _contentStr2="More betting options, automated card reader and more."
                      _contentStr3="Online gaming will be never the same again!" />
                      
        <CarouselTile _imgStr="./img/carousel/slide-headAndTails.png"
                      _classNameStr="bg-headAndTails"
                      _gameNameStr="Coin Games"
                      _headerStr="HEADS &amp; TAILS"
                      _contentStr1="Our boyhood playmate. The coin game never runs out of fun and memories."
                      _contentStr2="For many generations this game has always been a part of our culture growing up."
                      _contentStr3="Let’s GOPLAY it again!" />
                      
        <CarouselTile _imgStr="./img/carousel/slide-diceGame.png"
                      _classNameStr="bg-diceGame"
                      _gameNameStr="Dice Games"
                      _headerStr="Let’s GoPlay Soon!" />
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goPlayAsia-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>