@using GoPlayAsiaWebApp.Layout.Games.GPAGames

<div class="modal fade animate-bottom @(IsModalVisible ? "show" : "") @(IsModalVisible ? "d-block" : "")" tabindex="-1" role="dialog" style="padding-top: 50px;">
    <div class="modal-backdrop fade show" @onclick="Cancel"></div>
    <div class="modal-dialog" style="z-index: 1050">
        <div class="modal-content">
            @* <div class="modal-header">
                <h5 class="modal-title fw-bold">Game Overview</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div> *@
            <div class="modal-body mt-2">
                @if (!string.IsNullOrEmpty(gameId))
                {
                    if (gameId == "first3")
                    {
                        <First3GameOverview />
                    }
                    else if (gameId == "lucky9")
                    {
                        <Lucky9GameOverview />
                    }
                    else if (gameId == "lucky4")
                    {
                        <Lucky4GameOverview />
                    }
                    else if (gameId == "go12")
                    {
                        <Go12GameOverview />
                    }
                    else if (gameId == "headsAndTails")
                    {
                        <HeadAndTailsGameOverview />
                    }
                    else if (gameId == "bigWin")
                    {
                        <BigWinGameOverview />
                    }
                    else if (gameId == "diceGame")
                    {
                        <DiceGameOverview />
                    }
                    else if (gameId == "hooray")
                    {
                        <HoorayGameOverview />
                    }
                }
            </div>
            @* <div class="modal-footer" style="margin-bottom: 60px;">
                <button type="button" class="btn btn-secondary" aria-label="Close" @onclick="Close">Close</button>
            </div> *@
        </div>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string gameId { get; set; } = ""; // Define a parameter to receive the game ID
    private bool IsModalVisible = true; // Define IsModalVisible and set its initial value

    public void ShowModal(string _idStr)
    {
        gameId = _idStr;
        IsModalVisible = true; // Set IsModalVisible to true when showing the modal
    }

    private async Task Close() => await BlazoredModal.CloseAsync();
    private async Task Cancel() => await BlazoredModal.CancelAsync();

}