
<div class="container">
    <div class="row justify-content-center margin-bottom-md">
       @* <i class="bi bi-question-circle" style="font-size:80px;"></i>*@
    </div>
    <div class="row justify-content-center margin-bottom-md">
        @Message
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btnNo col btn btn-warning " @onclick="() => Confirmation(false)">No</button>
        <button type="button" class="btnYes col  btn btn-primary" @onclick="() => Confirmation(true)">Yes</button>
    </div>
</div>

@code {
    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure?";
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public void Confirmation(bool value)
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(value));
    }
}