<div class="form-style form-style-one">
    <div class="row">
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items default">
                        <input type="text" placeholder="Default" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items active">
                        <input type="text" placeholder="Active" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5 form-group">
                <form action="#" data-toggle="validator">
                    <label>Enter userid</label>
                    <div class="input-items error">
                        <input type="text" placeholder="Error!" data-error="Please enter your userid" required />
                        <i class="lni lni-user"></i>
                    </div>
                    <div class="help-block with-errors"></div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items success">
                        <input type="text" placeholder="Success" />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
        <div class="col-lg">
            <div class="form-input mt-5">
                <form action="#">
                    <label>Enter userid</label>
                    <div class="input-items disabled">
                        <input type="text" placeholder="Disabled" disabled />
                        <i class="lni lni-user"></i>
                    </div>
                </form>
            </div>
            <!-- form input -->
        </div>
    </div>
    <!-- row -->
</div>
<!-- form-style -->