.font-16{
    font-size: 16px;
}

.mainCon {
    margin: 0 auto;
    padding: 10px;
    max-width: 480px;
}

.emailBtn {
    background-color: #05976a;
    color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 20px;
}

.pagcorIcon {
    width: 300px;
    margin: auto;
    display: flex;
}

p {
    font-size: 20px;
    line-height: normal;
    margin-top: 10px;
}

.reqCode {
    font-weight: 600;
    color: white;
}
