@page "/slotGames"
@using GoPlayAsiaWebApp.Controls.GameLinkHeader
@using GoPlayAsiaWebApp.Pages.EGames.FishingGames
@using GoPlayAsiaWebApp.Pages.GPAGames
<PageTitle>GoPlayAsia: Slot Games </PageTitle>


<div id="slotGames" class="container-fluid p-0 marketing">
   <GameLinkHeader />

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Spin & Win Adventure</h2>
        <h5 class="text-muted">Discover endless fun with our Slot Games!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <SlotTiles _imgStr="./img/SlotGames/samba.png"
                           _titleStr="Samba" />

                <SlotTiles _imgStr="./img/SlotGames/worldCup.png"
                           _titleStr="World Cup" />

                <SlotTiles _imgStr="./img/SlotGames/bunosHunter.png"
                           _titleStr="Bonus Hunter" />

                <SlotTiles _imgStr="./img/SlotGames/WildRacer.png"
                           _titleStr="Wild Racer" />

                <SlotTiles _imgStr="./img/SlotGames/boneFortune.png"
                           _titleStr="Bone Fortune" />

                <SlotTiles _imgStr="./img/SlotGames/Medusa.png"
                           _titleStr="Medusa" />

                <SlotTiles _imgStr="./img/SlotGames/BookOfGold.png"
                           _titleStr="Book of Gold" />

                <SlotTiles _imgStr="./img/SlotGames/HappyTaxi.png"
                           _titleStr="Happy Taxi" />

                <SlotTiles _imgStr="./img/SlotGames/THORX.png"
                           _titleStr="THOR X" />

                <SlotTiles _imgStr="./img/SlotGames/SuperAce.png"
                           _titleStr="Super Ace" />

                <SlotTiles _imgStr="./img/SlotGames/GoldenEmpire.png"
                           _titleStr="Golden Empire" />

                <SlotTiles _imgStr="./img/SlotGames/FortuneGems.png"
                           _titleStr="Fortune Gems" />

                <SlotTiles _imgStr="./img/SlotGames/MoneyComing.png"
                           _titleStr="Money Coming" />

                <SlotTiles _imgStr="./img/SlotGames/Crazy777.png"
                           _titleStr="Crazy 777" />

                <SlotTiles _imgStr="./img/SlotGames/AliBaba.png"
                           _titleStr="Ali Baba" />

                <SlotTiles _imgStr="./img/SlotGames/MegaAce.png"
                           _titleStr="Mega Ace" />

                <SlotTiles _imgStr="./img/SlotGames/RomaX.png"
                           _titleStr="RomaX" />

                <SlotTiles _imgStr="./img/SlotGames/ChargeBuffalo.png"
                           _titleStr="Charge Buffalo" />

                <SlotTiles _imgStr="./img/SlotGames/PharaohTreasure.png"
                           _titleStr="Pharaoh Treasure" />

                <SlotTiles _imgStr="./img/SlotGames/PirateQueen.png"
                           _titleStr="Pirate Queen" />

                <SlotTiles _imgStr="./img/SlotGames/GoldRush.png"
                           _titleStr="Gold Rush" />

                <SlotTiles _imgStr="./img/SlotGames/NekoFortune.png"
                           _titleStr="Neko Fortune" />

                <SlotTiles _imgStr="./img/SlotGames/GoldenBank.png"
                           _titleStr="Golden Bank" />

                <SlotTiles _imgStr="./img/SlotGames/AgentAce.png"
                           _titleStr="Agent Ace" />

                <SlotTiles _imgStr="./img/SlotGames/TwinWins.png"
                           _titleStr="Twin Wins" />

                <SlotTiles _imgStr="./img/SlotGames/MagicLamp.png"
                           _titleStr="Magic Lamp" />

                <SlotTiles _imgStr="./img/SlotGames/PartyNight.png"
                           _titleStr="Party Night" />

                <SlotTiles _imgStr="./img/SlotGames/SuperRich.png"
                           _titleStr="Super Rich" />

                <SlotTiles _imgStr="./img/SlotGames/LuckyComing.png"
                           _titleStr="Lucky Coming" />

                <SlotTiles _imgStr="./img/SlotGames/ChinShiHuang.png"
                           _titleStr="Chin Shi Huang" />

                <SlotTiles _imgStr="./img/SlotGames/ShanghaiBeauty.png"
                           _titleStr="Shanghai Beauty" />

                <SlotTiles _imgStr="./img/SlotGames/JungleKing.png"
                           _titleStr="Jungle King" />

                <SlotTiles _imgStr="./img/SlotGames/LuckyGoldbricks.png"
                           _titleStr="Lucky Goldbricks" />

                <SlotTiles _imgStr="./img/SlotGames/GoldenQueen.png"
                           _titleStr="Golden Queen" />

                <SlotTiles _imgStr="./img/SlotGames/GemParty.png"
                           _titleStr="Gem Party" />

                <SlotTiles _imgStr="./img/SlotGames/FortuneMonkey.png"
                           _titleStr="Fortune Monkey" />

                <SlotTiles _imgStr="./img/SlotGames/JumpingSheep.png"
                           _titleStr="Jumping Sheep" />

                <SlotTiles _imgStr="./img/SlotGames/SevenSeven.png"
                           _titleStr="Seven Seven Seven" />

                <SlotTiles _imgStr="./img/SlotGames/Xiyangyang.png"
                           _titleStr="Xiyangyang" />

                <SlotTiles _imgStr="./img/SlotGames/FaFaFa.png"
                           _titleStr="Fa Fa Fa" />

                <SlotTiles _imgStr="./img/SlotGames/BoxingKing.png"
                           _titleStr="Boxing King" />

                <SlotTiles _imgStr="./img/SlotGames/FortuneTree.png"
                           _titleStr="Fortune Tree" />

                <SlotTiles _imgStr="./img/SlotGames/CandyBaby.png"
                           _titleStr="Candy Baby" />

                <SlotTiles _imgStr="./img/SlotGames/FortunePig.png"
                           _titleStr="Fortune Pig" />

                <SlotTiles _imgStr="./img/SlotGames/BubbleBeauty.png"
                           _titleStr="Bubble Beauty" />
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Live and Exciting Games!</h2>
        <h5 class="text-muted">Real-Time Fun: Dive into Live Gaming Today!</h5>
        <div id="gpa-overflow" class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <GPATile _imgStr="./img/GPAGames/BW.png"
                         _idStr="bigWin"
                         _titleStr="Big Win" />

                <GPATile _imgStr="./img/GPAGames/G12.png"
                         _idStr="go12"
                         _titleStr="Go 12" />

                @* <GPATile _imgStr="./img/GPAGames/new-dice.png"
                         _idStr="diceGame"
                         _titleStr="Dice" />

                <GPATile _imgStr="./img/GPAGames/hooray.png"
                         _idStr="hooray"
                         _titleStr="Hooray!" /> *@

                <GPATile _imgStr="./img/GPAGames/L9.png"
                         _idStr="lucky9"
                         _titleStr="Lucky 9" />

                <GPATile _imgStr="./img/GPAGames/L4.png"
                         _idStr="lucky4"
                         _titleStr="Lucky 4" />

                <GPATile _imgStr="./img/GPAGames/F3.png"
                         _idStr="first3"
                         _titleStr="First 3" />

                <GPATile _imgStr="./img/GPAGames/HT.png"
                         _idStr="headsAndTails"
                         _titleStr="Heads and Tails" />

            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Fun and Exciting Games</h2>
        <h5 class="text-muted">Discover fun in our Fishing Games!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <FishingTile _imgStr="./img/fishing/JackpotFishing.png"
                             _titleStr="Jackpot Fishing"
                             _tryoutsHrefStr="https://wbgame-demo.jiligames.com/fish3/index.html?ssoKey=1b1dfbc4d7c607b459396fecbe0b715139f9917e&lang=en-US&demo=true&be=moc.semagilij.a-ipabewbw&gameId=32&loginFrom=wb-gaming&gs=moc.semagilij.omed-tols&domain_platform=moc.gnidnawcs.df-tolsbw-tau&domain_gs=semagilij&be=moc.semagilij.a-ipabewbw&apiId=6" />

                <FishingTile _imgStr="./img/fishing/MegaFishing.png"
                             _titleStr="Mega Fishing" />

                <FishingTile _imgStr="./img/fishing/HappyFishing.png"
                             _titleStr="Happy Fishing" />

                <FishingTile _imgStr="./img/fishing/DinosaurTycoon.png"
                             _titleStr="Dinosaur Tycoon" />

                <FishingTile _imgStr="./img/fishing/CrazyHunter.png"
                             _titleStr="Crazy Hunter" />

                <FishingTile _imgStr="./img/fishing/BombingFishing.png"
                             _titleStr="Bombing Fishing" />

                <FishingTile _imgStr="./img/fishing/PlinkoEmpire.png"
                             _titleStr="Plinko Empire" />

                <FishingTile _imgStr="./img/fishing/All-StarFishing.png"
                             _titleStr="All-Star Fishing" />

                <FishingTile _imgStr="./img/fishing/BoomLegend.png"
                             _titleStr="Boom Legend" />

                <FishingTile _imgStr="./img/fishing/SecretTreasure.png"
                             _titleStr="Secret Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonTreasure.png"
                             _titleStr="Dragon Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonFortune.png"
                             _titleStr="Dragon Fortune" />
            </div>
        </div>
    </div>

</div>