<div class="container">
    <h2 class="text-white fw-bold mt-5">Spin & Win Adventure</h2>
    <h5 class="text-muted">Discover endless fun with our Slot Games!</h5>
    <div class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <SlotTiles _imgStr="./img/SlotGames/samba.png"
                       _titleStr="Samba"
                       _tryoutsHrefStr="https://jiligames.com/PlusIntro/136?showGame=true" />

            <SlotTiles _imgStr="./img/SlotGames/worldCup.png"
                       _titleStr="World Cup" />

            <SlotTiles _imgStr="./img/SlotGames/bunosHunter.png"
                       _titleStr="Bonus Hunter" />

            <SlotTiles _imgStr="./img/SlotGames/WildRacer.png"
                       _titleStr="Wild Racer" />

            <SlotTiles _imgStr="./img/SlotGames/boneFortune.png"
                       _titleStr="Bone Fortune" />

            <SlotTiles _imgStr="./img/SlotGames/Medusa.png"
                       _titleStr="Medusa" />

            <SlotTiles _imgStr="./img/SlotGames/BookOfGold.png"
                       _titleStr="Book of Gold" />

            <SlotTiles _imgStr="./img/SlotGames/HappyTaxi.png"
                       _titleStr="Happy Taxi" />

            <SlotTiles _imgStr="./img/SlotGames/THORX.png"
                       _titleStr="THOR X" />

            <SlotTiles _imgStr="./img/SlotGames/SuperAce.png"
                       _titleStr="Super Ace" />

            <SlotTiles _imgStr="./img/SlotGames/GoldenEmpire.png"
                       _titleStr="Golden Empire" />

            <SlotTiles _imgStr="./img/SlotGames/FortuneGems.png"
                       _titleStr="Fortune Gems" />

            <SlotTiles _imgStr="./img/SlotGames/MoneyComing.png"
                       _titleStr="Money Coming" />

            <SlotTiles _imgStr="./img/SlotGames/Crazy777.png"
                       _titleStr="Crazy 777" />

            <SlotTiles _imgStr="./img/SlotGames/AliBaba.png"
                       _titleStr="Ali Baba" />

            <SlotTiles _imgStr="./img/SlotGames/MegaAce.png"
                       _titleStr="Mega Ace" />

            <SlotTiles _imgStr="./img/SlotGames/RomaX.png"
                       _titleStr="RomaX" />

            <SlotTiles _imgStr="./img/SlotGames/ChargeBuffalo.png"
                       _titleStr="Charge Buffalo" />

            <SlotTiles _imgStr="./img/SlotGames/PharaohTreasure.png"
                       _titleStr="Pharaoh Treasure" />

            <SlotTiles _imgStr="./img/SlotGames/PirateQueen.png"
                       _titleStr="Pirate Queen" />

            <SlotTiles _imgStr="./img/SlotGames/GoldRush.png"
                       _titleStr="Gold Rush" />

            <SlotTiles _imgStr="./img/SlotGames/NekoFortune.png"
                       _titleStr="Neko Fortune" />

            <SlotTiles _imgStr="./img/SlotGames/GoldenBank.png"
                       _titleStr="Golden Bank" />

            <SlotTiles _imgStr="./img/SlotGames/AgentAce.png"
                       _titleStr="Agent Ace" />

            <SlotTiles _imgStr="./img/SlotGames/TwinWins.png"
                       _titleStr="Twin Wins" />

            <SlotTiles _imgStr="./img/SlotGames/MagicLamp.png"
                       _titleStr="Magic Lamp" />

            <SlotTiles _imgStr="./img/SlotGames/PartyNight.png"
                       _titleStr="Party Night" />

            <SlotTiles _imgStr="./img/SlotGames/SuperRich.png"
                       _titleStr="Super Rich" />

            <SlotTiles _imgStr="./img/SlotGames/LuckyComing.png"
                       _titleStr="Lucky Coming" />

            <SlotTiles _imgStr="./img/SlotGames/ChinShiHuang.png"
                       _titleStr="Chin Shi Huang" />

            <SlotTiles _imgStr="./img/SlotGames/ShanghaiBeauty.png"
                       _titleStr="Shanghai Beauty" />

            <SlotTiles _imgStr="./img/SlotGames/JungleKing.png"
                       _titleStr="Jungle King" />

            <SlotTiles _imgStr="./img/SlotGames/LuckyGoldbricks.png"
                       _titleStr="Lucky Goldbricks" />

            <SlotTiles _imgStr="./img/SlotGames/GoldenQueen.png"
                       _titleStr="Golden Queen" />

            <SlotTiles _imgStr="./img/SlotGames/GemParty.png"
                       _titleStr="Gem Party" />

            <SlotTiles _imgStr="./img/SlotGames/FortuneMonkey.png"
                       _titleStr="Fortune Monkey" />

            <SlotTiles _imgStr="./img/SlotGames/JumpingSheep.png"
                       _titleStr="Jumping Sheep" />

            <SlotTiles _imgStr="./img/SlotGames/SevenSeven.png"
                       _titleStr="Seven Seven Seven" />

            <SlotTiles _imgStr="./img/SlotGames/Xiyangyang.png"
                       _titleStr="Xiyangyang" />

            <SlotTiles _imgStr="./img/SlotGames/FaFaFa.png"
                       _titleStr="Fa Fa Fa" />

            <SlotTiles _imgStr="./img/SlotGames/BoxingKing.png"
                       _titleStr="Boxing King" />

            <SlotTiles _imgStr="./img/SlotGames/FortuneTree.png"
                       _titleStr="Fortune Tree" />

            <SlotTiles _imgStr="./img/SlotGames/CandyBaby.png"
                       _titleStr="Candy Baby" />

            <SlotTiles _imgStr="./img/SlotGames/FortunePig.png"
                       _titleStr="Fortune Pig" />

            <SlotTiles _imgStr="./img/SlotGames/BubbleBeauty.png"
                       _titleStr="Bubble Beauty" />
        </div>
    </div>
</div>