<div class="container">
    <h2 class="text-white fw-bold mt-5">Enjoyable and Dynamic games!</h2>
    <h5 class="text-muted">Begin rotating for your chance to win big!</h5>
    <div id="arcade" class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <ArcadeTile _imgStr="./img/Arcade/Mines.png"
                        _idStr="mines"
                        _titleStr="Mines"
                        _tryoutsHrefStr="https://jiligames.com/PlusIntro/229?showGame=true" />

            <ArcadeTile _imgStr="./img/Arcade/GoRush.png"
                        _titleStr="Go Rush" />

            <ArcadeTile _imgStr="./img/Arcade/Limbo.png"
                        _titleStr="Limbo" />

            <ArcadeTile _imgStr="./img/Arcade/Tower.png"
                        _titleStr="Tower" />

            <ArcadeTile _imgStr="./img/Arcade/CrazyPusher.png"
                        _titleStr="Crazy Pusher" />

        </div>
    </div>
</div>