@page "/arcadeGames"

@using GoPlayAsiaWebApp.Controls.Carousel.ArcadeCarousel
@using GoPlayAsiaWebApp.Controls.GameLinkHeader
@using GoPlayAsiaWebApp.Pages.EGames.CardGames
@using GoPlayAsiaWebApp.Pages.EGames.LiveCasino
@using GoPlayAsiaWebApp.Pages.GPAGames
<PageTitle>GoPlayAsia: Arcade Games </PageTitle>

<div id="cardGames" class="container-fluid p-0 marketing">
    <ArcadeCarousel />

    <GameLinkHeader />

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Live and Exciting Games!</h2>
        <h5 class="text-muted">Real-Time Fun: Dive into Live Gaming Today!</h5>
        <div id="gpa-overflow" class="pb-2 gameOverflow-x">
            <div class="justify-content-center p-2">
                <GPATile _imgStr="./img/GPAGames/L9.png"
                         _idStr="lucky9"
                         _titleStr="Lucky 9"
                         _gameInfoHrefStr="games/lucky9" />

                <GPATile _imgStr="./img/GPAGames/L4.png"
                         _idStr="lucky4"
                         _titleStr="Lucky 4"
                         _gameInfoHrefStr="games/lucky4" />

                <GPATile _imgStr="./img/GPAGames/HT.png"
                         _idStr="headsAndTails"
                         _titleStr="Heads and Tails"
                         _gameInfoHrefStr="games/headstails" />

                <GPATile _imgStr="./img/GPAGames/F3.png"
                         _idStr="first3"
                         _titleStr="First 3"
                         _gameInfoHrefStr="games/first3" />

                <GPATile _imgStr="./img/GPAGames/BW.png"
                         _idStr="bigWin"
                         _titleStr="Big Win"
                         _gameInfoHrefStr="games/bigwin" />

                <GPATile _imgStr="./img/GPAGames/G12.png"
                         _idStr="go12"
                         _titleStr="Go 12"
                         _gameInfoHrefStr="games/go12" />

                @*  <GPATile _imgStr="./img/GPAGames/new-dice.png"
                _idStr="diceGame"
                _titleStr="Dice" />

                <GPATile _imgStr="./img/GPAGames/hooray.png"
                _idStr="hooray"
                _titleStr="Hooray!" /> *@

            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h2 class="text-white fw-bold">Enjoyable and Dynamic games!</h2>
        <h5 class="text-muted">Begin rotating for your chance to win big!</h5>
        <div id="arcade-overflow" class="pb-2 gameOverflow-x">
            <div class="justify-content-center p-2">
                <ArcadeTile _imgStr="./img/Arcade/Mines.png"
                            _titleStr="Mines" />

                <ArcadeTile _imgStr="./img/Arcade/GoRush.png"
                            _titleStr="Go Rush" />

                <ArcadeTile _imgStr="./img/Arcade/Limbo.png"
                            _titleStr="Limbo" />

                <ArcadeTile _imgStr="./img/Arcade/Tower.png"
                            _titleStr="Tower" />

                <ArcadeTile _imgStr="./img/Arcade/CrazyPusher.png"
                            _titleStr="Crazy Pusher" />

            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Exciting Table Games!</h2>
        <h5 class="text-muted">Bet now while the table's hot!</h5>
        <div id="cardGames-overflow" class="pb-2 gameOverflow-x">
            <div class="justify-content-center p-2">
                <CardTile _imgStr="./img/CardGames/BlackJack.png"
                          _titleStr="Black Jack" />

                <CardTile _imgStr="./img/CardGames/callBreak.png"
                          _titleStr="Callbreak Quick" />

                <CardTile _imgStr="./img/CardGames/MiniFlush.png"
                          _titleStr="Mini Flush" />

                <CardTile _imgStr="./img/CardGames/baccarat.png"
                          _titleStr="Baccarat" />

                <CardTile _imgStr="./img/CardGames/SicBo.png"
                          _titleStr="Sic Bo" />

                <CardTile _imgStr="./img/CardGames/NumberKing.png"
                          _titleStr="Number King" />

            </div>
        </div>
    </div>

    <div class="container pb-4">
            <h2 class="text-white fw-bold mt-5">Live Casino</h2>
            <h5 class="text-muted">Your Seat Awaits: Dive into Live Casino Bliss</h5>
            <div id="liveCasino-overflow" class="pb-2 gameOverflow-x">
                <div class="justify-content-center p-2">
                    <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_a.png"
                              _titleStr="Baccarat A" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/teenPatti.png"
                              _titleStr="Teen Patti" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/blackJack.png"
                              _titleStr="Black Jack" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/BlackjackdaSorte.png"
                                    _titleStr="Blackjack da Sorte" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/32Cards.png"
                              _titleStr="32 Cards" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/casinoHoldEm.png"
                                    _titleStr="Casino Hold'em" />
                              
                    <LiveCasinoTile _imgStr="./img/LiveGames/speedRoulette.png"
                                _titleStr="Speed Roulette" />
                                
                    <LiveCasinoTile _imgStr="./img/LiveGames/cricketRoulette.png"
                                    _titleStr="Cricket Roulette" />
                                
                    <LiveCasinoTile _imgStr="./img/LiveGames/threeCardPoker.png"
                                    _titleStr="Three Card Poker" />
                                    
                    <LiveCasinoTile _imgStr="./img/LiveGames/andarBahar.png"
                                    _titleStr="Andar Bahar" />
                                    
                    <LiveCasinoTile _imgStr="./img/LiveGames/betOnNumbers.png"
                                    _titleStr="Bet on Numbers" />

                    <LiveCasinoTile _imgStr="./img/LiveGames/baccarat_b.png"
                                    _titleStr="Baccarat B" />
                                    
                    <LiveCasinoTile _imgStr="./img/LiveGames/sicbo.png"
                                    _titleStr="Sic Bo" />
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function () {
        $("#arcade-linkHeader").addClass("active");
    });
</script>