#linkHeader.col{
    flex: inherit;
    width: 10rem;
    margin: 10px;
}

.active {
    border-bottom: 6px solid white;
}

@media only screen and (min-width: 992px) {
    .link-header {
        width: 13rem;
    }
}

@media screen and (max-width: 987px) {
    .link-header {
        width: 9rem;
    }
    h6{
        font-size: 11px;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}