#linkHeader.col{
    flex: inherit;
    width: 10rem;
    margin: 10px;
}
#link-header > a{
    color: #688fcf;
    font-size: 13px;
}
.bg-linkHeader {
    color: #bfcdd7;
}
.active {
    color: gold !important;
}
.active > h6.text-uppercase{
    padding-bottom: 3px;
}
.text-uppercase {
    font-size: 13px;

}
h6.text-uppercase{
    position: absolute;
    font-size: 11px;
    top: 33px;
}

.deactiveIcon {
    filter: grayscale(100%);
    height: 80px !important;
    width: 100%;
    position: relative;
    display: inline-block;
    background-size: contain !important;
}
div.liveGames {background: url(./img/gameCategory/live.png) center center no-repeat;}
div.arcadeGames {background: url(./img/gameCategory/arcade.png) center center no-repeat;}
div.cardGames {background: url(./img/gameCategory/card.png) center center no-repeat;}
div.slotGames {background: url(./img/gameCategory/slot.png) center center no-repeat;}
div.gpaGames {background: url(./img/GPA-btm-icon.svg) center center no-repeat;}


.active > .deactiveIcon {
    filter: grayscale(0%);
    height: 80px !important
}
.active > div.liveGames.deactiveIcon { background: url(./img/gameCategory/liveWebp.webp) center center no-repeat; background-size:cover;}
.active > div.arcadeGames.deactiveIcon { background: url(./img/gameCategory/arcade.webp) center center no-repeat; background-size:cover;}
.active > div.cardGames.deactiveIcon { background: url(./img/gameCategory/card.webp) center center no-repeat; background-size:cover;}
.active > div.slotGames.deactiveIcon { background: url(./img/gameCategory/slot.gif) center center no-repeat; background-size:cover;}
.active > div.gpaGames.deactiveIcon { background: url(./img/gameCategory/arcade.webp) center center no-repeat; background-size:cover;}


#link-header.sticky .deactiveIcon, #link-header .deactiveIcon {
    height: 30px !important;
    position: relative;
}
#link-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 992px) {
    #link-header .link-header, #link-header.sticky .link-header {
        width: 10rem;
    }
    #link-header.sticky .deactiveIcon, #link-header .deactiveIcon {
        height: 45px !important;
    }
    h6.text-uppercase {
        top: 52px;
    }
    #link-header.sticky .col-xl-2 {
        width: 11.444% !important;
    }
}

@media screen and (max-width: 991px) {
    #link-header.sticky .link-header,#link-header .link-header {
        width: 4rem;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
    #link-header.sticky .deactiveIcon, #link-header .deactiveIcon {
        height: 30px !important;
    }
}
@media screen and (max-width: 360px) {
    #link-header.sticky .link-header, #link-header .link-header {
        width: 3.5rem;
    }
    #link-header.sticky h6.text-uppercase {
        font-size: 11px;
    }
    #link-header.sticky .deactiveIcon, #link-header .deactiveIcon {
        height: 30px !important;
    }

}