h6{
    font-size: 14px;
}

@media only screen and (min-width: 992px) {
    .gameOverflow-x {
        overflow-x: inherit;
    }
}

@media screen and (max-width: 991px) {
    h2{
        font-size: 20px;
    }
    h5 {
        font-size: 14px;
    }
}

#link-header.sticky > .centered{
    justify-content: center !important;
}
#link-header.sticky {
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: radial-gradient(circle, rgba(20, 20, 20, 0.9), rgba(40, 40, 40, 0.8), rgba(53, 53, 53, 0.9));
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
