h6{
    font-size: 14px;
}
#headerContainer.container{
    padding-left: 8px;
    padding-right: 8px;
}
@media only screen and (min-width: 992px) {
    .gameOverflow-x {
        overflow-x: inherit;
    }
    #link-header, #link-header.sticky {
        height: 76px;
        top: 72px;
    }
}

@media screen and (max-width: 991px) {
    h2{
        font-size: 20px;
    }
    h5 {
        font-size: 14px;
    }
    #link-header, #link-header.sticky {
        height: 50px;
        top: 68px;
    }
    #link-header div.col > a{
        position: relative;
        top: -8px;
    }
}
#link-header {
    background-image: radial-gradient(circle, rgb(20 20 20 / 75%), rgb(40 40 40 / 75%), rgba(53, 53, 53, 0.8));
    backdrop-filter: blur(1px);
}

#link-header.sticky > .centered, #link-header {
    justify-content: center !important;
}
#link-header {
    transition: margin-top 0.3s ease-in-out;
}
#link-header.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: radial-gradient(circle, rgb(20 20 20 / 82%), rgb(40 40 40 / 67%), rgba(53, 53, 53, 0.9));
    backdrop-filter: blur(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
