<div class="container">
    <h2 class="text-white fw-bold mt-5">Game Categories</h2>
    <h5 class="text-muted"> Navigating the World of Gaming Genres</h5>
    <div id="link-header" class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <GameLinkHeaderTile _gameHrefStr="GoPlayAsiaGames"
                            _activeClassStr="active"
                            _imgGameStr="./img/GPAGames/liveGames.png"
                            _typeGameStr="Live" />

            <GameLinkHeaderTile _gameHrefStr="arcadeGames"
                            _imgGameStr="./img/Arcade/GoRush_2.png"
                            _typeGameStr="Arcade" />

            <GameLinkHeaderTile _gameHrefStr="slotGames"
                            _imgGameStr="./img/SlotGames/SuperAce_2.png"
                            _typeGameStr="Slots" />

            <GameLinkHeaderTile _gameHrefStr="cardGames"
                            _imgGameStr="./img/CardGames/baccarat_2.png"
                            _typeGameStr="Cards" />

            <GameLinkHeaderTile _gameHrefStr="fishingAndArcadeGames"
                            _imgGameStr="./img/fishing/HappyFishing_2.png"
                            _typeGameStr="Fishing" />
        </div>
    </div>
</div>