h6{
    font-size: 14px;
}
@media only screen and (min-width: 992px) {
    .gameOverflow-x {
        overflow-x: inherit;
    }
}

@media screen and (max-width: 991px) {
    h2{
        font-size: 20px;
    }
    h5 {
        font-size: 14px;
    }
}
