#linkHeader.col{
    flex: inherit;
    width: 10rem;
    margin: 10px;
}
#link-header > a{
    color: #688fcf;
    font-size: 13px;
}
.bg-linkHeader {
    color: #bfcdd7;
}
.active {
    color: gold !important;
}
.active > h6.text-uppercase{
    padding-bottom: 3px;
    border-bottom: 2px solid gold;
}
.text-uppercase {
    font-size: 13px;

}

.active > .deactiveIcon {
    filter: grayscale(0%);
    height: 80px !important
}
.deactiveIcon {
    filter: grayscale(100%);
    height: 80px !important;
}

#link-header.sticky .deactiveIcon {
    height: 45px !important;
    position: relative;
}
#link-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 992px) {
    .link-header, #link-header.sticky .link-header {
        width: 10rem;
    }
    #link-header.sticky .deactiveIcon {
        height: 65px !important;
    }
}

@media screen and (max-width: 991px) {
    .link-header {
        width: 7rem;
    }
    #link-header.sticky .link-header {
        width: 4rem;
    }
    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}
@media screen and (max-width: 350px) {
    #link-header.sticky .link-header {
        width: 3rem;
    }
    #link-header.sticky h6.text-uppercase {
        font-size: 11px;
    }

}