.mainCon {
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
}

p {
    font-size: 15px;
    font-weight: 600;
}

/*START TAB*/
.innerCon {
    margin: 0;
    padding: 5px;
}
/*START ACTIVE*/
.TabActive .CombinationType {
    background-color: #2ad355 !important;
}
.TabActiveHeader {
    background-color: #d79e2d !important;
}
/* END OF ACTIVE*/
/*START CLOSE BET/DISABLED */

.disf2Tab {
    background-color: dimgrey;
    color: white;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.f2Tab a {
    color: black;
}

.disf2Header {
    background-color: #343434;
}

.disf3Tab {
    background-color: dimgrey;
    color: white;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
}

.disf3Header {
    background-color: #343434;
}

.disf4Tab {
    background-color: dimgrey;
    color: white;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.disf4Header {
    background-color: #343434;
}
/*END CLOSE BET/DISABLED */
.f2Tab {
    background-color: #4298e1;
    color: black;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

    .f2Tab a {
        color: black;
    }

.f2Header {
    background-color: #2d5181;
}


.f3Tab {
    background-color: #4298e1;
    color: black;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
}

.f3Header {
    background-color: #2d5181;
}

.f4Tab {
    background-color: #4298e1;
    color: black;
    border-radius: 10px;
    height: 75px;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.f4Header {
    background-color: #2d5181;
}
/*END TAB*/

.currentBet.col {
    margin-left: auto !important;
}
.selTokMul, .discurrentBet {
    font-size: 14px;
    padding: 0;
}
.selectTokenCon {
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
}

    .selectTokenCon currentBet {
        float: right;
    }

    .selectTokenCon p {
        margin: 0;
    }
/*START TOKEN COONTAINER*/
.ticketGameCon {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 30px;
}

.innerConToken {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
}

    .innerConToken img {
        height: 55px;
        width: 55px;
    }

.tokenCon {
    position: relative;
}

    .tokenCon p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 19px;
        font-weight: 600;
    }

/*A4 token margin*/
.innerConToken a {
    text-decoration: none;
    color: black;
}
/*END TOKEN COONTAINER*/

/*START COMBINATION FIELD*/
.comboCon {
    position: relative;
    margin: 0 auto;
    padding-top: 1.5em;
    max-width: 370px;
    justify-items: center;
}
.betAmountHeader {
    position: absolute;
    color: white;
    top: 20%;
    left: 46%;
    font-size: 12px;
    transform: translate(0, -46%)
}
.TotalbetAmountHeader {
    position: absolute;
    color: white;
    top: 20%;
    right: 2%;
    font-size: 12px;
    transform: translate(-50%,-50%)
}
.betfieldHeader {
    position: absolute;
    color: white;
    top: 20%;
    left: 27%;
    font-size: 12px;
    transform: translate(-50%, -50%)
}
.placeHolder {
    position: absolute;
    color: #505050;
    top: 50%;
    left: 40px;
    font-weight: 400;
    font-size: 11px;
    transform: translate(-50%, -50%);
    font-weight: 600;
    line-height: 12px;
    text-align: center;
}
.dwbetBotton {
    border-radius: 3px;
    padding: 5px;
    border: none;
    background-color: #318559;
    border-left: 2px solid #000;
    color: white;
    font-weight: 600;
    height: 36px;
}
.dwclearBotton {
    border-radius: 3px;
    padding: 5px;
    border: none;
    background-color: #e11a1a;
    color: white;
    font-weight: 600;
    height: 36px;
}
.clear-BetCon {
    max-width: 360px;
    margin: 13px auto 0 !important;
    padding: 0;
}
.comboField {
    text-align: left;
    padding: 10px;
    border: none;
    margin-right: 5px;
    min-height: 44px;
    font-weight: 700;
    font-size: 19px;
}

.clearField {
    position: relative;
}

.clearBtn {
    position: absolute;
    border: none;
    background-color: #343434;
    color: white;
    right: 1px;
    top: 11px;
    padding: 0px 6px;
    border-radius: 5px;
    font-size: 10px;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 30% 100%, 0 50%);
}


.betField {
    text-align: center;
    border: none;
    margin-right: 5px;
    min-height: 44px;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 0;
}
.TotalbetField {
    text-align: center;
    padding: 10px;
    border: none;
    min-height: 44px;
    font-weight: 700;
    font-size: 19px;

}
/*END COMBINATION FIELD*/

/*START V.1 BET LETTERS*/
/*.betInnerCon {
    padding: 0 5px;
    max-height: 120px;
}

.letterCon.row {
    margin: 0 !important;
}

.betLetters {
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
}

.btns {
    position: relative;
    padding: 0;
}

.lettersBtn {
    margin: 2px;
}

    .lettersBtn.col {
        padding: 0;
        max-width: 55px;
    }

.topNumber {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 18px;
}

.btn.btns {
    background-color: white;
}

.btns {
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    margin-top: 5px;
}*/
/*END V.1 BET LETTERS*/
/*START V.2 BET LETTERS*/
.betInnerCon {
    padding: 0 8px !important;
}

.betMultiplier, .betLetters {
    margin-bottom: 15px;
}

.letterCon.row {
}

.betLetters {
    margin: 0 auto;
    padding: 0;
    max-width: 480px;
}

.btns {
    position: relative;
    padding: 0;
}

.lettersBtn {
    margin: 0 auto;
}

    .lettersBtn.col {
        padding: 20px 0px 0px;
        max-width: 55px;
    }

.topNumber {
    position: absolute;
    top: -26px;
    left: 35%;
    font-size: 22px !important;
    color: white;
    font-weight: 600;
}

.btn.btns {
    background-color: white;
}

.btns {
    padding: 0;
    font-size: 28px;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

/*END V.2 BET LETTERS*/
/*START LUCKY PICK*/
.luckypickSelected {
    color: #ed8017;
}
.luckypickSelected {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.luckypickCon {
    max-width: 370px;
    margin: 0 auto;
    padding: 0;
}

.innerLuckypickCon {
    margin: 0 auto;
    padding: 0;
}

/*END LUCKY PICK*/
/*START F2,f3,header*/
.gHeaderCon {
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    color: white;
}

/*END F2,f3,header*/
/*START GAME RESULT DISPLAY*/
.gameResultDisplay {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
   border: 1px solid white;
    width: fit-content;
    font-size: 28px;
    color: white;
}
.resultColored {
     color: #ed8017;
}
/*END GAME RESULT DISPLAY*/
/*START GAME TICKET*/
.ticketMainDiv {
    margin: 0 auto;
    padding: 0 3px;
}

.ticketNum {
    padding: 10px 10px;
    border: solid 1px white;
    text-align: center;
    font-weight: 600;
}

.betAmo {
    padding: 0 5px;
    text-align: center;
    font-weight: 600;
    border: solid 1px white;
}

.winningAmo {
    border: solid 1px white;
    padding: 0 5px;
    font-weight: 600;
}
/*END GAME TICKET*/
/*START TRENDS*/
.trendsMainCon {
    margin: 0 auto;
    padding: 0;
    max-height: 290px;
    overflow: hidden;
    overflow: auto;
}

.trendsCon {
    margin: 0;
    border-radius: 5px;
    border: solid 1px white;
    max-width: 100px;
    padding: 20px 20px 10px 20px;
    position: relative;
    background-color: #2a2a2a;
}

.dwGameNum {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-30% -50%);
    color: white;
    font-size: 14px;
}

.dwGameRes {
    margin: 0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
/*END TRENDS*/

/* *** V2 DESIGN *** */

/* LUCKY PICK */
.LuckyPickBtns {
    color: #bf9005;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    margin: 1px !important;
    background-color: #FFF;
    border: 2px solid #bf9005;
}
    .LuckyPickBtns.x1 {
}
    .LuckyPickBtns.x5 {
    }
    .LuckyPickBtns.btn.btn-warning {
        color: #FFF !important;
        background-color: #d39e00 !important;
    }

    .SelectGame {
        padding: 5px;
        background-color: #161bdc;
        border-top: 2px solid #000;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

/* BETTING FORM */
.SelectMultiplier, .SelectChips, .TotalBetsSummary {
    color: #FFF;
    text-align: center;
    margin: 8px auto 8px !important;
    background-color: #161bdc;
    width: 150px;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    font-size: 12px;
}

.betLetters .letterCon,
.betLetters .lettersBtn {
    text-align: center;
}

.tokenMainCon {
    margin: 0 auto;
}

.DisabledForm {
    color: #797979;
}

.PlaceCombinationCon, .LuckyPickCon {
    margin: 4px auto 6px !important;
    max-width: 360px;
}

.PlaceCombinationCon a {
    color: #000;
    text-decoration: none;
}

.F2Form, .F3Form, .A4Form {
    margin-top: 5px;
}

.PlaceCombinationLabels {
    font-size: 10px;
    font-weight: 600;
    color: #FFF;
}

.PlaceCombinationForms,
.PlaceCombinationFormLabel {
    text-align: center;
    --form-w-1: 70px;
    --form-w-2: 90px;
    --form-w-3: 50px;
    --form-w-4: 60px;
    --form-w-5: 75px;
}

.CombinationType {
    color: #161bdc;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding: 4px 0 !important;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    position: relative;
}
.CombinationTypeBorder {
    position: absolute;
    top: 0px;
    right: 0;
    border-left: 2px solid #000;
    height: 36px;
}

.CombinationValue {
    cursor: pointer;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    border-radius: 0px 4px 4px 0px;
    position: relative;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
}

    .CombinationValue span.CombinationValueInput {
        position: absolute;
        left: 5px;
        top: 2px;
    }

.CombinationBet {
    position: relative;
}

    .CombinationBet img {
        width: 34px;
        height: 34px;
    }

.CombinationMultiplier {
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    border-right: 2px solid #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.CombinationTotal {
    background-color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    padding: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.TabActive .CombinationValue,
.TabActive .CombinationMultiplier,
.TabActive .CombinationTotal {
    background-color: #FFF;
}

/*LOW RES DISPLAY*/
@media only screen and (max-width: 360px) {
    .letterCon {
        margin: 0 auto;
        min-width: 300px;
    }
    .lettersBtn {
        margin: 0;
    }
    .topNumber {
        position: absolute;
        left:0;
        right: 0;
        color: white;
        font-weight: 600;
    }
 /*   .betAmount.x100 {
        font-size: 12px;
    } */
}


.arrow {
    text-align: start;
    margin: 8% 0;
    color: white;
    text-decoration: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}