<div class="modal fade border-bottom" id="ageConfirmModal" tabindex="-1" aria-labelledby="ageConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-bg border-bottom-4">
            <div class="modal-header" id="ageConfirmModalLabel">
                <img src="./img/Pagcor-21.png" class="img-fluid">
            </div>
            <div class="modal-body text-center text-white">
                <div class="container d-flex justify-content-center align-items-center">
                    <div class="row text-center must-21 align-items-center text-white">
                        <p>
                            <span class="d-block w-100 fw-bold position-relative top-23">YOU MUST</span>
                            <span class="d-block w-100 fw-bold font-80">21</span>
                        </p>
                    </div>
                </div>
                <div class="d-block mt-3">
                    <p class="fw-bold">YEARS OLD AND ABOVE TO REGISTER</p>
                </div>
                <div class="container">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Exit</button>
                    @* <button id="ageConfirmationBtn" type="button" class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#logInForm">Yes, I'm 21 or Older'</button> *@
                    <a class="btn btn-warning fw-bold" href="https://play.goplayasia.com/signup">Yes, I'm 21 or Older'</a>
                </div>
            </div>
            <div class="modal-footer text-white">
                <p style="text-align: center;">GoPlayAsia Remote Gaming Site is approved and regulated by Philippine Amusement and Gaming Corporation. 2022-2025</p>
            </div>
        </div>
    </div>
</div>