<div class="tab-pane" id="forgotPassPanel" role="tabpanel" aria-labelledby="forgotPassTab">
    <form action="#" class="signin-form">
        <p class="text-white">
            Input the Mobile Number that you have used to register with us and we will send you an One-Time Password.
        </p>
        <div class="form-group mb-3">
            <label class="label text-white" for="username">Mobile Number</label>
            <input id="username" type="tel" class="form-control" placeholder="09XX XXX XXXX" required="">
        </div>
        <div class="form-group pb-5">
            <button type="submit" class="form-control btn btn-warning rounded submit px-3">Request OTP</button>
        </div>
    </form>
</div>

