@using Blazored.Modal;
@using Blazored.Modal.Services;
<div class="row justify-content-center margin-bottom-md">
    <i class="bi bi-question-circle" style="font-size:2.5rem"></i>
</div>

<span class="d-block text-center">
    Install Goplayasia?
</span>
<div class="btnContainer d-flex">
    <button type="button" class="btnNo btn btn-warning mr-2" @onclick="() => Confirmation(false)">No</button>
    <button type="button" class="btnYes btn btn-primary " @onclick="() => Confirmation(true)">Yes</button>
</div>
@code {
    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure?";
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public void Confirmation(bool value)
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(value));
    }

}