.MainContainer {
    max-width: 640px;
    margin: 0 auto;
    padding: 2px;
}


p {
    line-height: normal;
    margin: 0;
}


/* #region ROUND NUMBER */
.borderGold {
    border: solid 1px gold;
    padding: 3px 0;
}

.gameText {
    color: gold;
    font-weight: 600;
    font-size: 15px;
}

.gameNumber {
    color: white;
    font-weight: 600;
    font-size: 15px;
}
/* #endregion */


/* #region MIN & MAX CHIP DISPLAY */
.mainTokenRelative {
    position: relative;
}

.token {
    height: 40px;
    height: 40px;
    position: relative;
}

.betrangeAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #endregion */


/* #region CURRENT TOKEN */
.userTotalBet {
    font-weight: 600;
    font-size: 15px;
}
/* #endregion */