<div class="col">
    <h6 class="fw-bold text-dark text-start">Table 2</h6>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS19IQtyklpBaLdhR1qy1JYKRH3j9GG70_4QseIotcixmRxVdQUn-9n5cz2t0Psw1KIoZE&usqp=CAU" class="img img-fluid w-100 p-1">
    <div class="button button-playNow">
        <a href="games/lucky9" class="text-decoration-none btn btn-warning play-btn p-1">
            <span>Play Now</span>
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>
</div>