.img-table-container > div.col img {
    border-radius: 8px;
}

@media screen and (min-width: 992px) {
    .img-table-container img {
        width: 250px;
        height: 150px;
    }
    .arrow {
        top: 48% !important;
    }
}

@media screen and (max-width: 991px) {

    .img-table-container > div.col img {
        width: 150px;
        height: 100px;
        border-radius: 8px;
    }
    .arrow {
        top: 48% !important;
    }
}

@media screen and (max-width: 480px) {

    .img-table-container > div.col img {
        width: 150px;
        height: 100px;
        border-radius: 8px;
    }
    .arrow {
        top: 48% !important;
    }
}

/*================ Start: Button PLay Animation ==================*/
a.play-btn {
    position: relative;
    width: 115px;
}

    a.play-btn > span {
        margin-left: -10px;
    }

.arrow {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    cursor: pointer;
}

    .arrow span {
        display: block;
        width: 15px;
        height: 15px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

        .arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }

        .arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/*================ End: Button PLay Animation ==================*/