@page "/gamerules/dropwin"
@using GoplayasiaBlazor.Core.Global.Interface;
@using GoPlayAsiaWebApp.Games.Shared
@attribute [Authorize(Roles = "1")]
@inject ICurrentUser icurrentUser
<TopContent CreditsDisp="@icurrentUser.CreditsDisp" />
<section>
    <main class="container">
        <h5 class="font-weight-bold mt-2">DROP and WIN HOUSE RULES</h5>
        <div class="">
            <div class="containerVid">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/04TIzvX36lc"></iframe>
            </div>
            <content class="">
                <div class="d-flex justify-content-center mt-2">
                    <a href="/games/dropwin" <button class="btn btn-primary text-center d-flex">Back To Game</button></a>
                </div>
                <h4 class="mt-5">I. Minimum/MaximumBet Limit and Payout Odds</h4>
                <table class="w-100 text-center">
                    <tr>
                        <td class="font-weight-bold">Details</td>
                        <td class="font-weight-bold">F2</td>
                        <td class="font-weight-bold">F3</td>
                        <td class="font-weight-bold">ALL 4</td>
                    </tr>
                    <tr>
                        <td>Min bet</td>
                        <td>P20</td>
                        <td>P10</td>
                        <td>P10</td>
                    </tr>
                    <tr>
                        <td>Max bet</td>
                        <td>P500</td>
                        <td>P100</td>
                        <td>P20</td>
                    </tr>
                    <tr>
                        <td>Payout Odds</td>
                        <td>70:1</td>
                        <td>600:1</td>
                        <td>5,500:1</td>
                    </tr>
                </table>
                <p class="mt-2 ">
                    Note: Bet should be divisible by 10; Payout is equal to placed bet plus winnings.
                </p>
                <h4 class="">The following shall be observed:</h4>

                <ol>
                    <li>
                        The Dealer shall look at the Dealer's Dashboard (with attached
                        camera) before and after the deal for instruction or guidance
                    </li>
                    <li>
                        Accepting of bets through remote gaming platform ensue when the
                        status on the Dealer Dashboard reads "OPEN".
                    </li>
                    <li>
                        Player bet/s for desired combination/s (letters A to J), either F2, F3 or
                        F4, in correct order. Once the player clicks his/her choice/s, the bet
                        amount option pop-up, either enter preset chip denominations or
                        manually key-in amount then click "PLACE BET," otherwise "CANCEL".
                    </li>
                    <li>
                        A confirmation button shall appear for the player to confirm selected
                        bet option and amount by clicking "Yes", otherwise "No".
                    </li>
                    <li>
                        The system timerstarts until the allotted period for betting ends. System automatically disables all access for betting and changes the
                        status to "CLOSED".
                    </li>
                    <li>
                        At the conclusion of betting, the Dealer shall start with the dealing
                        procedure in the following sequence:
                        <ul>
                            <li>a.) The Dealer shall pick up the ball inside each canister</li>
                            <li>
                                b.) Upon retrieval, the Dealer shall immediately throw I drop the
                                ball in any way creating a circular motion inside each
                                transparent funnel, from first canister to fourth canister, in
                                that order.
                            </li>
                            <li>
                                c.) Wait until the balls settle on every canister, the Dealer then
                                shall declare I encode the winning outcome in the Dealer's
                                Tablet for the Game Validator's confirmation.
                            </li>
                            <li>
                                d.) After Dealer determinesthe game result, another validation
                                of result shall be made by the Proponent remotely and on a
                                separate module ("Validator"). Only after confirmation of the
                                result, the winning bet/sshall be processed.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Dealershall perform this dealing cycle continuously during his stint
                        until he is relieved by another Dealer, the last deal has been
                        announced, or the table needs to undergo maintenance.
                    </li>
                    <li>
                        In case of system failure, malfunction, and/or error, the Gaming Operator
                        has the right to declare any and all of the affected game/s and winning/s as
                        invalid and void, and to recover from the account of the affected
                        player any payments made as a result of said system failure, malfunction
                        and/or errors without the need of consent from the said player. This
                        clause shall not be considered to be excluding liability for anything which
                        itwould be unlawful to exclude under applicable law.
                    </li>
                    <li>
                        Bets can’t be cancelled once confirmed but can be increased within the
                        duration of betting time.
                    </li>
                    <li>
                        Philippine Peso Currency is converted into Token with a 1:1 ratio or value.
                    </li>
                </ol>
            </content>
            <div class="d-flex justify-content-center pb-5">
                <a href="/games/dropwin" <button class="btn btn-primary text-center d-flex">Back To Drop&Win Game</button></a>
            </div>

        </div>

    </main>
</section>
@code {

}
