@page "/gamerules/first3"
@using GoplayasiaBlazor.Core.Global.Interface;
@using GoPlayAsiaWebApp.Games.Shared
@attribute [Authorize(Roles = "1")]
@inject ICurrentUser icurrentUser
<TopContent CreditsDisp="@icurrentUser.CreditsDisp" />
<section>
    <main class="container">
        <h5 class="font-weight-bold mt-2">FIRST 3 HOUSE RULES</h5>
        <div class="">
            <div class="containerVid">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/RAXEnTni2Ak"></iframe>
            </div>
            <content class="">
                    <div class="d-flex justify-content-center mt-2">
                    <a href="/games/first3" <button class="btn btn-primary text-center d-flex">Back To Game</button></a>
                </div>
                <h4 class="mt-5">I. Ranking of</h4>
                <p class="mt-2 font-weight-bold">
                    The ranks of the cards from highest to lowest are as follows:
                    ➢ A, K, Q, J, 10, 9, 8, 7, 6, 5, 4, 3, 2
                    Hand Rankings from Highest to Lowest
                </p>
                <p class="mb-0">1. TRIO (Three of a Kind)</p>
                <p class="mb-0">
                    Includes three (3) cards of the same
                    value. A hand with three (3) Aces is the
                    highest ranked Three-Of-A-Kind, while
                    a hand with three (3) 2s is the lowest
                    ranked hand of this type.
                </p>
                <p class="mb-0">2. PAIR (Two of a Kind)</p>
                <p class="mb-0">
                    Includes two (2) cards of the same
                    value. A hand with two (2) Aces is the
                    highest ranked Pair, while a hand with
                    two (2) 2x is the lowest ranked pair
                </p>
                <p class="mb-0">3. NO PAIR (High Card/s)</p>
                <p class="mb-2">
                    Consist of three (3) cards which have
                    no two cards with the same rank.
                </p>
                <p class="">
                    If a hand does not contain a pair or better, the hand that contains
                    the highest-ranking card(s) wins
                </p>
                <h4 class="mt-5">II. Minimum/MaximumBet Limit and Payout Odds</h4>
                <p class="mt-2 font-weight-bold">A. REGULAR BET:</p>
                <p class="mb-0">1.Min/Max Bet Per Player -  <strong> P100 / P10,000</strong></p>
                <p class="mb-0">2.Maximum Bet Per Game <strong> P50,000 </strong></p>
                <p class="">3. Payout Odds <strong> 1 = 195%</strong></p>
                <p class="">Note: Payout is equal to placed bet plus winnings. Bets shall be returned if the result is a TIE</p>
                <!--2nd part-->
                <p class="mt-2 font-weight-bold">B. RUNNING ODDS BET:</p>
                <p class="mb-0">Min/Max Bet Per Player -  <strong> P100 / P10,000</strong></p>
                <p class="mb-0">Maximum Bet Per Game <strong> P50,000 </strong></p>
                <p class="">Payout Odds <strong> Prize Pool*</strong></p>
                <p class="">*Total bets less 5% commission divided by</p>
                <p class="mb-0">Notes: Bets shall be returned if:</p>
                <ol>
                    <li> No bets on either hand, or </li>
                    <li>Either hand prize pool is below 150%, or</li>
                    <li>The result is a TIE.</li>
                </ol>
                <h4 class="">III. Dealing Procedure</h4>
                <p class="">The dealing procedure of each game shall be</p>
                <ol>
                    <li>
                        The Dealer shall be looking at the Dealer Dashboard (with
                        attached camera) before and after the deal for instruction or
                        guidance.
                    </li>
                    <li>
                        Accepting of bets thru remote gaming platform ensue when the
                        status on the Dealer Dashboard reads "OPEN".
                    </li>
                    <li>
                        Player bets on GOLD or SILVER whether on regular bet and/or
                        running odds bet options. Once player clicks his/her choice/s, the
                        bet amount option pop-up, enter preset chip denominations or
                        manually key-in amount then click "PLACE BET," otherwise
                        "CANCEL".
                    </li>
                    <li>
                        A confirmation button shall appear for the player to confirm
                        selected bet option and amount by clicking "Yes," otherwise
                        "No".
                    </li>
                    <li>
                        The countdown timer continues running and the status changes
                        to "CLOSED" at the end of the countdown timer Starting on the
                        left, the dealer shall draw, slide, and deliver a face-down card to
                        the GOLD and SILVER cards slots.
                    </li>
                    <li>
                        The Dealer shall draw the cards in a prescribed sequence and
                        position them on the center of the layout with the printed GOLD
                        and SILVER cards slots
                        <span class="mt-1 d-block">
                            "1st CARD to GOLD" (placed on the rightmost side of the GOLD card slot) "2nd CARD to SILVER" (placed on the rightmost side of the SILVER card
                            slot) "3rd CARD to GOLD" (placed on the left side of the first GOLD card) "4th
                            CARD to SILVER" (placed on the left side of the first SILVER card) "5th
                            CARD to GOLD" (placed on the leftmost side of the GOLD card slot) "6th
                            CARD to SILVER" (placed on the leftmost side  of the SILVER card slot)
                        </span>
                    </li>
                    <li>
                        After drawing the cards for GOLD and SILVER, the Dealer opens
                        each hand one at a time.
                    </li>
                    <li>
                        Side with the higher hand wins the game. The decision table
                        indicating outcomes and their corresponding decisions are as
                        follows:
                    </li>
                    <table style=" border: 1px solid #ceb876; color: #ceb876">
                        <tr style=" border: 1px solid #ceb876;">
                            <th style=" border: 1px solid #ceb876;">OUTCOME</th>
                            <th class="d-flex justify-content-center" style=" border: 1px solid #ceb876;">DECISION</th>

                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style="; border: 1px solid #ceb876;">Trio</td>
                            <td style=" border: 1px solid #ceb876;">
                                If both sides have a trio, the higher trio
                                combination wins
                            </td>

                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">Pair</td>
                            <td style=" border: 1px solid #ceb876;">
                                If two sides have a pair each, the higher pair
                                value win
                            </td>

                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">Same Pair</td>
                            <td style=" border: 1px solid #ceb876;">
                                If two sides have the same pair value, the
                                remaining card with a higher “kicker” card value
                                win
                            </td>

                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">No Pair</td>
                            <td style=" border: 1px solid #ceb876;">
                                If either side has no pair, the one with a highest “first” value among  three cards wins
                            </td>
                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">
                                No Pair, Same
                                1st Card
                            </td>
                            <td style=" border: 1px solid #ceb876;">
                                If either side has no pair or have same highest “first” card value, the side with the next higher “second” card value wins
                            </td>
                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">
                                No Pair, Same
                                1st And
                                2nd Cards
                            </td>
                            <td style=" border: 1px solid #ceb876;">
                                If either side has no pair or the highest “first” and
                                next higher “second” cards have the same value, the side with a higher value for the third card
                                “kicker” wins
                            </td>
                        </tr>
                        <tr style=" border: 1px solid #ceb876;">
                            <td style=" border: 1px solid #ceb876;">
                                Tie
                            </td>
                            <td style=" border: 1px solid #ceb876;">
                                If both sides have the same total value cards, a
                                tie is declared
                            </td>
                        </tr>1
                    </table>

                    <li>
                        When the result of the deal has been established, the
                        Dealer inverts the appropriate winning marker (no
                        marker shall be inverted in case of a TIE) and presses
                        the game result on the Dealer tablet.
                    </li>
                    <li>
                        After Dealer determines the game result, another validation of
                        result shall be made by the Proponent remotely and on
                        a separate module ("Validator"). Only after confirmation
                        of the result, the winning bets shall be processed.
                    </li>
                    <li>
                        When the status on the Dealer Dashboard changes to
                        "OPEN," Dealer shall collect the cards on the lay-out and
                        prepares for the next deal.
                    </li>
                    <li>
                        Dealer shall perform this dealing cycle continuously during
                        his stint on the table until he is relieved by another Dealer, the last deal indicator has been dealt, or the table needs
                        to  undergo maintenance
                    </li>
                    <li>
                        The Dealer makes the necessary declaration for the last deal
                        and places the indicator/cut card on top of the shoe.
                    </li>
                    <li>
                        In case of system failure, malfunction, and/or error, the Gaming
                        Operator has the right to declare any and all of the affected
                        game/s and winning/s as invalid and void, and to recover from
                        the account of the affected player any payments made as a
                        result of said system failure, malfunction and/or errors without
                        the need of consent from the said player. This clause shall not
                        be considered to be excluding liability for anything which it
                        would be unlawful to exclude under applicable law.
                    </li>
                    <li>
                        Bets can’t be cancelled once confirmed but can be increased
                        within the duration of betting time.
                    </li>
                    <li>
                        Philippine Peso Currency is converted into Token with a 1:1 ratio
                        or value.
                    </li>
                </ol>
            </content>
            <div class="d-flex justify-content-center pb-5">
                <a href="/games/firts3" <button class="btn btn-primary text-center d-flex">Back To First3 Game</button></a>
            </div>

        </div>

    </main>
</section>
@code {

}
