@page "/gamerules/gigadraw"
@using GoplayasiaBlazor.Core.Global.Interface;
@using GoPlayAsiaWebApp.Games.Shared
@attribute [Authorize(Roles = "1")]
@inject ICurrentUser icurrentUser
<TopContent CreditsDisp="@icurrentUser.CreditsDisp" />
<section>
    <main class="container">
        <h5 class="font-weight-bold mt-2">GIGADRAW HOUSE RULES</h5>
        <div class="">
            <div class="containerVid">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/EddA8X5C8vE"></iframe>
            </div>
            <content class="">
                <div class="d-flex justify-content-center mt-2">
                    <a href="/games/gigadraw" <button class="btn btn-primary text-center d-flex">Back To Game</button></a>
                </div>
                <h4 class="mt-5">BIG WIN:GigaDraw</h4>

                <p class="mt-2 ">
                    Giga Draw is a drop ball game of four canisters. Three canisters have letters A-Z. One
                    canister has numbers 0-9. One ball is dropped on each of the canister resting on one letter and
                    one number on each canister--- declaring the winning combination in exact order. (Example:
                    ABC4
                </p>
                <h4 class="">Game Mechanic</h4>

                <ol>
                    <li>
                        The Dealer shall look at the Dealer's Dashboard (with attached
                        camera) before and after the deal for instruction or guidance
                    </li>
                    <ul>
                        <li>Game: Alphanumeric</li>
                        <li>Payout: Fixed Price</li>
                        <li>Fixed Bet: 20</li>
                        <li>Initial Jackpot: 1,000,000- all letters and numbers in exact order (divided amongwinners)</li>
                        <li>
                            Fixed Consolation: 200- first three letters in exact order- ABC (awarded to eachof
                            the winners)
                        </li>
                        <li>Player bets on 3 Letters and 1 Numberc</li>
                        <li>All winning combinations should be in Exact Order</li>
                    </ul>
                    <li>
                        Dealershall perform this dealing cycle continuously during his stint
                        until he is relieved by another Dealer, the last deal has been
                        announced, or the table needs to undergo maintenance.
                    </li>
                    <li>
                        In case of no winners from the recent draw, a certain percentage of the total bets
                        will be forwarded to the next draw
                    </li>
                </ol>
            </content>
            <div class="d-flex justify-content-center pb-5">
                <a href="/games/gigadraw" <button class="btn btn-primary text-center d-flex">Back To Giga Draw Game</button></a>
            </div>

        </div>

    </main>
</section>
@code {

}
