<div class="container pt-2 pl-1 pr-1 pb-0 mb-3">
    <div class="row justify-content-center">
        <div class="card m-1 text-center position-relative bg-transparent base">
            @*  <div class="dice-result yellow">
            <span>@First_Dice_Result</span>
            </div> *@
            <div class="cube-container">
                <div class="dice-result cube">
                    <div class="face yellow">
                        <span class="circle">4</span>
                    </div>
                    <div class="face yellow">
                        <span class="circle">2</span>
                    </div>
                    <div class="face yellow">
                        <span class="circle">6</span>
                    </div>
                    <div class="face yellow">
                        <span class="circle">1</span>
                    </div>
                    <div class="face yellow">
                        <span class="circle">5</span>
                    </div>
                    <div class="face yellow">
                        <span class="circle">3</span>
                    </div>
                </div>
            </div>
            <span class="btm-label">1</span>
        </div>
        <div class="card m-1 text-center position-relative bg-transparent base">
            <div class="cube-container">
                <div class="dice-result cube">
                    <div class="face blue">
                        <span class="circle">3</span>
                    </div>
                    <div class="face blue">
                        <span class="circle">2</span>
                    </div>
                    <div class="face blue">
                        <span class="circle">1</span>
                    </div>
                    <div class="face blue">
                        <span class="circle">5</span>
                    </div>
                    <div class="face blue">
                        <span class="circle">4</span>
                    </div>
                    <div class="face blue">
                        <span class="circle">6</span>
                    </div>
                </div>
            </div>
            <span class="btm-label">2</span>
        </div>
        <div class="card m-1 text-center position-relative bg-transparent base">
            <div class="cube-container">
                <div class="dice-result cube">
                    <div class="face red">
                        <span class="circle">2</span>
                    </div>
                    <div class="face red">
                        <span class="circle">3</span>
                    </div>
                    <div class="face red">
                        <span class="circle">5</span>
                    </div>
                    <div class="face red">
                        <span class="circle">1</span>
                    </div>
                    <div class="face red">
                        <span class="circle">6</span>
                    </div>
                    <div class="face red">
                        <span class="circle">4</span>
                    </div>
                </div>
            </div>
            <span class="btm-label">3</span>
        </div>
    </div>
</div>