.tokenContainer { /*default*/
    margin: 0 auto;
}

.tokenRelative {
    position: relative;
    margin: 5px;
    width: fit-content;
}

a {
    text-decoration: none !important;
    color: black;
    font-weight: 600;
}

.tokenValueAbsolute {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}

img.selectedToken {
    border: 3px solid yellow;
    height: 30px;
    width: 50px;
}

.default {
    height: 30px;
    width: 50px;
}

.payoutAmount {
    color: gold;
    font-weight: 600;
    font-size: 18px;
}

.newBetBtn {
    background-color: rgb(69, 219, 18);
    color: white;
    box-shadow: 0px 10px 10px yellow inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(48, 165, 8) inset;
    color: #103100;
    padding: 5px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    animation: activeBet 1s infinite;
}

@keyframes activeBet {
    from {
        border: 3px solid black;
    }

    to {
        border: 3px solid #FF6C2F;
    }
}

.disnewBetBtn {
    background-color: rgb(69, 219, 18);
    color: #103100;
    box-shadow: 0px 10px 10px yellow inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(48, 165, 8) inset;
    pointer-events: none;
    padding: 5px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}

.newBackBtn {
    background-color: rgb(128, 128, 128, .4);
    border-radius: 50%;
    color: white;
    padding: 5px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}

img.selectedToken {
    border: 3px solid yellow;
    animation: changeColor 1s infinite;
}
@keyframes changeColor {
    from {
        border: 3px solid black;
    }

    to {
        border: 3px solid #FF6C2F;
    }
}

@media screen and (min-width: 600px) {
    #betButton{
        width: 80% !important;
    }
    #cancelBtn{
        max-width: 65px;
    }
}