<div class="btn red col cardDiv">
    <div class="d-flex">
        <div class="cardValue red mr-1">A</div>
        <div> <img class="cardSuit" src="img/heart.png" /> </div>
    </div>
    <div class="d-flex" style=" transform: rotate(-.50turn);">
        <div class="cardValue red mr-1">A</div>
        <div> <img class="cardSuit" src="img/heart.png" /> </div>
    </div>
</div>
