<div class="container">
    <h2 class="text-white fw-bold mt-5">Top Table Games!</h2>
    <h5 class="text-muted">Bet now while the table's hot!</h5>
    <div class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <CardTile _imgStr="./img/CardGames/pokerKing.png"
                      _titleStr="Poker King"
                      _tryoutsHrefStr="https://jiligames.com/PlusIntro/113?showGame=true" />

            <CardTile _imgStr="./img/CardGames/hilo.png"
                      _titleStr="Hilo" />

            <CardTile _imgStr="./img/CardGames/BlackJack.png"
                      _titleStr="Black Jack" />

            <CardTile _imgStr="./img/CardGames/callBreak.png"
                      _titleStr="Callbreak Quick" />

            <CardTile _imgStr="./img/CardGames/MiniFlush.png"
                      _titleStr="Mini Flush" />

            <CardTile _imgStr="./img/CardGames/baccarat.png"
                      _titleStr="Baccarat" />

            <CardTile _imgStr="./img/CardGames/DragonTiger.png"
                      _titleStr="Dragon & Tiger" />

            <CardTile _imgStr="./img/CardGames/rummy.png"
                      _titleStr="Rummy" />

            <CardTile _imgStr="./img/CardGames/ak47.png"
                      _titleStr="AK47" />

            <CardTile _imgStr="./img/CardGames/andarBahar.png"
                      _titleStr="Andar Bahar" />

            <CardTile _imgStr="./img/CardGames/SicBo.png"
                      _titleStr="Sic Bo" />

            <CardTile _imgStr="./img/CardGames/7Up7down.png"
                      _titleStr="7 up 7 down" />

            <CardTile _imgStr="./img/CardGames/NumberKing.png"
                      _titleStr="Number King" />
        </div>
    </div>
</div>