@using GoPlayAsiaWebApp.Layout.Components.LogInModal
<header class="container-fluid bg-black">
    <div class="container">
        <nav class="navbar top-navbar navbar-expand-lg fixed-top navbar-dark bg-black">
            <div class="container">
                <a href="home" class="navbar-brand gpa-navbar-brand d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="./img/gpa-logo.png" class="img-fluid logo" alt="GoPlayAsia">
                </a>
                <button class="navbar-toggler gpa-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items w-100">
                        <li class="nav-item">
                            <a href="home" class="nav-link px-2 link-dark">
                                <i class="fa-solid home-icon"></i> HOME
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid explore-icon"></i> EXPLORE
                            </a>
                            <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item link-light bg-black" href="AboutUs">Who We Are</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="ourTeam">Our Team</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="contactUs">Contact Us</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="FAQ's">FAQ's</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="PrivacyPolicy">Privacy Policy</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid gpa-icon"></i> GOPLAYASIA
                            </a>
                            <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item link-light bg-black" href="#">Lucky 9</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">Lucky 4</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">First 3</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">Heads & Tails</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">Big Win</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">Go 12</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#">Dice</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid featured-icon"></i> FEATURED GAMES
                            </a>
                            <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item link-light bg-black" href="arcadeGames">Arcade</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="cardGames">Cards</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="fishingAndArcadeGames">Fishing</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="slotGames">Slots</a></li>
                            </ul>
                        </li>

                        <li class="nav-item loginAndSignUp">
                            <a href="https://beta2.goplayasia.com/" class="btn btn-outline-warning fw-bold me-2">LOGIN</a>
                            <button type="button" class="btn btn-outline-warning fw-bold" data-bs-toggle="modal" data-bs-target="#ageConfirmModal">SIGN-UP</button>
                        </li>

                        @* ============ This feature will become disabled once the user has logged out. ============ *@
                       @*  <li class="nav-item loginAndSignUp">
                            <button type="button" class="btn btn-outline-warning fw-bold me-2" data-bs-toggle="modal" data-bs-target="#logInForm">Login</button>
                            <button type="button" class="btn btn-outline-warning fw-bold" data-bs-toggle="modal" data-bs-target="#ageConfirmModal">Sign-up</button>
                        </li> *@
                        
                        @* ============ This feature will become enabled once the user has logged in. ============ *@
                        @* <li class="nav-item dropdown userDropdown">
                            <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="img-fluid img w-25 px-2 me-2" src="./img/user-icon.png" /> UserName Here
                            </a>
                            <span></span>
                            <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item link-light bg-black" href="#"><i class="fa-solid fa-user"></i> Account Information</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#"><i class="fa-solid fa-address-card"></i> Profile Information</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#"><i class="fa-regular fa-image"></i> Identification</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#"><i class="fa-solid fa-lock"></i> Password</a></li>
                                <li><a class="dropdown-item link-light bg-black" href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                            </ul>
                        </li> *@
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

@*========================= Guess Sticky NavBar Bottom ===========================*@
@* <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-bottom-navbar">
    <div id="navBarBottom" class="container">
        <a href="GoPlayAsiaGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid gpa-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Live</span>
            </div>
        </a>
        <a href="slotGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid slot-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Slots</span>
            </div>
        </a>
        <a href="cardGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid card-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Cards</span>
            </div>
        </a>
        <a href="fishingAndArcadeGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid fishing-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Fishing</span>
            </div>
        </a>
        <a href="arcadeGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid arcade-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Arcade</span>
            </div>
        </a>
    </div>
</nav> *@

@*========================= User Sticky NavBar Bottom ===========================*@
<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-bottom-navbar">
    <div id="navBarBottom" class="container">
        <a href="GoPlayAsiaGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid gpa-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Games</span>
            </div>
        </a>
        <a href="slotGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid history-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">History</span>
            </div>
        </a>
        <a href="Wallet" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid wallet-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Wallet</span>
            </div>
        </a>
        <a href="notification" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid inbox-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Notification</span>
            </div>
        </a>
        <a class="navbar-brand text-center text-muted" data-bs-toggle="offcanvas" data-bs-target="#settingOffCanvas" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <div class="icon">
                <i class="fa-solid setting-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Setting</span>
            </div>
        </a>
    </div>


    <div class="offcanvas offcanvas-end text-bg-dark @("offcanvas-end " + (isOffcanvasVisible ? "show" : ""))" tabindex="-1" id="settingOffCanvas" aria-labelledby="settingOffCanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-white" id="settingOffCanvasLabel">Settings</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" href="#">
                        <span><i class="fa-solid fa-user"></i></span>
                        <span class="ms-3"> Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <span><i class="fa-solid fa-wallet"></i></span>
                        <span class="ms-3"> Account Balance</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <span><i class="fa-solid fa-medal"></i></span>
                        <span class="ms-3"> VIP Level</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <span><i class="fa-solid fa-credit-card"></i></span>
                        <span class="ms-3"> Widthdraw</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="wallet" @onclick="CloseOffcanvas">
                        <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                        <span class="ms-3"> Cash-In / Deposit</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <span class="ms-3"> Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span class="ms-3"> Logout</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>

</nav>

<LoginAndSignUp />

@code {
    bool isOffcanvasVisible = false;
    void ToggleOffcanvas()
    {
        isOffcanvasVisible = !isOffcanvasVisible;
    }

    void CloseOffcanvas()
    {
        isOffcanvasVisible = true;
    }
}