
<div class="container mt-1 mb-1">
    <div class="d-flex">
        <div class="gameNumber col-2 p-0 d-flex justify-content-center align-items-center">G#:888</div>
        <div class="col p-0 d-flex justify-content-center align-items-center">
            <button class="btn combo7 col  mr-1">Combo 7</button>
            <button class="btn combo8 col  ">Combo 8</button>
        </div>
        <div class="totBet col-2 p-0 d-flex  justify-content-center align-items-center">200</div>
    </div>
</div>