<div class="container">
    <h2 class="text-white fw-bold mt-5">Fun and Exciting Games</h2>
    <h5 class="text-muted">Discover fun in our Fishing Games!</h5>
    <div class="pb-4 gameOverflow-x">
        <div class="row justify-content-center p-2">
            <FishingTile _imgStr="./img/fishing/JackpotFishing.png"
                         _titleStr="Jackpot Fishing"
                         _tryoutsHrefStr="https://wbgame-demo.jiligames.com/fish3/index.html?ssoKey=1b1dfbc4d7c607b459396fecbe0b715139f9917e&lang=en-US&demo=true&be=moc.semagilij.a-ipabewbw&gameId=32&loginFrom=wb-gaming&gs=moc.semagilij.omed-tols&domain_platform=moc.gnidnawcs.df-tolsbw-tau&domain_gs=semagilij&be=moc.semagilij.a-ipabewbw&apiId=6" />

            <FishingTile _imgStr="./img/fishing/MegaFishing.png"
                         _titleStr="Mega Fishing" />

            <FishingTile _imgStr="./img/fishing/HappyFishing.png"
                         _titleStr="Happy Fishing" />

            <FishingTile _imgStr="./img/fishing/DinosaurTycoon.png"
                         _titleStr="Dinosaur Tycoon" />

            <FishingTile _imgStr="./img/fishing/CrazyHunter.png"
                         _titleStr="Crazy Hunter" />

            <FishingTile _imgStr="./img/fishing/BombingFishing.png"
                         _titleStr="Bombing Fishing" />

            <FishingTile _imgStr="./img/fishing/PlinkoEmpire.png"
                         _titleStr="Plinko Empire" />

            <FishingTile _imgStr="./img/fishing/All-StarFishing.png"
                         _titleStr="All-Star Fishing" />

            <FishingTile _imgStr="./img/fishing/BoomLegend.png"
                         _titleStr="Boom Legend" />

            <FishingTile _imgStr="./img/fishing/SecretTreasure.png"
                         _titleStr="Secret Treasure" />

            <FishingTile _imgStr="./img/fishing/DragonTreasure.png"
                         _titleStr="Dragon Treasure" />

            <FishingTile _imgStr="./img/fishing/DragonFortune.png"
                         _titleStr="Dragon Fortune" />
        </div>
    </div>
</div>