@* @page "/advisory" *@
<container>
    <div class="main-container  p-3" style="max-width: 360px; margin: 0 auto; padding: 0; background-color: white; border-radius: 10px;">
        <h4 class="d-flex align-items-center font-bolder">Attention</h4>
        <p class="text-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book.</p>
        <div class="d-flex row p-2 justify-content-end">
                <button style="background: none; border: none; font-size: 18px;" class="btn col-5 text-center font-weight-bolder">GOT IT</button>
            </div>
    </div>
</container>
@code {

}
