@using GoPlayAsiaWebApp.Goplay.ViewModels;
@using GoPlayAsiaWebApp.Goplay.ViewModels
@inject SettingsViewModel _settingViewModel

<div class="container">
    <div class="row justify-content-center  margin-bottom-md">
        @Message
    </div>
    <div class="row justify-content-center margin-bottom-md">
        <i class="warningIcon bi bi-exclamation-circle" style="font-size:50px"></i>
    </div>
    <div class="row justify-content-center margin-bottom-md">
        <input class="form-control mb-2" type="text" @bind-value="_settingViewModel.Reason" placeholder="Reason"/>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="col">
            <button type="button" class="btnNo btn btn-warning mr-2" @onclick="() => Confirmation(false)">NO</button>
        </div>
        <div class="col">
            <button type="button" class="btnYes btn btn-primary" @onclick="() => Confirmation(true)">YES</button>
        </div>
    </div>
</div>

@code {
    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure you want deactivate your account?";
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public void Confirmation(bool value)
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(value));
    }
}