
<div class="container continer-fluid">
    <div class="row justify-content-center align-items-center margin-bottom-md">
        <h6 class="mb-0 p-0 text-center"><span><i class="fa-regular fa-face-frown"></i></span> @Message</h6>
    </div>
    <div class="row justify-content-center mt-2 p-2">
        <button type="button" class="col-4 btnNo btn btn-warning m-2" @onclick="() => Confirmation(false)">No</button>
        <button type="button" class=" col-4 btnYes btn btn-primary m-2" @onclick="() => Confirmation(true)">Yes</button>
    </div>
</div>
@code {
    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure?";
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public void Confirmation(bool value)
    {
        BlazoredModal.CloseAsync(ModalResult.Ok(value));
    }
}