@using GoplayasiaBlazor.Core.Services.Interface
@inject IAccountService _accountService


<div>
    <p>@msgForemailsent <span>*</span></p>
    <span class="errorMessage" hidden="@errorCode">@errorMsg</span>
    <input maxlength="20" class="form-control mb-2" type="text" placeholder="OTP" @bind-value="@OTP" />
    <div class="row d-flex">
        <button type="button" class="btn btn-warning col m-1" @onclick="() => Validate()">Validate</button>
        <button type="button" class="btn btn-secondary col m-1" @onclick="() => CancelVerification()">Cancel Verification</button>
    </div>
</div>
