.EmptyCardResultsHorizontal {
    margin-top: -10px;
    line-height: normal;
    font-size: 20px;
    border-radius: 2px;
    max-width: 42px;
    height: 62px;
    border: solid 2px white;
    transform: rotate(-0.25turn);
}

@media only screen and (max-width: 375px) {
    .EmptyCardResultsHorizontal {
        max-width: 33px;
        height: 45px;
        font-weight: bold;
    }
}