.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.popconfirm {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    width: 250px;
    position: absolute;
    top: -50px;
    padding: 10px;
    border-radius: 8px;
}

.btnNo {
    background-color: #fe0000;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
}

.btnYes {
    background-color: #05976a;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
}
