
<div class="container">
    <div class="row justify-content-center margin-bottom-md">
       @* <i class="warningIcon bi bi-question-circle" style="font-size:50px"></i>*@
    </div>
    <div class="row justify-content-center  margin-bottom-md">
        @((MarkupString)Message)
    </div>
    <div class="row justify-content-center mt-2">
        <button type="button" class="btnNo btn btn-warning mr-2" @onclick="() => Confirmation(false)">NO</button>
        <button type="button" class="btnYes btn btn-primary" @onclick="() => Confirmation(true)">YES</button>
    </div>
</div>

@code {
    public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "btn btn-danger";
    [Parameter] public string Message { get; set; } = "Are you sure?";
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public void Confirmation(bool value)
    {
         BlazoredModal.CloseAsync(ModalResult.Ok(value));
    }
}