
.maincontainer {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#281728 20%,rgba(132,31,53,1) 60%,#101019 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    border-radius: 5px;
}

h6 {
    color: #dbb81e;
    margin-bottom: 0;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    /* background-color: #101019;*/
    padding: 48px 0;
}

a {
    text-decoration: none;
}

.logo {
    max-width: 350px;
    width: 100%;
}

.cardWidth {
    max-width: 550px;
    margin: 0;
}

.card-body {
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 27px;
}

.logInField {
    margin-bottom: -5px;
}

/* enable absolute positioning */
.eye {
    position: absolute;
    top: 1%;
    right: 1%;
    transform: translate(-50%,0);
    font-size: 25px;
}

.eyeContainer {
    position: relative;
}


.g-recaptcha-outer {
    text-align: center;
    border-radius: 0px;
    background: #ffffff;
    border-style: none;
    border-color: #37474f;
    border-width: 1px;
    border-bottom-width: 2px;
}

.g-recaptcha-inner {
    width: 300px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}

.g-recaptcha {
    position: relative;
    left: -2px;
    top: -1px;
}

.logo-pagcor {
    max-width: 200px;
    margin-top: 5px;
}
.valid-msge {
    color: #fff;
    font-size: 17px;
    position: relative;
    background: #a53d38;
    margin: 5px;
    border-radius: .4em;
    padding: 8px 0;
}
.valid-msge::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #a53d38;
    border-top: 0;
    border-left: 0;
    margin-left: -50px;
    margin-top: -20px;
}