.link-header {
    display: inline-flex;
}

.selected-icon {
    position: absolute;
    right: 9px;
    top: 3px;
    width: 14px;
    height: 14px;
    font-weight: bold;
    font-size: 15px;
    color: gold;
    background: black;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
}

#gameList > #liveGames, #gameList > #cardGames, #gameList > #arcadeGames, #gameList > #slotGamesGames {
    padding-left: 0px;
    padding-right: 0px;
}

#linkHeader.col {
    flex: inherit;
    width: 10rem;
    margin: 10px;
}
#link-header .link-header {
    margin: 0px 5px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
}

.active {
    border-bottom: 10px solid #ffffff;
}

.selected > div > .bg-provider {
    border-bottom: 4px solid gold;
    border-radius: 0px !important;
    color: gold;
}

.selected > .text-mute {
    color: #212121;
}

.text-mute {
    color: #8e8e8e;
}
.r-40 {
    right: 40px;
}

@media only screen and (min-width: 992px) {
    .gameOverflow-x {
        overflow-x: inherit;
    }

    .link-header {
        width: 10rem;
        display: inline;
    }
    .link-header img{
        min-width: 150px;
    }
}

@media screen and (max-width: 991px) {
    .link-header {
        width: 6rem;
        height: 5rem;
    }


    #linkHeader.col {
        flex: 1 0 0%;
        margin: 3px;
    }
}

@media screen and (max-width: 600px) {
    h6, h5 {
        font-size: 9px;
    }

    h2 {
        font-size: 20px;
    }
}