#change-password {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#000 20%,rgb(10, 10, 10) 60%,#101019 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-gpa {
    background: #6e182c;
    font-weight: bold;
    color: #fff;
}

#change-password .text-muted {
    color: #afafaf !important;
}

.start-30 {
    left: 30%;
}

.start-58 {
    left: 58%;
}

.start-20 {
    left: 20%;
}

.top-30 {
    top: 30%;
}

.top-15 {
    top: 15%;
}

.font-12 {
    font-size: 12px;
}

.gpa-text {
    color: #6e182c;
}

input[type="file"] {
    display: none;
}
input::placeholder{
    color: #fff;
}
input.form-check.border {
    border: 1px solid #7f7f7f !important;
}

#change-password input {
    background: transparent;
    border: none;
    color: #fff;
    width: 84%;
    padding: 4px;
}

.change-img > span {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background: #a4a4a4;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.hide {
    display: none;
}