<div class="offcanvas offcanvas-end text-white" tabindex="-1" id="change-password" aria-labelledby="edit-profileLabel">
    <form action="" data-bs-scroll="true" tabindex="-1" class="overflow-auto">
        <div class="offcanvas-header">
            <div class="container p-2">
                <div class="row align-items-center">
                    <div class="col">
                        <h5 class="offcanvas-title text-center">Change Password</h5>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col position-relative">
                        <div class="offcanvas-title" id="edit-profileLabel position-relative">
                            <img src="img/user-profile.png" class="card-img-top img-fluid rounded-circle w-25">
                            <label for="change-profile" class="position-absolute change-img top-15 start-20 badge">
                                <span class="rounded-circle">
                                    <i class="fa-solid fa-camera"></i>
                                </span>
                            </label>
                            <input type="file" class="form-control" id="change-profile" accept="image/*">
                            <span class="fw-bold h5 ms-4">Php 1,000,000.00</span>
                        </div>
                        <p>
                            <span class="h5 fw-bold">Juan Dela Cruz </span><br>
                            <span class="h5 fw-bold font-12">+63 987 654 3210</span><br>
                            <span class="text-muted font-12">Status :</span>
                            @* <span class="font-12"><i class="fa-regular fa-face-sad-tear text-warning"></i> Not Verified</span> *@
                            <span class="font-12"><i class="fa-regular fa-circle-check text-success"></i>&nbsp; Fully Verified</span>
                        </p>
                    </div>
                </div>
                <hr class="m-0">
            </div>
        </div>
        <div class="offcanvas-body p-0">
            <div class="container p-3">
                <p>
                    <span class="text-muted"><i class="fa-solid fa-unlock"></i> Old Password</span><br>
                    <input type="password" value="" placeholder="xxxxxxxxx" id="oldPassword" class="form-check border border-1 rounded-3 w-100" required>
                    <label class="btn border-0" for="oldPassword"></label>
                </p>
                <p>
                    <span class="text-muted"><i class="fa-solid fa-lock"></i> New Password</span><br>
                    <input type="password" value="" placeholder="xxxxxxxxx" id="newPassword" class="form-check border border-1 rounded-3 w-100" required>
                    <label class="btn border-0" for="newPassword"></label>
                </p>
                <p>
                    <span class="text-muted"><i class="fa-solid fa-lock"></i> Confirmed New Password</span><br>
                    <input type="password" value="" placeholder="xxxxxxxxx" id="confirmedNewPassword" class="form-check border border-1 rounded-3 w-100" required>
                    <label class="btn border-0" for="confirmedNewPassword"></label>
                </p>
            </div>
            <div class="container">
                <div class="col-12">
                    <button href="#" class="btn col-12 btn-gpa">Update Password</button>
                </div>
            </div>
        </div>
    </form>
</div>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

        private string newPassword;
        private string confirmedNewPassword;

    private void CheckPasswords()
    {
        if (newPassword != confirmedNewPassword)
        {
            // Passwords don't match, handle accordingly
            // For example, you could display an error message
            // or prevent further action until they match.
            return;
        }

        // Passwords match
        // Proceed with further action, if needed
    }
}