.btn-gpa {
    background: #6e182c !important;
    font-weight: bold;
    color: #fff;
}

#edit-profile .text-muted {
    color: #afafaf !important;
}

#edit-profile input {
    color: #fff;
    width: 84%;
    padding: 4px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #4b4a4a;
}

.change-img > span {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background: #a4a4a4;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

#change-password .text-muted {
    color: #afafaf !important;
}

.start-30 {
    left: 30%;
}

.start-58 {left: 58%;}

.start-20 {left: 20%;}

.top-30 {
    top: 30%;
}

.top-15 {
    top: 15%;
}

.font-12 {
    font-size: 12px;
}

.gpa-text {
    color: #6e182c;
}

input[type="file"] {
    display: none;
}

input::placeholder {
    color: #fff;
}

input.form-check.border {
    border: 1px solid #7f7f7f !important;
}

#change-password input {
    background: transparent;
    border: none;
    color: #fff;
    width: 84%;
    padding: 4px;
}

.change-img > span {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background: #a4a4a4;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.disInput{
    display: none;
}
.hide{
    display: none;
}


/*h2 {
    text-decoration: none;
}

.accordion {
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.card button {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.card-header::{
    padding: 0;
}
.bdayField {
    width: 100%;
    margin: 0 auto;
}

label {
    background-color: #176c97;
    border: none;
    padding: 2px 10px;
    margin-bottom: 0;
    color: white;
}

span {
    color: red;
    font-weight: 500;
}

disInput {
    text-align: center;
    border: 3px solid #2db3b5;
    background-color: #b0b0b0;
    color: white;
    font-weight: 400;
}
.idHolder {
    padding-bottom: 80px;
}
#headingFive {
    background-color: #e06d65;
    padding: 0;
}
    #headingOne, #headingTwo, #headingThree, #headingFour {
        padding: 0
    }
    i {
        font-size: 20px;
        margin: 0 auto;
        padding: 0;
    }*/