@using System.Collections.ObjectModel
@using GoPlayAsiaWebApp.Goplay.ViewModels


<div class="betTrendsCon">
    @if (RoundStatusString == "CANCELLED")
    {
        <h6 class="cancelledGame mt-2 mb-2 font-weight-bold text-center">GAME CANCELLED, BETS RETURNED</h6>
    }
    <h6 class="gHeaderCon mt-2 mb-2 font-weight-bold text-center" style="background:  none; border: 1px solid white">Total Bets: @TotalBets</h6>
    <h6 class="text-light font-weight-bold justify-content-center d-flex " style="background-color: red; border: 1px solid white; border-radius: 5px; width: 100%;">GAME RESULT</h6>
</div>


@if (TrendsDisplay != null)
{
    <div class="trendsMainCon container-fluid row flex-nowrap">
        <Virtualize Items="TrendsDisplay" Context="_trends">
     @*   @foreach (var _trends in TrendsDisplay)
        {*@
            <div class="roinnerCon col-m-1">
                <Virtualize Items="_trends.CurrentList" Context="_trenditems">
             @*   @foreach (var _trenditems in _trends.CurrentList)
                {*@
                    <div class="row trendsCon">
                        <p class="dwGameNum">#@_trenditems.TrendsNumberDisplay</p>
                        <p class="dwGameRes">@_trenditems.NonCardsResultDisplay</p>
                    </div>
                @*}*@
                </Virtualize>
            </div>
            </Virtualize>
        @*}*@
    </div>
}





