<div class="container p-0">
    <div class="row modal-size">
        <div class="col-12 p-0 trans-details">
            <p>
                <span>Date</span>
                <span>: April 21, 2024</span>
            </p>
            <p>
                <span>Total Deposit</span>
                <span>: 20,000.00</span>
            </p>
            <p>
                <span>Total Win</span>
                <span>: 20,000.00</span>
            </p>
            <p>
                <span>Total Win</span>
                <span>: 20,000.00</span>
            </p>
            <p>
                <span>Total Withdrawal</span>
                <span>: 20,000.00</span>
            </p>
            <button @onclick="Close" class="btn gpa-btn col-12">Okay</button>
        </div>
    </div>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private async Task Close() => await BlazoredModal.CloseAsync();
}
