@page "/cardGames"
@using GoPlayAsiaWebApp.Layout.Components.LinkHeader
@using GoPlayAsiaWebApp.Layout.Games.Cards
@using GoPlayAsiaWebApp.Layout.Games.GPAGames
@using GoPlayAsiaWebApp.Layout.Games.Fishing
<PageTitle>GoPlayAsia: Card Games </PageTitle>

<div id="cardGames" class="container-fluid p-0 marketing">
    <div class="container pt-5">
        <div class="row justify-content-center py-4 pt-5">
            <GameLinkHeader _gameHrefStr="GoPlayAsiaGames"
                            _imgGameStr="./img/GPAGames/liveGames.png"
                            _typeGameStr="Live" />

            <GameLinkHeader _gameHrefStr="arcadeGames"
                            _imgGameStr="./img/Arcade/GoRush_2.png"
                            _typeGameStr="Arcade" />

            <GameLinkHeader _gameHrefStr="slotGames"
                            _imgGameStr="./img/SlotGames/SuperAce_2.png"
                            _typeGameStr="Slots" />

            <GameLinkHeader _gameHrefStr="cardGames"
                            _activeClassStr="active"
                            _imgGameStr="./img/CardGames/baccarat_2.png"
                            _typeGameStr="Cards" />

            <GameLinkHeader _gameHrefStr="fishingAndArcadeGames"
                            _imgGameStr="./img/fishing/HappyFishing_2.png"
                            _typeGameStr="Fishing" />
        </div>
    </div>
    <div class="container">
        <h2 class="text-white fw-bold mt-5">Top Table Games!</h2>
        <h5 class="text-muted">Bet now while the table's hot!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <CardTile _imgStr="./img/CardGames/pokerKing.png"
                          _titleStr="Poker King" />

                <CardTile _imgStr="./img/CardGames/hilo.png"
                          _titleStr="Hilo" />

                <CardTile _imgStr="./img/CardGames/BlackJack.png"
                          _titleStr="Black Jack" />

                <CardTile _imgStr="./img/CardGames/callBreak.png"
                          _titleStr="Callbreak Quick" />

                <CardTile _imgStr="./img/CardGames/MiniFlush.png"
                          _titleStr="Mini Flush" />

                <CardTile _imgStr="./img/CardGames/baccarat.png"
                          _titleStr="Baccarat" />

                <CardTile _imgStr="./img/CardGames/DragonTiger.png"
                          _titleStr="Dragon & Tiger" />

                <CardTile _imgStr="./img/CardGames/rummy.png"
                          _titleStr="Rummy" />

                <CardTile _imgStr="./img/CardGames/ak47.png"
                          _titleStr="AK47" />

                <CardTile _imgStr="./img/CardGames/andarBahar.png"
                          _titleStr="Andar Bahar" />

                <CardTile _imgStr="./img/CardGames/SicBo.png"
                          _titleStr="Sic Bo" />

                <CardTile _imgStr="./img/CardGames/7Up7down.png"
                          _titleStr="7 up 7 down" />

                <CardTile _imgStr="./img/CardGames/NumberKing.png"
                          _titleStr="Number King" />
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Live and Exciting Games!</h2>
        <h5 class="text-muted">Real-Time Fun: Dive into Live Gaming Today!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <GPATile _imgStr="./img/GPAGames/BW.png"
                         _idStr="bigWin"
                         _titleStr="Big Win" />

                <GPATile _imgStr="./img/GPAGames/G12.png"
                         _idStr="go12"
                         _titleStr="Go 12" />

                @* <GPATile _imgStr="./img/GPAGames/new-dice.png"
                         _idStr="diceGame"
                         _titleStr="Dice" />

                <GPATile _imgStr="./img/GPAGames/hooray.png"
                         _idStr="hooray"
                         _titleStr="Hooray!" /> *@

                <GPATile _imgStr="./img/GPAGames/L9.png"
                         _idStr="lucky9"
                         _titleStr="Lucky 9" />

                <GPATile _imgStr="./img/GPAGames/L4.png"
                         _idStr="lucky4"
                         _titleStr="Lucky 4" />

                <GPATile _imgStr="./img/GPAGames/F3.png"
                         _idStr="first3"
                         _titleStr="First 3" />

                <GPATile _imgStr="./img/GPAGames/HT.png"
                         _idStr="headsAndTails"
                         _titleStr="Heads and Tails" />

            </div>
        </div>
    </div>
    
    <div class="container">
        <h2 class="text-white fw-bold mt-5">Fun and Exciting Games</h2>
        <h5 class="text-muted">Discover fun in our Fishing Games!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <FishingTile _imgStr="./img/fishing/JackpotFishing.png"
                             _titleStr="Jackpot Fishing"
                             _tryoutsHrefStr="https://wbgame-demo.jiligames.com/fish3/index.html?ssoKey=1b1dfbc4d7c607b459396fecbe0b715139f9917e&lang=en-US&demo=true&be=moc.semagilij.a-ipabewbw&gameId=32&loginFrom=wb-gaming&gs=moc.semagilij.omed-tols&domain_platform=moc.gnidnawcs.df-tolsbw-tau&domain_gs=semagilij&be=moc.semagilij.a-ipabewbw&apiId=6" />

                <FishingTile _imgStr="./img/fishing/MegaFishing.png"
                             _titleStr="Mega Fishing" />

                <FishingTile _imgStr="./img/fishing/HappyFishing.png"
                             _titleStr="Happy Fishing" />

                <FishingTile _imgStr="./img/fishing/DinosaurTycoon.png"
                             _titleStr="Dinosaur Tycoon" />

                <FishingTile _imgStr="./img/fishing/CrazyHunter.png"
                             _titleStr="Crazy Hunter" />

                <FishingTile _imgStr="./img/fishing/BombingFishing.png"
                             _titleStr="Bombing Fishing" />

                <FishingTile _imgStr="./img/fishing/PlinkoEmpire.png"
                             _titleStr="Plinko Empire" />

                <FishingTile _imgStr="./img/fishing/All-StarFishing.png"
                             _titleStr="All-Star Fishing" />

                <FishingTile _imgStr="./img/fishing/BoomLegend.png"
                             _titleStr="Boom Legend" />

                <FishingTile _imgStr="./img/fishing/SecretTreasure.png"
                             _titleStr="Secret Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonTreasure.png"
                             _titleStr="Dragon Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonFortune.png"
                             _titleStr="Dragon Fortune" />
            </div>
        </div>
    </div>
</div>
