@page "/GoPlayAsiaGames"
@inject IModalService ModalService
@using GoPlayAsiaWebApp.Layout.Components.LinkHeader
@using GoPlayAsiaWebApp.Layout.Components.Modal
@using GoPlayAsiaWebApp.Layout.Games.GPAGames
@using GoPlayAsiaWebApp.Layout.Games.Arcade
@using GoPlayAsiaWebApp.Layout.Games.Fishing
<PageTitle>GoPlayAsia: GoPlayAsia Games </PageTitle>

<div id="cardGames" class="container-fluid p-0 marketing">
    <div class="container pt-5">
        <div class="row justify-content-center py-4 pt-5">
            <GameLinkHeader _gameHrefStr="GoPlayAsiaGames"
                            _activeClassStr="active"
                            _imgGameStr="./img/GPAGames/liveGames.png"
                            _typeGameStr="Live" />

            <GameLinkHeader _gameHrefStr="arcadeGames"
                            _imgGameStr="./img/Arcade/GoRush_2.png"
                            _typeGameStr="Arcade" />

            <GameLinkHeader _gameHrefStr="slotGames"
                            _imgGameStr="./img/SlotGames/SuperAce_2.png"
                            _typeGameStr="Slots" />

            <GameLinkHeader _gameHrefStr="cardGames"
                            _imgGameStr="./img/CardGames/baccarat_2.png"
                            _typeGameStr="Cards" />

            <GameLinkHeader _gameHrefStr="fishingAndArcadeGames"
                            _imgGameStr="./img/fishing/HappyFishing_2.png"
                            _typeGameStr="Fishing" />
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">GoAsia Odyssey!</h2>
        <h5 class="text-muted">Real-Time Fun: Dive into Live Gaming Today!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <GPATile _imgStr="./img/GPAGames/L9.png"
                         _idStr="lucky9"
                         _titleStr="Lucky 9"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/lucky9" />

                <GPATile _imgStr="./img/GPAGames/L4.png"
                         _idStr="lucky4"
                         _titleStr="Lucky 4"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/lucky4" />

                <GPATile _imgStr="./img/GPAGames/HT.png"
                         _idStr="headsAndTails"
                         _titleStr="Heads and Tails"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/headstails" />

                <GPATile _imgStr="./img/GPAGames/F3.png"
                         _idStr="first3"
                         _titleStr="First 3"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/first3" />
                

                <GPATile _imgStr="./img/GPAGames/BW.png"
                         _idStr="bigWin"
                         _titleStr="Big Win"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/bigwin" />

                <GPATile _imgStr="./img/GPAGames/G12.png"
                         _idStr="go12"
                         _titleStr="Go 12"
                         _gameInfoHrefStr="https://play.goplayasia.com/games/go12" />

                <GPATile _imgStr="./img/GPAGames/new-dice.png"
                         _idStr="diceGame"
                         _titleStr="Dice" />

                <GPATile _imgStr="./img/GPAGames/hooray.png"
                         _idStr="hooray"
                         _titleStr="Hooray!" />
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold mt-5">Fun and Exciting Games</h2>
        <h5 class="text-muted">Discover fun in our Fishing Games!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <FishingTile _imgStr="./img/fishing/JackpotFishing.png"
                             _titleStr="Jackpot Fishing"
                             _tryoutsHrefStr="https://wbgame-demo.jiligames.com/fish3/index.html?ssoKey=1b1dfbc4d7c607b459396fecbe0b715139f9917e&lang=en-US&demo=true&be=moc.semagilij.a-ipabewbw&gameId=32&loginFrom=wb-gaming&gs=moc.semagilij.omed-tols&domain_platform=moc.gnidnawcs.df-tolsbw-tau&domain_gs=semagilij&be=moc.semagilij.a-ipabewbw&apiId=6" />

                <FishingTile _imgStr="./img/fishing/MegaFishing.png"
                             _titleStr="Mega Fishing" />

                <FishingTile _imgStr="./img/fishing/HappyFishing.png"
                             _titleStr="Happy Fishing" />

                <FishingTile _imgStr="./img/fishing/DinosaurTycoon.png"
                             _titleStr="Dinosaur Tycoon" />

                <FishingTile _imgStr="./img/fishing/CrazyHunter.png"
                             _titleStr="Crazy Hunter" />

                <FishingTile _imgStr="./img/fishing/BombingFishing.png"
                             _titleStr="Bombing Fishing" />

                <FishingTile _imgStr="./img/fishing/PlinkoEmpire.png"
                             _titleStr="Plinko Empire" />

                <FishingTile _imgStr="./img/fishing/All-StarFishing.png"
                             _titleStr="All-Star Fishing" />

                <FishingTile _imgStr="./img/fishing/BoomLegend.png"
                             _titleStr="Boom Legend" />

                <FishingTile _imgStr="./img/fishing/SecretTreasure.png"
                             _titleStr="Secret Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonTreasure.png"
                             _titleStr="Dragon Treasure" />

                <FishingTile _imgStr="./img/fishing/DragonFortune.png"
                             _titleStr="Dragon Fortune" />
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-white fw-bold">Enjoyable and Dynamic games!</h2>
        <h5 class="text-muted">Begin rotating for your chance to win big!</h5>
        <div class="pb-4 gameOverflow-x">
            <div class="row justify-content-center">
                <ArcadeTile _imgStr="./img/Arcade/Mines.png"
                            _titleStr="Mines" />

                <ArcadeTile _imgStr="./img/Arcade/GoRush.png"
                            _titleStr="Go Rush" />

                <ArcadeTile _imgStr="./img/Arcade/Limbo.png"
                            _titleStr="Limbo" />

                <ArcadeTile _imgStr="./img/Arcade/Tower.png"
                            _titleStr="Tower" />

                <ArcadeTile _imgStr="./img/Arcade/CrazyPusher.png"
                            _titleStr="Crazy Pusher" />

            </div>
        </div>
    </div>

</div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private GameInfoModal modal = new GameInfoModal(); // Initialize here

    private void ShowModal(string _idStr)
    {
        modal.ShowModal(_idStr);
    }
}