@page "/"
@page "/home"
@using GoPlayAsiaWebApp.Controls.FeaturedGames
@using GoPlayAsiaWebApp.Controls.GameLinkHeader
@using GoPlayAsiaWebApp.Controls.GameRegulation
@using GoPlayAsiaWebApp.Controls.MostPlayedGames
@using GoPlayAsiaWebApp.Controls.Carousel
@using GoPlayAsiaWebApp.Pages.EGames.ArcadeGames
@using GoPlayAsiaWebApp.Pages.EGames.CardGames
@using GoPlayAsiaWebApp.Pages.EGames.FishingGames
@using GoPlayAsiaWebApp.Pages.EGames.LiveCasino
@using GoPlayAsiaWebApp.Pages.EGames.SlotGames
@using GoPlayAsiaWebApp.Pages.GPAGames.WelcomGPA

<PageTitle>GoPlayAsia: Home</PageTitle>
        
<Carousel />

<div class="container-fluid marketing">

    <div class="container">
        <GameLinkHeader />

        <MostPlayedGames />

        <FeaturedGames/>

        <LiveCasino />

        <CardGames />

        <ArcadeGames />

        <FishingGames />

        <SlotsGames />

        <WelcomeGPA />

    </div>
    <GameRegulation />
    @if (showAgeAgreement)
    {
        <AgeAgreement OnAgree="HandleAgeAgreement" />
    }
</div>
@code {
    private bool showAgeAgreement = true;

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var agreed = await JSRuntime.InvokeAsync<bool>("localStorage.getItem", "agreedToTerms");

        if (agreed)
        {
            showAgeAgreement = false;
        }
    }

    private async Task HandleAgeAgreement()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "agreedToTerms", true);
        showAgeAgreement = false;
        StateHasChanged();
    }
}