<nav class="navbar top-navbar navbar-expand-lg fixed-top navbar-dark bg-black">
    <div class="container">
        <button class="navbar-toggler gpa-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="home" class="navbar-brand gpa-navbar-brand d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="./img/gpa-logo.png" class="img-fluid logo" alt="GoPlayAsia">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items w-100">
                <li class="nav-item">
                    <a href="home" class="nav-link px-2 link-dark">
                        <i class="fa-solid home-icon"></i> HOME
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid explore-icon"></i> EXPLORE
                    </a>
                    <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item link-light bg-black" href="AboutUs">Who We Are</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="ourTeam">Our Team</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="contactUs">Contact Us</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="FAQ's">FAQ's</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="PrivacyPolicy">Privacy Policy</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid gpa-icon"></i> GOPLAYASIA
                    </a>
                    <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item link-light bg-black" href="#">Lucky 9</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">Lucky 4</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">First 3</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">Heads & Tails</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">Big Win</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">Go 12</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="#">Dice</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-2 link-dark bg-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid featured-icon"></i> FEATURED GAMES
                    </a>
                    <ul class="dropdown-menu link-dark bg-black" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item link-light bg-black" href="arcadeGames">Arcade</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="cardGames">Cards</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="fishingAndArcadeGames">Fishing</a></li>
                        <li><a class="dropdown-item link-light bg-black" href="slotGames">Slots</a></li>
                    </ul>
                </li>

                @* <li class="nav-item loginAndSignUp">
                <a href="https://beta2.goplayasia.com/" class="btn btn-outline-warning fw-bold me-2">LOGIN</a>
                <button type="button" class="btn btn-outline-warning fw-bold" data-bs-toggle="modal" data-bs-target="#ageConfirmModal">SIGN-UP</button>
                </li> *@

                <li class="nav-item loginAndSignUp">
                    @*  <a type="button" class="btn btn-outline-warning fw-bold me-2" href="/login">Login</a>
                    <a type="button" class="btn btn-outline-warning fw-bold" href="/signup">Sign-up</a> *@
                    <button type="button" class="btn btn-outline-warning fw-bold me-2" data-bs-toggle="modal" data-bs-target="#logInForm">Login</button>
                    <button type="button" class="btn btn-outline-warning fw-bold" data-bs-toggle="modal" data-bs-target="#ageConfirmModal">Sign-up</button>

                </li>

            </ul>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('click', function (event) {
        var navbarCollapse = document.querySelector('.navbar-collapse');
        var navbarToggler = document.querySelector('.navbar-toggler');

        // Check if the click is inside the navbar or its children
        var isClickInsideNavbar = document.querySelector('.navbar').contains(event.target);

        // If the click is outside the navbar or its children and the navbar is open, close it
        if (!isClickInsideNavbar && navbarCollapse.classList.contains('show')) {
            navbarToggler.click();
        }
    });
</script>