<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="settingOffCanvas" aria-labelledby="settingOffCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="settingOffCanvasLabel">Settings</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item position-relative" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" aria-current="page" href="/User'sProfile">
                    <span><i class="fa-solid fa-user"></i></span>
                    <span class="ms-3"> Profile</span>
                </a>
                <span data-bs-toggle="offcanvas" data-bs-target="#account-verification" aria-controls="account-verification" class="position-absolute top-0 start-30 badge bg-danger p-2 text-decoration-none btn border-0">
                    Verify Now!
                </span>
            </li>
            @* <li class="nav-item">
            <a class="nav-link fw-bold" href="#">
            <span><i class="fa-solid fa-medal"></i></span>
            <span class="ms-3"> VIP Level</span>
            </a>
            </li> *@
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" href="wallet">
                    <span><i class="fa-solid fa-credit-card"></i></span>
                    <span class="ms-3"> Widthdraw</span>
                </a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" href="wallet">
                    <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                    <span class="ms-3"> Cash-In / Deposit</span>
                </a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" href="/notification">
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <span class="ms-3"> Inbox</span>
                </a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold btn border-0" data-bs-toggle="offcanvas" data-bs-target="#change-password" aria-controls="change-password">
                    <span><i class="fa-solid fa-lock"></i></span>
                    <span class="ms-3"> Change Password</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="#">
                    <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    <span class="ms-3"> Logout</span>
                </a>
            </li>
            @* <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
            <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li> *@
        </ul>
        <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
</div>