<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-bottom-navbar pb-0 pt-1">
    <div id="navBarBottom" class="container">
        <a href="GoPlayAsiaGames" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid gpa-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Games</span>
            </div>
        </a>
        <a href="GameHistory" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid history-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">History</span>
            </div>
        </a>
        <a href="/credit" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid wallet-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Wallet</span>
            </div>
        </a>
        <a href="notification" class="navbar-brand text-center text-muted">
            <div class="icon">
                <i class="fa-solid inbox-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Notification</span>
            </div>
        </a>
        <a class="navbar-brand text-center text-muted" data-bs-toggle="offcanvas" data-bs-target="#settingOffCanvas" aria-controls="settingOffCanvas">
            <div class="icon">
                <i class="fa-solid setting-btm-icon"></i>
            </div>
            <div class="menuText">
                <span class="text-uppercase small">Setting</span>
            </div>
        </a>
    </div>    
</nav>