@inject GameHeaderViewModel gameHeaderViewModel
@using GoPlayAsiaWebApp.Goplay.Shared.Popup
@using GoPlayAsiaWebApp.Goplay.ViewModels;


<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="settingOffCanvas" aria-labelledby="settingOffCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="settingOffCanvasLabel">Settings</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item position-relative" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold btn" data-bs-toggle="offcanvas" data-bs-target="#edit-profile" aria-controls="edit-profile">
                    <span><i class="fa-solid fa-user"></i></span>
                    <span class="ms-3"> Profile</span>
                </a>
                @*  <a class="nav-link fw-bold" aria-current="page" href="/User'sProfile">
                <span><i class="fa-solid fa-user"></i></span>
                <span class="ms-3"> Profile</span>
                </a> *@
                @* <span data-bs-toggle="offcanvas" data-bs-target="#account-verification" aria-controls="account-verification" class="position-absolute top-0 start-30 badge bg-danger p-2 text-decoration-none btn border-0">
                    Verify Now!
                </span> *@
            </li>
            @* <li class="nav-item">
            <a class="nav-link fw-bold" href="#">
            <span><i class="fa-solid fa-medal"></i></span>
            <span class="ms-3"> VIP Level</span>
            </a>
            </li> *@
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold cashOut" href="/Credit/withdraw">
                    <span><i class="fa-solid fa-credit-card"></i></span>
                    <span class="ms-3"> Withdraw/Cashout</span>
                </a>
            </li>
            <li class="nav-item cashIn" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" href="credit">
                    <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                    <span class="ms-3"> Cash-In / Deposit</span>
                </a>
            </li>
            <li class="nav-item notification" data-bs-dismiss="offcanvas">
                <a class="nav-link fw-bold" href="/notification">
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <span class="ms-3"> Notification</span>
                </a>
            </li>
            <li class="nav-item" data-bs-dismiss="offcanvas">
                <a id="change-password-link" class="nav-link fw-bold btn border-0" data-bs-toggle="offcanvas" data-bs-target="#change-password" aria-controls="change-password">
                    <span><i class="fa-solid fa-lock"></i></span>
                    <span class="ms-3"> Change Password</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" @onclick:preventDefault @onclick="logout" href="/">
                    <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    <span class="ms-3"> Logout</span>
                </a>
            </li>
            @* <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
            <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li> *@
        </ul>
        @* <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form> *@
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-bs-target="#edit-profile"]').on('click', function () {
            $('#edit-profile.offcanvas.show #change-password-form').addClass('hide');
        });
        $('[data-bs-target="#change-password"]').on('click', function () {
            $('#change-password.offcanvas.show #edit-profile-form').addClass('hide');
        });

        $('#settingOffCanvas .notification, #settingOffCanvas .cashIn, #settingOffCanvas .cashOut').click(function (e) {
            $('#navBarBottom a').removeClass('active');
            $('#wallet-headerIcon a').removeClass('active');

            // Handle navBarBottom active class
            if ($(this).hasClass('notification')) {
                $('#navBarBottom .notification').addClass('active');
            } else {
                $('#navBarBottom .wallet').addClass('active');
            }

            // Handle wallet-headerIcon active class
            if ($(this).hasClass('cashIn')) {
                $('#wallet-headerIcon a.cashIn').addClass('active');
            } else if ($(this).hasClass('cashOut')) {
                $('#wallet-headerIcon a.cashOut').addClass('active');
            }
        });
    });
</script>
@code {
    public string cssvar { get; set; } = "cssdef";
    [CascadingParameter] public IModalService popupModal { get; set; }
    private async Task logout()
    {
        var parameters = new ModalParameters();
        parameters.Add("Message", "Are you sure you want to logout?");
        var popupConfirm = popupModal.Show<PopupLogout>("", parameters, new ModalOptions() { Class = "op-modal" });
        ModalResult result = await popupConfirm.Result;
        if (result.Data != null)
        {
            if ((bool)result.Data)
            {
                await gameHeaderViewModel.Logout();
            }
        }
    }
}
