@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="container">
        <div class="authCon container">
            @*<img src="/img/goplay-logo-round.webp" height="60px" width="60px" class="gpaIcon" />*@
            @* <div class="lds-ripple"><div></div><div></div></div> *@
            @* <div class="container justify-content-center">
                    <img src="/img/loading.webp" class="img img-fluid" />
                </div>
            *@
            <div class="loading-progress">
                <img class="img-fluid img" src="/img/loading.webp" />
            </div>
        </div>
    </div>


}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(500); // TODO actual initialization job
        isLoaded = true;
    }
}
