
@using GoPlayAsiaWebApp.Controls.HeaderAndFooter
@using GoPlayAsiaWebApp.Pages.Profile
@using GoPlayAsiaWebApp.Pages.Login.LogInModal
<header class="container-fluid bg-black">
    <div class="container">
        @*======== Guest Top NavBar ========*@
        @* <GuestTopNavbar /> *@

        @*======== PLayer Top NavBar ========*@
        <PlayerTopNavbar />

    </div>
</header>

@*======== Guest Sticky NavBar Bottom ========*@
@* <GuesBottomNavbar /> *@

@*======== PLayer Sticky NavBar Bottom and OffCanvas Menu ========*@
<PlayerBottomNavbar />
<PlayerOffCanvasMenu/>
<EditProfileOffCanvas />
<ChangePassword />
<AccountVerification />

<LoginAndSignUp />
