
@using GoPlayAsiaWebApp.Controls.HeaderAndFooter
@using GoPlayAsiaWebApp.Pages.Profile
@using GoPlayAsiaWebApp.Pages.Login.LogInModal
@using GoplayasiaBlazor.Core.Global.Interface
@inject ICurrentUser _iCurrentUser

<header class="container-fluid bg-black">
    <div class="container">
        <AuthorizeView>
            <Authorized>
                <PlayerTopNavbar />
                <PlayerBottomNavbar />
                <PlayerOffCanvasMenu />
                <EditProfileOffCanvas />
                <ChangePassword />
                <AccountVerification />
            </Authorized>
            <NotAuthorized>
                <GuestTopNavbar />
                <GuesBottomNavbar />
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

@code{
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        var isloggedin = _iCurrentUser.isLoggedIn;
        return base.OnAfterRenderAsync(firstRender);
    }
}

