main {
    max-width: 640px;
    margin: 0 auto;

}
.carousel-item img {
    max-width: 640px;

    margin: 0 auto;

}
.gpa-btn {
    background: #6e182c;
    font-weight: bold;
    color: #fff;
}
iframe {
    max-width: 640px !important;
}
.containerVid {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
ol {
    padding-inline-start: 20px !important;
}
td, th {
    padding:5px;
}
tr, td{
    border: 1px solid #808080;
}