body {
    font-family: Open Sans,Oswald,Arial,sans-serif !important;
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
}

.marketing {
    background-image: url(./img/bg-middle.png),linear-gradient(180deg,#000 20%,rgb(10, 10, 10) 60%,#101019 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
}


.nav-link:hover, .nav-link:focus {
    border: none;
}

.nav-link.active {
    border-width: 0px 0px 4px 0px;
    border-color: #6e182c;
    border-style: solid;
}
.gpa-btn-delete {
    color: #6e182c;
    font-weight: bold;
}

#gameHistoryTab {
    min-height: 20vh;
    max-height: 50vh;
    overflow-y: auto;
}

table {
    font-size: 13px;
}
table tr{
    vertical-align: middle;
}

@media only screen and (min-width: 992px) {
    .gameHistory-cardContainer {
        width: 8rem;
    }
}

@media screen and (max-width: 460px) {
    .gameHistory-cardContainer {
        width: 8rem;
    }
}

@media screen and (max-width: 414px) {
    .gameHistory-cardContainer {
        width: 8rem;
    }

}

@media screen and (max-width: 320px) {
    .gameHistory-cardContainer {
        width: 7rem;
    }

    .card-title {
        font-size: .95rem;
    }
}