<div class="container">
    <h2 class="text-white fw-bold mt-5">Featured Games</h2>
    <h5 class="text-muted mb-4">Spotlight on Gaming's Finest Selections</h5>
    <div id="feat-games" class="pb-4 gameOverflow-x">
        <div class="row justify-content-center">
            <FeaturedGamesTile _imgStr="./img/featuredGames/GPA.png"
                           _imgClassName="GPA"
                           _titleStr="GOPLAYASIA"
                           _contentStr="Dive into fun and winning with our culturally significant remote games."
                           _hrefStr="GoPlayAsiaGames"
                           _hrefContentStr="Join the fun!" />

            <FeaturedGamesTile _imgStr="./img/featuredGames/LJ-2.png"
                           _imgClassName="basketBall"
                           _titleStr="ESPORTS"
                            _contentStr="Unleash your fervent passion at the ultimate gaming hub of unparalleled excitement."
                           _hrefStr=""
                           _hrefContentStr="Enter the game!" />

            <FeaturedGamesTile _imgStr="./img/featuredGames/arcade-2.png"
                           _imgClassName="arcade"
                           _titleStr="Fishing / Arcade"
                           _contentStr="Impressive visuals, captivating gameplay, and unbeatable fun."
                           _hrefStr="fishingAndArcadeGames"
                           _hrefContentStr="Enter the game!" />

            <FeaturedGamesTile _imgStr="./img/featuredGames/winner.png"
                           _imgClassName="lottery"
                           _titleStr="SLOTS"
                           _contentStr="Seize the moment and watch your wildest lottery dreams unfold."
                           _hrefStr="slotGames"
                           _hrefContentStr="Get your ticket now!" />

            <FeaturedGames _imgStr="./img/featuredGames/dealer.png"
                           FeaturedGamesTile_imgClassName="casino"
                           _titleStr="Table and Cards"
                           _contentStr="Discover exclusive gaming thrills with our premium selection."
                           _hrefStr="cardGames"
                           _hrefContentStr="Take your turn!" />
        </div>
    </div>
</div>
