.tokenContainer { 
    margin: 0 auto;
 
}
/*.DistokenContainer {
    filter: grayscale(100%);
    pointer-events: none;
    overflow: hidden;
    overflow: auto;
    height: 52px;
    max-width: 640px;
    margin: 0 auto;
}*/
.tokenRelative {
    position: relative;
    margin: 5px;
    width: fit-content;
    cursor: pointer;
}
a {
    text-decoration: none !important;
    color: black;
    font-weight: 600;
}
.tokenValueAbsolute {
    z-index: 1;
    position: absolute;
    top: 50%;
    left:  49%;
    transform: translate(-50%, -50%);
    font-size: 13px;
  
}
img.selectedToken {
    border: 3px solid yellow;
    height: 35px;
    width: 60px;
}
.default {
    height: 35px;
    width: 100%;
  
}

.payoutAmount {
    color: gold;
    font-weight: 600;
    font-size: 14px;
}
.newBetBtn {
    background-color: rgb(69, 219, 18);
    color: white;
    box-shadow: 0px 10px 10px yellow inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(48, 165, 8) inset;
    color: #103100;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    animation: changeColor 1s infinite;
}
@keyframes changeColor {
    from {
        border: 3px solid black;
    }

    to {
        border: 3px solid #FF6C2F;
    }
}
.disnewBetBtn {
    background-color: rgb(69, 219, 18);
    color: #103100;
    box-shadow: 0px 10px 10px yellow inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(48, 165, 8) inset;
    pointer-events: none;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}
.newBackBtn {
    background-color: rgb(128, 128, 128, .4);
    border-radius: 50%;
    color: white;
    padding: 8px 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}