<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>
    </div>
</div>
<div class="slot-machine">
    <div class="reel br-3">
        <div class="symbol"> <img src="./img/luckySlot-images/animal-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-2.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-2.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-5.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-5.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-4.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-4.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-3.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-3.png" /></div>

        <div class="symbol"> <img src="./img/luckySlot-images/animal-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/fruit-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/ball-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/car-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/gem-1.png" /></div>
        <div class="symbol"> <img src="./img/luckySlot-images/zodiac-1.png" /></div>
    </div>
</div>