<div class="container p-0">
    <div class="slotMachine text-center">
        <div class="slot-align">
            <button class="card">
                <img src="/img/luckySlot-images/ball-1.png" class="card-img-top">
            </button>
            <button class="card">
                <img src="/img/luckySlot-images/ball-2.png" class="card-img-top">
            </button>
            <button class="card">
                <img src="/img/luckySlot-images/ball-3.png" class="card-img-top">
            </button>
            <button class="card">
                <img src="/img/luckySlot-images/ball-4.png" class="card-img-top">
            </button>
            <button class="card">
                <img src="/img/luckySlot-images/ball-5.png" class="card-img-top">
            </button>
        </div>
    </div>
</div>