.trans-details > p > span:first-child{
    display: inline-flex;
    width: 60%;
}
.bm-close{
    background: red !important;
}
.btn-gpa {
    background: #6e182c;
    font-weight: bold;
    color: #fff;
}
.modal-size{
    width: 22rem;
}
@media screen and (max-width: 320px) {
    .trans-details > p > span:first-child {
        width: 50%;
    }
    .modal-size {
        width: 17rem;
    }
}