@page "/Wallet"
<PageTitle>GoPlayAsia: User's Wallet</PageTitle>


<div class="container-fluid marketing pt-5">
    <div class="row pt-3 pb-3">
        <div class="container-fluid pt-4 pb-5 bg-white mt-4 rounded-3 justify-content-center" style="width: 48rem;">

            <div id="wallet-headerIcon" class="container-fluid p-0 mb-5">
                <ul class="nav nav-tabs border-0 justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link p-0 active" id="cashIn-tab" data-bs-toggle="tab" data-bs-target="#cashIn-tab-pane" type="button" role="tab" aria-controls="cashIn-tab-pane" aria-selected="true">
                            <div class="card border-0 text-center p-0 wallet-cardContainer">
                                <div class="icon-link icon-link-hover text-decoration-none">
                                    <img class="img-fluid img" src="/img/cash-in.png" style="width: 3rem;" />
                                    <div class="card-body p-0">
                                        <h6 class="card-title text-black mb-0">Cash-In</h6>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link p-0" id="cashOut-tab" data-bs-toggle="tab" data-bs-target="#cashOut-tab-pane" type="button" role="tab" aria-controls="cashOut-tab-pane" aria-selected="false">
                            <div class="card border-0 text-center p-0 wallet-cardContainer">
                                <div class="icon-link icon-link-hover text-decoration-none">
                                    <img class="img-fluid img" src="/img/cash-out.png" style="width: 3rem;" />
                                    <div class="card-body p-0">
                                        <h6 class="card-title text-black mb-0">Cash-Out</h6>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link p-0" id="transaction-tab" data-bs-toggle="tab" data-bs-target="#transaction-tab-pane" type="button" role="tab" aria-controls="transaction-tab-pane" aria-selected="false">
                            <div class="card border-0 text-center p-0 wallet-cardContainer">
                                <div class="icon-link icon-link-hover text-decoration-none">
                                    <img class="img-fluid img" src="/img/trans-history.png" style="width: 3rem;" />
                                    <div class="card-body p-0">
                                        <h6 class="card-title mb-0 text-black">Transactions</h6>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="cashIn-tab-pane" role="tabpanel" aria-labelledby="cashIn-tab" tabindex="0">
                    <CashIn />
                </div>
                <div class="tab-pane fade" id="cashOut-tab-pane" role="tabpanel" aria-labelledby="cashOut-tab" tabindex="0">
                    <CashOut />
                </div>
                <div class="tab-pane fade p-0" id="transaction-tab-pane" role="tabpanel" aria-labelledby="transaction-tab" tabindex="0">
                    <TransactionHistory />
                </div>
            </div>

            

        </div>
    </div>
</div>