<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">Game#</th>
            <th scope="col">No. of Players</th>
            <th scope="col">Major Prize</th>
            <th scope="col">Consolation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">3</th>
            <td><i class="bi bi-people-fill">153</i></td>
            <td class="winningPrize">&#8369;250,000,00</td>
            <td class="winningPrize">&#8369;129,567.00</td>
        </tr>
   
    </tbody>

</table>